> First time use: follow instructions in the README.md file in this directory.


# Receitas

Várias receitas para usar Timelink com notebooks

[Sumário]

---

# Receipts

Receipts for using Timelink with notebooks

[summary]

---
## Setup

### Basic setup

Create a `TimelinkNotebook` instance.

This will provide an interface to the 
various `Timelink` functions.

In [1]:
from timelink.notebooks import TimelinkNotebook

tlnb = TimelinkNotebook()

WARNING:root:Reusing existing container mystifying_beaver

### Changing the default values

When called with no parameters `TimelinkNotebook` 
assumes a certain directory layout containing the notebook
and from that layout autoconfigures various parameters.

The default layout:

* **project-directory**
    * **database** (database related filed)
    * **notebooks**  _(directory with the current notebook)_ 
    * **kleio**  (source files in kleio format)
    * **identifications** (files with identification information)

Based on this layout `TimelinkNotebook` assumes a few default values:

* **database name**
    * the name of the *project directory* is used as the **database name**, sanitized to produce a valid database name
      (hifens and spaces are replaced with _ ).
* **database type**
  * the type of the database is assumed to be **sqlite**  and a **sqlite** database is created in 
      *database/sqlite*
    * the `db_type` parameter can be used to set the database to `postgres`. 
* **Kleio server home**, working directory for the _Kleio server_ is assumed to be the **project directory**
  * The _Kleio server_ is an application
    that processes transcriptions of historical _Kleio_ notation and generates data in a format
    that can be imported to the database.

These default values can be changed with parameters when creating the `TimelinkNotebook`  instance:

```python
tlnb = TimelinkNotebook(
    project_name="my-project",
    project_home="~/projects/m-project",
    db_type="postgres",
    db_name="my_project_db",
    kleio_image="timelinkserver/kleio-server",
    kleio_version="12.0.0",
    postgres_image="postgres",
    postgres_version="latest",
    sqlite_dir="~/databases",
    sql_echo=True
)
```

### Examining the current configuration

In [2]:

tlnb.print_info()

Timelink version: 1.1.25
Project name: dehergne
Project home: /Users/jrc/mhk-home/sources/dehergne
Database type: sqlite
Database name: dehergne
Kleio image: timelinkserver/kleio-server
Kleio server token: Ww6W5...
Kleio server URL: http://127.0.0.1:8090
Kleio server home: /Users/jrc/mhk-home/sources/dehergne
Kleio server container: mystifying_beaver
Kleio version requested: latest
Kleio server version: 12.8.593 (2025-03-16 21:55:53)
SQLite directory: /Users/jrc/mhk-home/sources/dehergne/database/sqlite
Database version: 6ccf1ef385a6
Call print_info(show_token=True) to show the Kleio Server token
Call print_info(show_password=True) to show the Postgres password
TimelinkNotebook(project_name=dehergne, project_home=/Users/jrc/mhk-home/sources/dehergne, db_type=sqlite, db_name=dehergne, kleio_image=timelinkserver/kleio-server, kleio_version=latest, postgres_image=postgres, postgres_version=latest)

### Listing available databases

In [3]:
pd = tlnb.get_postgres_databases()
print(f"Postgres databases: {pd}")
sd = tlnb.get_sqlite_databases()
print(f"Sqlite databases: {sd}")

Postgres databases: ['tests_users', 'test_project']
Sqlite databases: ['../database/sqlite/dehergne.sqlite']

### Database status (table row count)

In [4]:
tlnb.table_row_count_df()

               table  count
0               acts     29
1    alembic_version      1
2         aregisters      1
3         attributes  26742
4             blinks    200
5   class_attributes     70
6            classes     14
7           entities  32950
8        geoentities    359
9              goods      0
10        kleiofiles     59
11             links     99
12           objects      0
13           persons   2132
14         relations   3532
15         rentities    111
16      rgeoentities      0
17          robjects      0
18          rpersons     65
19           sources     30
20            syslog      0
21            syspar      0

## Dealing with kleio files

### List Kleio files available

In [5]:
kleio_files = tlnb.get_kleio_files()
kleio_files.head()

,path,name,modified,status,translated,errors,warnings,import_status,import_errors,import_warnings,import_error_rpt,import_warning_rpt,imported,rpt_url,xml_url
0,sources/dehergne-0-abrev.cli,dehergne-0-abrev.cli,2025-05-25 09:43:47.199569+00:00,V,2025-04-14 05:11:00+00:00,0,0,I,0,0,No errors,No warnings,2025-05-10 03:50:53.702537,/rest/reports/sources/dehergne-0-abrev.rpt,/rest/exports/sources/dehergne-0-abrev.xml
1,sources/dehergne-a.cli,dehergne-a.cli,2025-05-25 09:43:47.200956+00:00,V,2025-04-14 05:11:00+00:00,0,0,I,0,0,No errors,No warnings,2025-05-10 03:51:01.352077,/rest/reports/sources/dehergne-a.rpt,/rest/exports/sources/dehergne-a.xml
2,sources/dehergne-b.cli,dehergne-b.cli,2025-05-25 09:43:47.206771+00:00,V,2025-04-14 08:09:00+00:00,0,0,I,0,0,No errors,No warnings,2025-05-10 03:51:10.480262,/rest/reports/sources/dehergne-b.rpt,/rest/exports/sources/dehergne-b.xml
3,sources/dehergne-c.cli,dehergne-c.cli,2025-05-25 09:43:47.210742+00:00,V,2025-04-14 08:03:00+00:00,0,0,I,0,0,No errors,No warnings,2025-05-10 03:51:23.126101,/rest/reports/sources/dehergne-c.rpt,/rest/exports/sources/dehergne-c.xml
4,sources/dehergne-d.cli,dehergne-d.cli,2025-05-25 09:43:47.216062+00:00,V,2025-04-14 05:11:00+00:00,0,0,I,0,0,No errors,No warnings,2025-05-10 03:51:28.685167,/rest/reports/sources/dehergne-d.rpt,/rest/exports/sources/dehergne-d.xml

Show only translation and import status

In [6]:
kleio_files[["name","status","import_status"]]

                           name status import_status
0          dehergne-0-abrev.cli      V             I
1                dehergne-a.cli      V             I
2                dehergne-b.cli      V             I
3                dehergne-c.cli      V             I
4                dehergne-d.cli      V             I
5                dehergne-e.cli      V             I
6                dehergne-f.cli      V             U
7                dehergne-g.cli      V             I
8                dehergne-h.cli      V             I
9                dehergne-i.cli      V             I
10               dehergne-j.cli      V             I
11               dehergne-k.cli      V             I
12               dehergne-l.cli      V             I
13  dehergne-locations-1644.cli      V             I
14  dehergne-locations-1701.cli      V             I
15               dehergne-m.cli      V             I
16               dehergne-n.cli      V             I
17               dehergne-o.cli      V             I
18               dehergne-p.cli      V             U
19               dehergne-q.cli      V             I
20               dehergne-r.cli      V             I
21               dehergne-s.cli      V             I
22               dehergne-t.cli      V             I
23               dehergne-u.cli      V             I
24               dehergne-v.cli      V             I
25               dehergne-w.cli      V             I
26               dehergne-x.cli      V             I
27               dehergne-y.cli      V             I
28               dehergne-z.cli      V             I

Show translation and import errors

In [7]:
kleio_files[["name","errors","warnings","import_errors","import_warnings"]]

,name,errors,warnings,import_errors,import_warnings
0,dehergne-0-abrev.cli,0,0,0,0
1,dehergne-a.cli,0,0,0,0
2,dehergne-b.cli,0,0,0,0
3,dehergne-c.cli,0,0,0,0
4,dehergne-d.cli,0,0,0,0
5,dehergne-e.cli,0,0,0,0
6,dehergne-f.cli,0,0,0,0
7,dehergne-g.cli,0,0,0,0
8,dehergne-h.cli,0,0,0,0
9,dehergne-i.cli,0,0,0,0
10,dehergne-j.cli,0,0,0,0
11,dehergne-k.cli,0,0,0,0
12,dehergne-l.cli,0,0,0,0
13,dehergne-locations-1644.cli,0,0,0,0
14,dehergne-locations-1701.cli,0,0,0,0
15,dehergne-m.cli,0,0,0,0
16,dehergne-n.cli,0,0,0,0
17,dehergne-o.cli,0,0,0,0
18,dehergne-p.cli,0,0,0,0
19,dehergne-q.cli,0,0,0,0
20,dehergne-r.cli,0,0,0,0
21,dehergne-s.cli,0,0,0,0
22,dehergne-t.cli,0,0,0,0
23,dehergne-u.cli,0,0,0,0
24,dehergne-v.cli,0,0,0,0
25,dehergne-w.cli,0,0,0,0
26,dehergne-x.cli,0,0,0,0
27,dehergne-y.cli,0,0,0,0
28,dehergne-z.cli,0,0,0,0

### Translation and Import reports

Translation reports.

Pass a dataframe with Kleio files and a row number to get the translation report

In [8]:
rpt=tlnb.get_translation_report(kleio_files,rows=1)
print(rpt)

KleioTranslator - server version 12.7 - build 579 2025-01-29 17:45:15
14-4-2025 5-11

Processing data file dehergne-a.cli
-------------------------------------------
Generic Act translation module with geoentities (XML).
     Joaquim Ramos de Carvalho (joaquim@uc.pt)
** New document: kleio
=========================
kleio translation started
=========================
Structure: gacto2.str
Prefix:
Autorel:
Translation count: 242
Obs:
** Processing source fonte$dehergne-a
21: lista$dehergne-notices-a
*** End of File

Line 602 "SAME AS" TO EXTERNAL REFERENCE EXPORTED (deh-belchior-miguel-carneiro-leitao) CHECK IF IT EXISTS BEFORE IMPORTING THIS FILE.
Line 802 "SAME AS" TO EXTERNAL REFERENCE EXPORTED (deh-andre-palmeiro) CHECK IF IT EXISTS BEFORE IMPORTING THIS FILE.
Line 807 "SAME AS" TO EXTERNAL REFERENCE EXPORTED (deh-antonio-francisco-cardim) CHECK IF IT EXISTS BEFORE IMPORTING THIS FILE.
Line 966 "SAME AS" TO EXTERNAL REFERENCE EXPORTED (deh-jean-regis-lieou) CHECK IF IT EXISTS BEFORE IMPORTING THIS FILE.
Line 1028 "SAME AS" TO EXTERNAL REFERENCE EXPORTED (deh-alessandro-cicero) CHECK IF IT EXISTS BEFORE IMPORTING THIS FILE.

Structure file: /kleio-home/structures/sources.str
Structure processing report: /kleio-home/structures/sources.srpt
Structure in JSON: /kleio-home/structures/sources.str.json

Kleio file: /kleio-home/sources/dehergne-a.cli
Original file: /kleio-home/sources/dehergne-a.org
Previous version: /kleio-home/sources/dehergne-a.old
Temp file with ids: /kleio-home/sources/dehergne-a.ids
** - /kleio-home/sources/dehergne-a.cli-renamed to- /kleio-home/sources/dehergne-a.old
0  errors.
0  warnings.
Translation finished.

Or use the file name

In [9]:
file = kleio_files.iloc[0].rpt_url
print(file)
rpt=tlnb.get_translation_report(file)
print(rpt)

/rest/reports/sources/dehergne-0-abrev.rpt
KleioTranslator - server version 12.7 - build 579 2025-01-29 17:45:15
14-4-2025 5-11

Processing data file dehergne-0-abrev.cli
-------------------------------------------
Generic Act translation module with geoentities (XML).
     Joaquim Ramos de Carvalho (joaquim@uc.pt)
** New document: kleio
=========================
kleio translation started
=========================
Structure:
Prefix:
Autorel:
Translation count: 12
Obs:
** Processing source fonte$dehergne-0-abrev
*** End of File


Structure file: /kleio-home/structures/sources.str
Structure processing report: /kleio-home/structures/sources.srpt
Structure in JSON: /kleio-home/structures/sources.str.json

Kleio file: /kleio-home/sources/dehergne-0-abrev.cli
Original file: /kleio-home/sources/dehergne-0-abrev.org
Previous version: /kleio-home/sources/dehergne-0-abrev.old
Temp file with ids: /kleio-home/sources/dehergne-0-abrev.ids
** - /kleio-home/sources/dehergne-0-abrev.cli-renamed to- /kleio-home/sources/dehergne-0-abrev.old
0  errors.
0  warnings.
Translation finished.

Import report

In [10]:
rpt = tlnb.get_import_rpt(kleio_files,rows=1)
print(rpt)

dehergne-a.cli
No errors
No warnings


# Atualizar base de dados

Atualiza traduções de fontes e importa quando tradução não tem erros.

---

# Update database

Updates source translations and imports into database sources with no errors.

In [11]:
import logging
logging.basicConfig(level=logging.INFO)

tlnb.update_from_sources()

/Users/jrc/mhk-home/sources/dehergne/.venv/lib/python3.10/site-packages/timelink/api/models/pom_som_mapper.py:698: UserWarning: Ambiguous mapping! more than one element of rel is mapped to column class date check mapping for this group
  element: KElement = group.get_element_by_name_or_class(cattr.colclass)

Show imported files status

In [12]:
imported_files_df = tlnb.get_import_status()
imported_files_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   path                29 non-null     object
 1   name                29 non-null     object
 2   size                29 non-null     int64
 3   directory           29 non-null     object
 4   modified            29 non-null     datetime64[ns, UTC]
 5   modified_iso        29 non-null     datetime64[ns, UTC]
 6   modified_string     29 non-null     object
 7   qtime               29 non-null     datetime64[ns, UTC]
 8   qtime_string        29 non-null     object
 9   source_url          29 non-null     object
 10  status              29 non-null     object
 11  translated          29 non-null     datetime64[ns, UTC]
 12  translated_string   29 non-null     object
 13  errors              29 non-null     int64
 14  warnings            29 non-null     int64
 15  version             29 non-null     object
 16  rpt_url             29 non-null     object
 17  xml_url             29 non-null     object
 18  import_status       29 non-null     object
 19  import_errors       29 non-null     Int64
 20  import_warnings     29 non-null     Int64
 21  import_error_rpt    29 non-null     object
 22  import_warning_rpt  29 non-null     object
 23  imported            29 non-null     datetime64[ns]
 24  imported_string     29 non-null     object
dtypes: Int64(2), datetime64[ns, UTC](4), datetime64[ns](1), int64(3), object(15)
memory usage: 5.8+ KB

Check the import status of the translated files
```python
    I = "I" # imported
    E = "E" # imported with error
    W = "W" # imported with warnings no errors
    N = "N" # not imported
    U = "U" # translation updated need to reimport

```

In [13]:
imported_files_df[["import_status","import_errors","import_warnings","name","imported","path"]].sort_values("name")

,import_status,import_errors,import_warnings,name,imported,path
0,I,0,0,dehergne-0-abrev.cli,2025-05-10 03:50:53.702537,sources/dehergne-0-abrev.cli
1,I,0,0,dehergne-a.cli,2025-05-10 03:51:01.352077,sources/dehergne-a.cli
2,I,0,0,dehergne-b.cli,2025-05-10 03:51:10.480262,sources/dehergne-b.cli
3,I,0,0,dehergne-c.cli,2025-05-10 03:51:23.126101,sources/dehergne-c.cli
4,I,0,0,dehergne-d.cli,2025-05-10 03:51:28.685167,sources/dehergne-d.cli
5,I,0,0,dehergne-e.cli,2025-05-10 03:51:30.219256,sources/dehergne-e.cli
6,I,0,0,dehergne-f.cli,2025-05-26 08:13:26.720670,sources/dehergne-f.cli
7,I,0,0,dehergne-g.cli,2025-05-10 03:51:46.453827,sources/dehergne-g.cli
8,I,0,0,dehergne-h.cli,2025-05-10 03:51:49.364195,sources/dehergne-h.cli
9,I,0,0,dehergne-i.cli,2025-05-10 03:51:51.033646,sources/dehergne-i.cli
10,I,0,0,dehergne-j.cli,2025-05-10 03:51:52.925637,sources/dehergne-j.cli
11,I,0,0,dehergne-k.cli,2025-05-10 03:51:55.605259,sources/dehergne-k.cli
12,I,0,0,dehergne-l.cli,2025-05-10 03:52:04.426212,sources/dehergne-l.cli
13,I,0,0,dehergne-locations-1644.cli,2025-05-10 03:52:08.337291,sources/dehergne-locations-1644.cli
14,I,0,0,dehergne-locations-1701.cli,2025-05-10 03:52:11.503709,sources/dehergne-locations-1701.cli
15,I,0,0,dehergne-m.cli,2025-05-10 03:52:22.271596,sources/dehergne-m.cli
16,I,0,0,dehergne-n.cli,2025-05-10 03:52:25.728711,sources/dehergne-n.cli
17,I,0,0,dehergne-o.cli,2025-05-10 03:52:27.498184,sources/dehergne-o.cli
18,I,0,0,dehergne-p.cli,2025-05-26 08:13:36.456144,sources/dehergne-p.cli
19,I,0,0,dehergne-q.cli,2025-05-10 03:52:37.927529,sources/dehergne-q.cli
20,I,0,0,dehergne-r.cli,2025-05-10 03:52:49.094654,sources/dehergne-r.cli
21,I,0,0,dehergne-s.cli,2025-05-10 03:53:04.253047,sources/dehergne-s.cli
22,I,0,0,dehergne-t.cli,2025-05-10 03:53:16.393043,sources/dehergne-t.cli
23,I,0,0,dehergne-u.cli,2025-05-10 03:53:17.790263,sources/dehergne-u.cli
24,I,0,0,dehergne-v.cli,2025-05-10 03:53:29.675125,sources/dehergne-v.cli
25,I,0,0,dehergne-w.cli,2025-05-10 03:53:31.994314,sources/dehergne-w.cli
26,I,0,0,dehergne-x.cli,2025-05-10 03:53:37.600551,sources/dehergne-x.cli
27,I,0,0,dehergne-y.cli,2025-05-10 03:53:39.672615,sources/dehergne-y.cli
28,I,0,0,dehergne-z.cli,2025-05-10 03:53:42.392875,sources/dehergne-z.cli

## Todo

This as data frame in a single function
* TimelinkNotebook.translate([files_df,rows=List[int],status="T"])
* TimelinkNotebook.import(files_df, rows=List[int])


# Obter dados
---

# Getting data

### Procurar pessoa

---
### Search for people

#### Search persons by name

In [14]:
from timelink.api.models import Person
from sqlalchemy import select

show_only=10

with tlnb.db.session() as session:
    stmt = select(Person).where(Person.name.like('% Valignano%'))
    print(stmt)
    persons = session.execute(stmt).scalars().all()
    print()
    for person in persons[:show_only]:
        print(person.id, person.name,person.sex)

SELECT persons.id, entities.id AS id_1, entities.class, entities.inside, entities.the_source, entities.the_order, entities.the_level, entities.the_line, entities.groupname, entities.extra_info, entities.updated, entities.indexed, persons.name, persons.sex, persons.obs
FROM entities JOIN persons ON entities.id = persons.id
WHERE persons.name LIKE :name_1

deh-luis-cerqueira-ref1 Alessandro Valignano m
deh-pedro-martins-ref2 Alessandro Valignano m
deh-gil-martinez-de-la-mata-ref1 Alessandro Valignano m
deh-lourenco-mexia-ref1 Alessandro Valignano m
deh-alessandro-valignano Alessandro Valignano m
deh-francesco-pasio-ref1 Alessandro Valignano m

### Search other Entities

#### get the Entity classes in the database

In [15]:
from sqlalchemy import select, func
from timelink.api.models import Entity

models = tlnb.db.get_models_ids()
models

['entity',
 'attribute',
 'relation',
 'act',
 'source',
 'aregister',
 'person',
 'good',
 'object',
 'geoentity',
 'rgeoentity',
 'robject',
 'rperson',
 'rentity',
 'class']

#### Get columns of an entity type

In [16]:
table = tlnb.db.get_table("entity")
print(table.name)
list(table.columns)

entities

[Column('id', String(), table=<entities>, primary_key=True, nullable=False),
 Column('class', String(), table=<entities>, nullable=False),
 Column('inside', String(), ForeignKey('entities.id'), table=<entities>),
 Column('the_source', String(), table=<entities>),
 Column('the_order', Integer(), table=<entities>),
 Column('the_level', Integer(), table=<entities>),
 Column('the_line', Integer(), table=<entities>),
 Column('groupname', String(), table=<entities>),
 Column('extra_info', JSON(), table=<entities>),
 Column('updated', DateTime(), table=<entities>, default=CallableColumnDefault(<function datetime.utcnow at 0x1070afac0>)),
 Column('indexed', DateTime(), table=<entities>)]

#### Search any entity type

## IMPROVE

In [17]:
from timelink.api.models import Entity
from sqlalchemy import select, func

Geoentity = tlnb.db.get_model("geoentity")
stmt = select(Geoentity).where(Geoentity.name.like('H%'))
print(stmt)
with tlnb.db.session() as session:

    result = session.execute(stmt).scalars().all()
    for row in result[:4]:
        print()
        print(row.the_type,row.name,row.id,row.obs)
        print(row.to_kleio())

SELECT geoentities.id, entities.id AS id_1, entities.class, entities.inside, entities.the_source, entities.the_order, entities.the_level, entities.the_line, entities.groupname, entities.extra_info, entities.updated, entities.indexed, geoentities.name, geoentities.the_type, geoentities.obs
FROM entities JOIN geoentities ON entities.id = geoentities.id
WHERE geoentities.name LIKE :name_1

geo2 Hangchou deh-r1644-hangchou
geo2$Hangchou#Hang-tcheou, hoje: Hangzhou, 杭州, @wikidata:Q4970/geo2
  atr$activa/sim/1611
  atr$residencia-missao/Jesuíta/1611
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q4970"#Hang-tcheou, hoje: Hangzhou, 杭州, @wikidata:Q4970%Q4970/1644

geo2 Huchow deh-r1644-huchow
geo2$Huchow#Hou-tcheou, hoje: Huzhou, 湖州, @wikidata:Q42664/geo2
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q42664"#Hou-tcheou, hoje: Huzhou, 湖州, @wikidata:Q42664%Q42664/1644

geo3 Hungtang deh-r1644-hungtang
geo3$Hungtang/geo3
  atr$activa/sim/1636
  atr$geoentity:type@wikidata/"https://www.wikidata.org/wiki/Q11146687"#"""hoje: Hongtang, 洪塘, @wikidata: Q11146687, in the Chinese translation it is written as “宏塘”, and in Dehergne(1957) it is "洪堂". But actually this place is written with the characters "洪塘"."""%Q11146687/1644

geo3 Hoihow deh-r1644-hoihow
geo3$Hoihow#Haikeu%bourg de Hoihow (Haikeu)/geo3
  atr$activa/sim/1636/obs=in the Chinese translation it has another name “水口”, which probably is wrong.
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q5639130"#"Haikeu; hoje: Haikou, 海口镇, @wikidata:Q5639130"%Q5639130/1644

#### Get person by id

Show a single person or entity in Kleio notation

In [18]:
from timelink.api.models.person import Person

id = 'deh-duarte-de-sande'
with tlnb.db.session() as session:
    # get Person with id
    p = session.get(Person, id)
    print(p)

n$Duarte de Sande/m/id=deh-duarte-de-sande
  ls$nacionalidade/Portugal/
  ls$jesuita-estatuto/Padre/
  ls$nome/Edoardo de Sande/
  ls$nome-chines/Mong San-Tö Ning-Houan/
  ls$estadia@wikidata/"https://www.wikidata.org/wiki/Q1949022"%Baçaim/
  ls$estadia/Baçaim#@wikidata:Q1949022/
  ls$jesuita-cargo/Reitor em Baçaim%recteur/
  ls$tarefa/Retoca o latim do «De missione legatorum japonensium» de Valignano/
  ls$dehergne@archive/"https://archive.org/details/bhsi37/page/276/mode/1up"%741/
  ls$dehergne/741#@archive:276//obs="""
            Sande, Duarte (Edoardo) de (port.) P. 741
            Mong San-Tô Nlng-Houan (Pf.).
            N. 1547 (et non 1531) avant le 25 oct.« Vimarani », à Guimarães près de Braga (D'Elia I, 222)
            -E. juin 1562, Lisbonne à 15 ans et demi {Lus. 43, 181).
            Emb. comme supérieur des jésuites le 24 mars 1578 sur le S. Luis pour les Indes (W 196).,
            Baçaim, où recteur., quitte Goa le 1er mai 1585 et arr.
            Macao 31 juillet 1585., supérieur de la mission de Chine, 1585-1597.,
            Tchao-k'ing fou, août 1585-nov. 1587 {Goa 24, 161, 180).,
            Chao-tcheou, juill.-sept. 1591., Macao, 1592 {JS 26, 1), et 4 nov. 1596 {JS 13 I, 24).
            P. 1577, Coïmbre.
            V. Goa, 15 janv. 1584, pr. {Lus. 2, 15a: Eduard. de Sande).
            M. fin de juill. 1599 à Macao {JS 14, 19., HS 43, 53v).
            Sa grand mère maternelle était « nouvelle chrétienne » <DI. XI, 21*, XII, 1033). Pf. 44.
            Notice dans D'Elia I, 222-224., l'art, de Schutte dans Anatecta Gregoriana vol. 70 (1954)
            montre que le De missione legatorum japonensium est, en réalité, de Valignano,
            de Sande n'ayant fait que retoucher le latin., Rivière, 2281., Schutte, 1002.,
            Strett IV (dates discutables).
"""
  ls$nascimento@wikidata/"https://www.wikidata.org/wiki/Q170903"%Guimarães/1547-10-25
  ls$nascimento/Guimarães#@wikidata:Q170903/1547-10-25#antes de
  ls$jesuita-entrada@wikidata/"https://www.wikidata.org/wiki/Q597"%Lisboa/1562-06
  ls$jesuita-entrada/Lisboa#@wikidata:Q597/1562-06
  ls$idade/15/1562-06
  ls$jesuita-ordenacao-padre/Coimbra#@wikidata:Q45412/1577
  ls$jesuita-ordenacao-padre@wikidata/"https://www.wikidata.org/wiki/Q45412"%Coimbra/1577
  ls$jesuita-cargo/Superior dos Jesuítas/1578-03-24
  ls$embarque/S. Luís#para a Índia/1578-03-24
  ls$wicky/196/1578-03-24
  ls$wicky-viagem/25/1578-03-24
  ls$jesuita-votos/4V/1584-01-15
  ls$jesuita-votos-local@wikidata/"https://www.wikidata.org/wiki/Q1171"%Goa/1584-01-15
  ls$jesuita-votos-local/Goa#@wikidata:Q1171/1584-01-15
  ls$jesuita-cargo/Superior da missão da China/1585
  ls$estadia@wikidata/"https://www.wikidata.org/wiki/Q1171"%Goa/1585-05-01
  ls$estadia/Goa#@wikidata:Q1171/1585-05-01#até
  ls$partida@wikidata/"https://www.wikidata.org/wiki/Q14773"%Macau/1585-05-01
  ls$partida/Macau#@wikidata:Q14773/1585-05-01
  ls$estadia@wikidata/"https://www.wikidata.org/wiki/Q14773"%Macau/1585-07-31
  ls$estadia/Macau#@wikidata:Q14773/1585-07-31
  ls$estadia@wikidata/"https://www.wikidata.org/wiki/Q59164"%Tchao-k'ing fou/1585-08
  ls$estadia/Tchao-k'ing fou#@wikidata:Q59164/1585-08
  ls$estadia@wikidata/"https://www.wikidata.org/wiki/Q59164"%Tchao-k'ing fou/1587-11
  ls$estadia/Tchao-k'ing fou#@wikidata:Q59164/1587-11
  ls$estadia@wikidata/"https://www.wikidata.org/wiki/Q1346617"%Chao-tcheou/1591-07
  ls$estadia/Chao-tcheou#@wikidata:Q1346617/1591-07
  ls$estadia@wikidata/"https://www.wikidata.org/wiki/Q1346617"%Chao-tcheou/1591-09
  ls$estadia/Chao-tcheou#@wikidata:Q1346617/1591-09
  ls$estadia/Macau#@wikidata:Q14773/1592
  ls$estadia@wikidata/"https://www.wikidata.org/wiki/Q14773"%Macau/1592
  ls$estadia@wikidata/"https://www.wikidata.org/wiki/Q14773"%Macau/1596-11-04
  ls$estadia/Macau#@wikidata:Q14773/1596-11-04
  ls$jesuita-cargo/Superior da missão da China/1597
  ls$morte@wikidata/"https://www.wikidata.org/wiki/Q14773"%Macau/1599-07
  ls$morte/Macau#@wikidata:Q14773/1599-07#fim de
  mmae$Nome desconhecido/f/id=deh-duarte-sande-mmae
    ls$estatuto/Cristã-nova/

### Show other type of entities by id in Kleio

In [19]:
from timelink.api.models import Entity

with tlnb.db.session() as session:
    # get Entity with id
    ent = tlnb.db.get_entity(id="deh-r1644-chekiang", session=session)
    print(ent.to_kleio())

geo1$Chekiang#Tche-kiang, hoje:Zhejiang, 浙江, @wikidata:Q16967 @dehergne:396/geo1
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q16967"#Tche-kiang, hoje:Zhejiang, 浙江, @wikidata:Q16967 @dehergne:396%Q16967/1644
  atr$geoentity:name@dehergne/"https://archive.org/details/bhsi37/page/n396/mode/1up"#Tche-kiang, hoje:Zhejiang, 浙江, @wikidata:Q16967 @dehergne:396%396/1644



###  Obter um dataframe a partir de atributos

---


###  Get a Dataframe from attributes

#### Exemplo: Faculdade, data de entrada e data de saída e grau dos naturais de Coimbra

In [33]:
from timelink.pandas import entities_with_attribute


# Get list of people with with a certain value in a specific attribute
df = entities_with_attribute(
                    entity_type='person',
                    the_type='estadia',
                    the_value='Coimbra',
                    # name_like='%Aboim%',
                    more_attributes=['uc.entrada','uc.saida'],
                    db=tlnb.db,
                    sql_echo=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, deh-afonso-aires-ref1 to deh-jose-montanha-ii
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   estadia.attr_id       5 non-null      object
 1   estadia.type          5 non-null      object
 2   estadia               5 non-null      object
 3   estadia.date          5 non-null      object
 4   estadia.line          5 non-null      int64
 5   estadia.level         5 non-null      int64
 6   estadia.obs           5 non-null      object
 7   estadia.extra_info    5 non-null      object
 8   estadia.comment       5 non-null      object
 9   estadia.date.comment  1 non-null      object
 10  uc.entrada            0 non-null      object
 11  uc.saida              0 non-null      object
dtypes: int64(2), object(10)
memory usage: 520.0+ bytes

In [ ]:
df.head(5)

,name,sex,naturalidade,naturalidade.date,naturalidade.obs,faculdade,faculdade.date,faculdade.obs,uc.entrada,uc.entrada.date,uc.entrada.obs,uc.saida,uc.saida.date,uc.saida.obs
id,,,,,,,,,,,,,,
140349,António de Aboim,m,Coimbra,1566-12-20,None,Cânones,1566-12-20,None,1566-12-20,1566-12-20,None,1574-07-24,1574-07-24,None
140367,Manuel de Vargas de Aboim,m,Coimbra,20200211,None,Cânones,20200211,None,0000-00-00,20200211,None,0000-00-00,20200211,None

#### obter attributos de outras entidades

In [ ]:
from timelink.pandas import entities_with_attribute


# Get list of people with with a certain value in a specific attribute
df = entities_with_attribute(
                    entity_type='geoentity',
                    more_info=['name'],
                    the_type='activa',
                    the_value='sim',
                    more_cols=['residencia-missao'],
                    db=tlnb.db,
                    sql_echo=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 165 entries, deh-r1644-anhai to deh-r1644-yunnan
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    165 non-null    object
 1   activa                  165 non-null    object
 2   activa.date             165 non-null    object
 3   activa.obs              4 non-null      object
 4   residencia-missao       38 non-null     object
 5   residencia-missao.date  38 non-null     object
 6   residencia-missao.obs   4 non-null      object
dtypes: object(7)
memory usage: 10.3+ KB

In [ ]:
df.head(30)

,name,activa,activa.date,activa.obs,residencia-missao,residencia-missao.date,residencia-missao.obs
id,,,,,,,
deh-r1644-anhai,Anhai,sim,1634,None,NaN,NaN,NaN
deh-r1644-bankao,Bankao,sim,1636,None,NaN,NaN,NaN
deh-r1644-cantao,Cantão,sim,1555,None,Jesuíta,1580,None
deh-r1644-cantao,Cantão,sim,1555,None,Franciscanos,0000,None
deh-r1644-cantao,Cantão,sim,1555,None,Dominicanos,0000,None
deh-r1644-chala,Chala,sim,1610,None,NaN,NaN,NaN
deh-r1644-changchow-fou,Changchow,sim,1643,None,NaN,NaN,NaN
deh-r1644-changshu,Changshu,sim,1623,None,Jesuíta,1635,"R 1635 «Cham Xo», cf AHSI 28 (1951) 311-312"
deh-r1644-chengting,Chengting,sim,1621,None,NaN,NaN,NaN
deh-r1644-chinkiang,Chinkiang,sim,1611,None,NaN,NaN,NaN
deh-r1644-chowchih,Chowchih,sim,1633,None,NaN,NaN,NaN
deh-r1644-chuanchow,Chüanchow,sim,1625,None,Dominicanos,1632,None
deh-r1644-chuanchow,Chüanchow,sim,1625,None,Jesuíta,16440000,None
deh-r1644-chuchow,Chüchow,sim,16130000,None,NaN,NaN,NaN
deh-r1644-chuchow-tcheou,Chuchow,sim,1616,None,NaN,NaN,NaN
deh-r1644-chuking,Chuking,sim,1642,None,NaN,NaN,NaN
deh-r1644-chungan,Chungan,sim,1635,None,NaN,NaN,NaN
deh-r1644-chungking,Chungking,sim,1642,None,NaN,NaN,NaN
deh-r1644-chwansha,Chwansha,sim,1630,None,NaN,NaN,NaN
deh-r1644-diongloh,Diongloh,sim,1637,None,NaN,NaN,NaN
deh-r1644-fenghsien,Fenghsien,sim,1625,None,NaN,NaN,NaN
deh-r1644-foochow,Foochow,sim,1617,None,Jesuíta,16440000,None
deh-r1644-fuan,Fuan,sim,16440000,None,Dominicanos,1632,None
deh-r1644-funing,Funing,sim,1638,None,Dominicanos,1638,None
deh-r1644-fushan,Fushan,sim,1638,None,NaN,NaN,NaN
deh-r1644-futsing,Futsing,sim,1631,None,NaN,NaN,NaN
deh-r1644-fuyang,Fuyang,sim,16420000,None,NaN,NaN,NaN
deh-r1644-hanchung,Hanchung,sim,1635,None,Jesuíta,1644,None
deh-r1644-hangchou,Hangchou,sim,16110000,None,Jesuíta,16110000,None
deh-r1644-hiapoey,Hiapoey,sim,1634,None,NaN,NaN,NaN



###  Remover colunas sem valores

---



###  Remove empty columns

In [ ]:
df.dropna(how='all', axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 165 entries, deh-r1644-anhai to deh-r1644-yunnan
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    165 non-null    object
 1   activa                  165 non-null    object
 2   activa.date             165 non-null    object
 3   activa.obs              4 non-null      object
 4   residencia-missao       38 non-null     object
 5   residencia-missao.date  38 non-null     object
 6   residencia-missao.obs   4 non-null      object
dtypes: object(7)
memory usage: 10.3+ KB

In [ ]:
df.head(5)

,name,activa,activa.date,activa.obs,residencia-missao,residencia-missao.date,residencia-missao.obs
id,,,,,,,
deh-r1644-anhai,Anhai,sim,1634,None,NaN,NaN,NaN
deh-r1644-bankao,Bankao,sim,1636,None,NaN,NaN,NaN
deh-r1644-cantao,Cantão,sim,1555,None,Jesuíta,1580,None
deh-r1644-cantao,Cantão,sim,1555,None,Franciscanos,0000,None
deh-r1644-cantao,Cantão,sim,1555,None,Dominicanos,0000,None

In [ ]:
ids = df.index.unique()
for id in ids[:5]:
    ent = tlnb.db.get_entity(id)
    print(ent.to_kleio())
    print()

geo3$deh-r1644-anhai/type=geoentity
  rel$function-in-act/geo3/deh-chre-1644/16440000
  atr$activa/sim/1634

geo3$deh-r1644-bankao/type=geoentity
  rel$function-in-act/geo3/deh-chre-1644/16440000
  atr$activa/sim/1636

geo2$deh-r1644-cantao/type=geoentity
  rel$function-in-act/geo2/deh-chre-1644/16440000
  atr$activa/sim/1555
  atr$residencia-missao/Jesuíta/1580
  atr$residencia-missao/Franciscanos/0000
  atr$residencia-missao/Dominicanos/0000
  geo3$deh-r1644-tungkun/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
  geo3$deh-r1644-quon-yao/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$activa/sim/1621
  geo3$deh-r1644-lampacao/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$activa/sim/1535

geo3$deh-r1644-chala/type=geoentity
  rel$function-in-act/geo3/deh-chre-1644/16440000
  atr$activa/sim/1610

geo2$deh-r1644-changchow-fou/type=geoentity
  rel$function-in-act/geo2/deh-chre-1644/16440000
  atr$activa/sim/1643
  geo3$deh-r1644-ihing/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$activa/sim/1623
  geo3$deh-r1644-tsinkiang-tchou/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$activa/sim/1635
  geo3$deh-r1644-wusih/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$activa/sim/16440000
  geo3$deh-r1644-wutsin/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$activa/sim/1625


## Contagens

---

## Counting

### Tipos de attributos

---

### Attribute types

In [39]:
import pandas as pd

from sqlalchemy import func
from sqlalchemy import select


pd.set_option('display.max_rows', 500)

attr_table = tlnb.db.get_table('attributes')
tlnb.db.describe('attributes', show=True)
print()
stmt = select(
    attr_table.c.the_type,
    func.count().label('count'),
    func.count(func.distinct(attr_table.c.the_value)).label('distinct_value')
    ).group_by('the_type')
print(stmt)
print()

with tlnb.db.session() as session:
    # nml2 = session.query(Attribute.the_type,func.count().label('tot')).group_by(Attribute.the_type).all()
    nml = session.execute(stmt)
    attribute_df = pd.DataFrame(nml)

attribute_df

attributes (model_table)
id                   entities             VARCHAR
class                entities             VARCHAR
inside               entities             VARCHAR    {ForeignKey('entities.id')}
the_source           entities             VARCHAR
the_order            entities             INTEGER
the_level            entities             INTEGER
the_line             entities             INTEGER
groupname            entities             VARCHAR
extra_info           entities             JSON
updated              entities             DATETIME
indexed              entities             DATETIME
id                   attributes           VARCHAR    {ForeignKey('entities.id')}
entity               attributes           VARCHAR    {ForeignKey('entities.id')}
the_type             attributes           VARCHAR
the_value            attributes           VARCHAR
the_date             attributes           VARCHAR
obs                  attributes           VARCHAR

SELECT attributes.the_type, count(*) AS count, count(distinct(attributes.the_value)) AS distinct_value
FROM attributes GROUP BY attributes.the_type

                            the_type  count  distinct_value
0                             activa    286               3
1                   alternative-name      4               4
2          alternative-name@wikidata      3               3
3                          baptizado     28              28
4                 baptizado@wikidata     26              26
5                       bibliografia      9               9
6                              cargo    356             225
7                            chegada    487              71
8                   chegada@wikidata    420              61
9                           dehergne   1464            1211
10                  dehergne@archive      3               3
11                                ec    210               1
12                          embarque    781              92
13                 embarque@wikidata      3               2
14                           estadia   3636             690
15                         estadia-x     13               5
16                estadia-x@wikidata     11               6
17                  estadia@wikidata   3557             383
18                          estatuto     17              11
19           geoentity:name@dehergne      3               3
20           geoentity:name@geonames      3               3
21           geoentity:name@wikidata    304             228
22           geoentity:type@wikidata      2               2
23                    grau-academico     63               7
24                  grau-academico-x      1               1
25     historical-source:id@dehergne      1               1
26                             idade     20              11
27                     jesuita-cargo    876             236
28                   jesuita-entrada    962              67
29          jesuita-entrada@wikidata    463              66
30    jesuita-entradaLisboa, Arroios      1               1
31                  jesuita-estatuto   1327              16
32                  jesuita-fundador      3               1
33         jesuita-fundador@wikidata      3               2
34           jesuita-ordenacao-padre    419              48
35  jesuita-ordenacao-padre@wikidata    125              49
36                    jesuita-tarefa    360             251
37                  jesuita-tarefa-x      6               6
38                     jesuita-votos    613              14
39               jesuita-votos-local    516             256
40      jesuita-votos-local@wikidata    466             150
41                             morte    886             295
42                    morte@wikidata    703             189
43                     nacionalidade   1120              30
44            nacionalidade@wikidata      9               2
45                        nascimento   1012             577
46               nascimento@wikidata    897             496
47                              nome    990             975
48                       nome-chines    711             667
49                      nome-japones      2               2
50                              nota     10               7
51                     nota@wikidata      1               1
52                              note      1               1
53                           partida    249              54
54                         partida-x      3               3
55                partida-x@wikidata      1               1
56                  partida@wikidata    247              46
57              person:id@bdcconline      1               1
58                         profissao    261              62
59                        pseudonimo     10              10
60                        residencia     28              20
61                 residencia-missao    105              10
62                 residencia-missão      8               4
63               residencia@wikidata     25              17
64                        residência      3               1
65               residência@wikidata      3               1
66                            tarefa    212             145
67                            titulo    253              70
68                              todo      2               2
69                           trajeto      1               1
70                  trajeto@wikidata      1               1
71                             wicky    554             549
72                      wicky-viagem    582             136


###  Contagem de atributos a partir de uma tabela em memória

---

###  Count attributes from an existing dataframe

In [35]:
# create a column with the index values which are the id numbers
df['id'] = df.index.values

col = 'jesuita-entrada' # subotal by this column

# Use pandas groupby and specify unique value count for id
df_totals = df.groupby(col).agg({'id':'nunique',
                                                  'embarque':'min',
                                                  'embarque':'max'})

df_totals.sort_values('id',ascending= False).head(30)

KeyError: 'jesuita-entrada'


### Contagens na base de dados

Quando o atributo tem muitos valores e não é necessário
ter todas as pessoas em memória: contagem feita na base de dados

---

### Counting directly in the database
When there are many values and it is not
necessary to have all the people in memory:
count directly in the database.

In [ ]:
from timelink.pandas import attribute_values

df_totals = attribute_values('grau',db=tlnb.db)

In [ ]:
df_totals.head(10)

                     count    date_min    date_max
value
Bacharel               170  1554-07-19  1912-08-03
Formatura              153  1574-07-24  1905-06-19
Licenciado              33  1574-06-03  1886-02-27
Bacharel em Artes       25  1574-03-14  1766-07-19
Doutor                  11  1560-12-22  1887-11-27
Licenciado em Artes      5  1574-05-15  1738-06-17
Mestre                   2  1710-10-05  1768-10-23

#### Filtrar por datas

Para evitar remissivas com data zero

---

#### Filter by dates

Avoid cross-references with zero date

##ERROR

In [ ]:
df_totals = attribute_values('grau',dates_between=('1535','1919'),db=tlnb.db)

In [ ]:
df_totals.head(10)

                     count    date_min    date_max
value
Bacharel               170  1554-07-19  1912-08-03
Formatura              153  1574-07-24  1905-06-19
Licenciado              33  1574-06-03  1886-02-27
Bacharel em Artes       25  1574-03-14  1766-07-19
Doutor                  11  1560-12-22  1887-11-27
Licenciado em Artes      5  1574-05-15  1738-06-17
Mestre                   2  1710-10-05  1768-10-23

## Visualizar registos

---

## View records

### Visualizar uma pessoa

---

### View a person

#### Atributos de uma pessoa numa tabela, uma linha por attributo

---

#### Person attributes in a dataframe, one line per attribute

In [3]:
import pandas as pd
from timelink.pandas import group_attributes as person_attributes

pd.set_option('display.max_rows',1000)

id = 'deh-duarte-de-sande'
pdf = person_attributes([id],db=tlnb.db)  # note id in a list
pdf.info()
pdf[['the_date','the_type','the_value','attr_obs']].sort_values(['the_date','the_type'])

<class 'pandas.core.frame.DataFrame'>
Index: 44 entries, deh-duarte-de-sande to deh-duarte-de-sande
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   the_type   44 non-null     object
 1   the_value  44 non-null     object
 2   the_date   44 non-null     object
 3   attr_obs   44 non-null     object
dtypes: object(4)
memory usage: 1.7+ KB

,the_date,the_type,the_value,attr_obs
id,,,,
deh-duarte-de-sande,0,dehergne,741,"""""""\n Sande, Duarte (Edoardo) de (p..."
deh-duarte-de-sande,0,dehergne@archive,https://archive.org/details/bhsi37/page/276/mo...,"extra_info: {""value"": {""original"": ""741""}}"
deh-duarte-de-sande,0,estadia,Baçaim,"extra_info: {""value"": {""comment"": ""@wikidata:Q..."
deh-duarte-de-sande,0,estadia@wikidata,https://www.wikidata.org/wiki/Q1949022,"extra_info: {""value"": {""original"": ""Ba\u00e7ai..."
deh-duarte-de-sande,0,jesuita-cargo,Reitor em Baçaim,"extra_info: {""value"": {""original"": ""recteur""}}"
deh-duarte-de-sande,0,jesuita-estatuto,Padre,
deh-duarte-de-sande,0,nacionalidade,Portugal,
deh-duarte-de-sande,0,nome,Edoardo de Sande,
deh-duarte-de-sande,0,nome-chines,Mong San-Tö Ning-Houan,
deh-duarte-de-sande,0,tarefa,Retoca o latim do «De missione legatorum japon...,
deh-duarte-de-sande,15471025,nascimento,Guimarães,"extra_info: {""date"": {""comment"": ""antes de""}, ..."
deh-duarte-de-sande,15471025,nascimento@wikidata,https://www.wikidata.org/wiki/Q170903,"extra_info: {""value"": {""original"": ""Guimar\u00..."
deh-duarte-de-sande,15620600,idade,15,
deh-duarte-de-sande,15620600,jesuita-entrada,Lisboa,"extra_info: {""value"": {""comment"": ""@wikidata:Q..."
deh-duarte-de-sande,15620600,jesuita-entrada@wikidata,https://www.wikidata.org/wiki/Q597,"extra_info: {""value"": {""original"": ""Lisboa""}}"
deh-duarte-de-sande,15770000,jesuita-ordenacao-padre,Coimbra,"extra_info: {""value"": {""comment"": ""@wikidata:Q..."
deh-duarte-de-sande,15770000,jesuita-ordenacao-padre@wikidata,https://www.wikidata.org/wiki/Q45412,"extra_info: {""value"": {""original"": ""Coimbra""}}"
deh-duarte-de-sande,15780324,embarque,S. Luís,"extra_info: {""value"": {""comment"": ""para a \u00..."
deh-duarte-de-sande,15780324,jesuita-cargo,Superior dos Jesuítas,
deh-duarte-de-sande,15780324,wicky,196,
deh-duarte-de-sande,15780324,wicky-viagem,25,
deh-duarte-de-sande,15840115,jesuita-votos,4V,
deh-duarte-de-sande,15840115,jesuita-votos-local,Goa,"extra_info: {""value"": {""comment"": ""@wikidata:Q..."
deh-duarte-de-sande,15840115,jesuita-votos-local@wikidata,https://www.wikidata.org/wiki/Q1171,"extra_info: {""value"": {""original"": ""Goa""}}"
deh-duarte-de-sande,15850000,jesuita-cargo,Superior da missão da China,
deh-duarte-de-sande,15850501,estadia,Goa,"extra_info: {""date"": {""comment"": ""at\u00e9""}, ..."
deh-duarte-de-sande,15850501,estadia@wikidata,https://www.wikidata.org/wiki/Q1171,"extra_info: {""value"": {""original"": ""Goa""}}"
deh-duarte-de-sande,15850501,partida,Macau,"extra_info: {""value"": {""comment"": ""@wikidata:Q..."
deh-duarte-de-sande,15850501,partida@wikidata,https://www.wikidata.org/wiki/Q14773,"extra_info: {""value"": {""original"": ""Macau""}}"
deh-duarte-de-sande,15850731,estadia,Macau,"extra_info: {""value"": {""comment"": ""@wikidata:Q..."
deh-duarte-de-sande,15850731,estadia@wikidata,https://www.wikidata.org/wiki/Q14773,"extra_info: {""value"": {""original"": ""Macau""}}"
deh-duarte-de-sande,15850800,estadia,Tchao-k'ing fou,
deh-duarte-de-sande,15871100,estadia,Tchao-k'ing fou,
deh-duarte-de-sande,15910700,estadia,Chao-tcheou,"extra_info: {""value"": {""comment"": ""@wikidata:Q..."
deh-duarte-de-sande,15910700,estadia@wikidata,https://www.wikidata.org/wiki/Q1346617,"extra_info: {""value"": {""original"": ""Chao-tcheo..."
deh-duarte-de-sande,15910900,estadia,Chao-tcheou,"extra_info: {""value"": {""comment"": ""@wikidata:Q..."
deh-duarte-de-sande,15910900,estadia@wikidata,https://www.wikidata.org/wiki/Q1346617,"extra_info: {""value"": {""original"": ""Chao-tcheo..."
deh-duarte-de-sande,15920000,estadia,Macau,"extra_info: {""value"": {""comment"": ""@wikidata:Q..."
deh-duarte-de-sande,15920000,estadia@wikidata,https://www.wikidata.org/wiki/Q14773,"extra_info: {""value"": {""original"": ""Macau""}}"
deh-duarte-de-sande,15961104,estadia,Macau,"extra_info: {""value"": {""comment"": ""@wikidata:Q..."
deh-duarte-de-sande,15961104,estadia@wikidata,https://www.wikidata.org/wiki/Q14773,"extra_info: {""value"": {""original"": ""Macau""}}"
deh-duarte-de-sande,15970000,jesuita-cargo,Superior da missão da China,
deh-duarte-de-sande,15990700,morte,Macau,"extra_info: {""date"": {""comment"": ""fim de""}, ""v..."
deh-duarte-de-sande,15990700,morte@wikidata,https://www.wikidata.org/wiki/Q14773,"extra_info: {""value"": {""original"": ""Macau""}}"

#### Atributos de uma pessoa numa tabela, attributos em colunas

---

#### Person attributes in a dataframe, attributes in columns

In [30]:
# Get list of people with with a certain value in a specific attribute

df = entities_with_attribute(
                    entity_type='person',
                    the_type='uc.entrada',  # we need a base attribute
                    more_info=['name','sex'],
                    more_cols=['instituta','matricula.faculdade','matricula.ano'],
                    filter_by=[140349],
                    db=tlnb.db,
                    sql_echo=False)
view_cols = ['name','matricula.ano.date','matricula.ano','matricula.ano.obs']
df[view_cols].sort_values('matricula.ano.date')

                    name matricula.ano.date matricula.ano matricula.ano.obs
id
140349  António de Aboim         1571-07-20  Cânones.1571        20.07.1571
140349  António de Aboim         1573-10-07  Cânones.1573        07.10.1573
140349  António de Aboim         1574-07-24  Cânones.1574        24.07.1574

#### Examinar potenciais duplicados

---

#### Examine potentital duplicates

In [15]:
from timelink.pandas import display_group_attributes
pd.set_option('display.max_rows',250)

no_show=['código-de-referência','data-do-registo','url','faculdade.ano','naturalidade.ano',
         'matricula-faculdade.ano','nome-apelido','nome-primeiro','nome-geografico.ano',
         'grau.ano','matricula-outra.ano','nome-geografico','instituta.ano']

dup_ids = ['234295','234710',]  # Alexandre Metelo de

display_group_attributes(dup_ids,
                             header_cols=['uc-entrada','naturalidade','faculdade','nome-pai'],
                             exclude_attributes=no_show,
                             sort_attributes=['date','type','value'],
                             cmap_name='Pastel1')

#### Notação Kleio

Ver [Kleio notation](README_kleio.md) [EN]

---

#### Kleio notation

See [Kleio notation](README_kleio.md)

#### Notação Kleio directamente da base de dados

Ver [Kleio notation](README_kleio.md) [EN]

---

#### Kleio notation directly from database

See [Kleio notation](README_kleio.md)

In [33]:
from timelink.mhk.models.person import Person

with tlnb.db.session() as session:

    p: Person = session.query(Person).order_by(Person.id).first()
    k = p.to_kleio()
    print(p.to_kleio())

n$António Pinto Abadeço/m/id=140337/obs="""
      """

                  Id: 140337
                  Código de referência: PT/AUC/ELU/UC-AUC/B/001-001/A/000001

                  Nome        : António Pinto Abadeço
                  Data inicial: 1705-10-01
                  Data final  : 1710-10-01
                  Filiação: António Pinto

                  Naturalidade: Abrantes
                  Faculdade: Cânones

                  Matrícula(s): 01.10.1705
                  01.10.1706
                  01.01.1707
                  01.10.1708
                  01.10.1709
                  01.10.1710
                  Instituta:
                  Bacharel: 28.06.1709
                  Formatura:
                  Licenciado:
                  Doutor:

                  Outras informações:
              """
  """
  rel$function-in-act/n/António Pinto Abadeço/auc-alumni-A-140337-140771/20200211
  atr$código-de-referência/""PT/AUC/ELU/UC-AUC/B/001-001/A/000001""/2021-05-17
  atr$data-do-registo/2021-05-17/2021-05-17
  atr$url/""https://pesquisa.auc.uc.pt/details?id=140337""/2021-05-17
  ls$uc.entrada/1705-10-01/1705-10-01
  ls$uc.saida/1710-10-01/1710-10-01
  ls$uc.entrada.ano/1705/1705-10-01
  ls$uc.saida.ano/1710/1710-10-01
  ls$nome/António Pinto Abadeço/1705-10-01
  ls$nome.primeiro/António/1705-10-01
  ls$nome.apelido/Pinto Abadeço/1705-10-01
  ls$nome.apelido/Abadeço/1705-10-01
  ls$naturalidade/Abrantes/1705-10-01
  ls$naturalidade.ano/Abrantes.1705/1705-10-01
  ls$nome-geografico/Abrantes/1705-10-01
  ls$nome-geografico.ano/Abrantes.1705/1705-10-01
  ls$faculdade/Cânones/1705-10-01
  ls$faculdade.ano/Cânones.1705/1705-10-01
  ls$matricula/Cânones/1705-10-01/obs=01.10.1705
  ls$matricula.ano/Cânones.1705/1705-10-01/obs=01.10.1705
  ls$matricula/Cânones/1706-10-01/obs=01.10.1706
  ls$matricula.ano/Cânones.1706/1706-10-01/obs=01.10.1706
  ls$matricula/Cânones/1707-01-01/obs=01.01.1707
  ls$matricula.ano/Cânones.1707/1707-01-01/obs=01.01.1707
  ls$matricula/Cânones/1708-10-01/obs=01.10.1708
  ls$matricula.ano/Cânones.1708/1708-10-01/obs=01.10.1708
  ls$matricula/Cânones/1709-10-01/obs=01.10.1709
  ls$matricula.ano/Cânones.1709/1709-10-01/obs=01.10.1709
  ls$matricula/Cânones/1710-10-01/obs=01.10.1710
  ls$matricula.ano/Cânones.1710/1710-10-01/obs=01.10.1710
  ls$matricula/Cânones/1709-06-28/obs=28.06.1709
  ls$matricula.ano/Cânones.1709/1709-06-28/obs=28.06.1709
  ls$grau/Bacharel/1709-06-28/obs=28.06.1709
  ls$grau.ano/Bacharel.1709/1709-06-28/obs=28.06.1709
  pai$António Pinto/m/id=140337-pai
    rel$function-in-act/pai/António Pinto/auc-alumni-A-140337-140771/20200211