> First time use: follow instructions in the README.md file in this directory.


# Receitas

Várias receitas para usar Timelink com notebooks

[Sumário]

---

# Receipts

Receipts for using Timelink with notebooks

[summary]

---
## Setup

### Basic setup

Create a `TimelinkNotebook` instance.

This will provide an interface to the 
various `Timelink` functions.

In [1]:
from timelink.notebooks import TimelinkNotebook

tlnb = TimelinkNotebook()

### Changing the default values

When called with no parameters `TimelinkNotebook` 
assumes a certain directory layout containing the notebook
and from that layout autoconfigures various parameters.

The default layout:

* **project-directory**
    * **database** (database related filed)
    * **notebooks**  _(directory with the current notebook)_ 
    * **kleio**  (source files in kleio format)
    * **identifications** (files with identification information)

Based on this layout `TimelinkNotebook` assumes a few default values:

* **database name**
    * the name of the *project directory* is used as the **database name**, sanitized to produce a valid database name
      (hifens and spaces are replaced with _ ).
* **database type**
  * the type of the database is assumed to be **sqlite**  and a **sqlite** database is created in 
      *database/sqlite*
    * the `db_type` parameter can be used to set the database to `postgres`. 
* **Kleio server home**, working directory for the _Kleio server_ is assumed to be the **project directory**
  * The _Kleio server_ is an application
    that processes transcriptions of historical _Kleio_ notation and generates data in a format
    that can be imported to the database.

These default values can be changed with parameters when creating the `TimelinkNotebook`  instance:

```python
tlnb = TimelinkNotebook(
    project_name="my-project",
    project_home="~/projects/m-project",
    db_type="postgres",
    db_name="my_project_db",
    kleio_image="timelinkserver/kleio-server",
    kleio_version="12.0.0",
    postgres_image="postgres",
    postgres_version="latest",
    sqlite_dir="~/databases",
    sql_echo=True
)
```

### Examining the current configuration

In [2]:

tlnb.print_info()

Timelink version: 1.1.11
Project name: dehergne-locations
Project home: /Users/jrc/mhk-home/sources/dehergne-locations
Database type: sqlite
Database name: dehergne_locations
Kleio image: timelinkserver/kleio-server
Kleio server token: zdxg0...
Kleio server URL: http://127.0.0.1:8088
Kleio server home: /Users/jrc/mhk-home/sources/dehergne-locations
Kleio server container: objective_joliot
Kleio version requested: latest
Kleio server version: 12.4.567 (2024-02-07 13:02:03)
SQLite directory: /Users/jrc/mhk-home/sources/dehergne-locations/database/sqlite
Call print_info(show_token=True) to show the Kleio Server token
Call print_info(show_password=True) to show the Postgres password
TimelinkNotebook(project_name=dehergne-locations, project_home=/Users/jrc/mhk-home/sources/dehergne-locations, db_type=sqlite, db_name=dehergne_locations, kleio_image=timelinkserver/kleio-server, kleio_version=latest, postgres_image=postgres, postgres_version=latest)

### Listing available databases

In [3]:
pd = tlnb.get_postgres_databases()
print(f"Postgres databases: {pd}")
sd = tlnb.get_sqlite_databases()
print(f"Sqlite databases: {sd}")

Postgres databases: ['dehergne_locations']
Sqlite databases: ['../database/sqlite/dehergne_locations.sqlite']

### Database status (table row count)

In [4]:
tlnb.table_row_count_df()

               table  count
0               acts      3
1         attributes  14680
2   class_attributes     63
3            classes     13
4           entities  17182
5        geoentities    215
6              goods      0
7         kleiofiles      3
8            objects      0
9            persons    873
10         relations   1395
11         rentities      0
12      rgeoentities      0
13          robjects      0
14          rpersons      0
15           sources      3
16            syslog      0
17            syspar      0

## Dealing with kleio files

### List Kleio files available

In [5]:
kleio_files = tlnb.get_kleio_files()
kleio_files.head()

,path,name,modified,status,translated,errors,warnings,import_status,import_errors,import_warnings,import_error_rpt,import_warning_rpt,imported,rpt_url,xml_url
0,kleio/auc-alunos.cli,auc-alunos.cli,2024-02-04 08:38:20.975128+00:00,V,2024-02-04 08:38:00+00:00,0,0,I,0,0,No errors,No warnings,2024-02-04 08:38:54.291236,/rest/reports/kleio/auc-alunos.rpt,/rest/exports/kleio/auc-alunos.xml
1,kleio/dehergne-a.cli,dehergne-a.cli,2024-02-04 14:08:29.476407+00:00,V,2024-02-04 14:08:00+00:00,0,0,I,0,0,No errors,No warnings,2024-02-04 14:08:36.475775,/rest/reports/kleio/dehergne-a.rpt,/rest/exports/kleio/dehergne-a.xml
2,kleio/dehergne-locations-1644.cli,dehergne-locations-1644.cli,2024-02-04 08:40:21.505312+00:00,V,2024-02-04 08:40:00+00:00,0,0,I,0,0,No errors,No warnings,2024-02-04 08:40:24.149131,/rest/reports/kleio/dehergne-locations-1644.rpt,/rest/exports/kleio/dehergne-locations-1644.xml

Show only translation and import status

In [6]:
kleio_files[["name","status","import_status"]]

                          name status import_status
0               auc-alunos.cli      V             I
1               dehergne-a.cli      V             I
2  dehergne-locations-1644.cli      V             I

Show translation and import errors

In [7]:
kleio_files[["name","errors","warnings","import_errors","import_warnings"]]

,name,errors,warnings,import_errors,import_warnings
0,auc-alunos.cli,0,0,0,0
1,dehergne-a.cli,0,0,0,0
2,dehergne-locations-1644.cli,0,0,0,0

### Translation and Import reports

Translation reports.

Pass a dataframe with Kleio files and a row number to get the translation report

In [8]:
rpt=tlnb.get_translation_report(kleio_files,rows=1)
print(rpt)

KleioTranslator - server version 12.2 - build 560 2024-01-08 08:18:15
4-2-2024 14-8

Processing data file dehergne-a.cli
-------------------------------------------
Generic Act translation module with geoentities (XML).
     Joaquim Ramos de Carvalho (joaquim@uc.pt)
** New document: kleio
=========================
kleio translation started
=========================
Structure: gacto2.str
Prefix:
Autorel:
Translation count: 178
Obs:
** Processing source fonte$dehergne-a
7: lista$dehergne-notices-a
*** End of File

Line 541 "SAME AS" TO EXTERNAL REFERENCE EXPORTED (deh-belchior-miguel-carneiro-leitao) CHECK IF IT EXISTS BEFORE IMPORTING THIS FILE.
Line 814 "SAME AS" TO EXTERNAL REFERENCE EXPORTED (deh-jean-regis-lieou) CHECK IF IT EXISTS BEFORE IMPORTING THIS FILE.
Line 876 "SAME AS" TO EXTERNAL REFERENCE EXPORTED (deh-alessandro-cicero) CHECK IF IT EXISTS BEFORE IMPORTING THIS FILE.

Structure file: /usr/local/timelink/clio/src/gacto2.str
Structure processing report: /usr/local/timelink/clio/src/gacto2.srpt
Structure in JSON: /usr/local/timelink/clio/src/gacto2.str.json

Kleio file: /kleio-home/kleio/dehergne-a.cli
Original file: /kleio-home/kleio/dehergne-a.org
Previous version: /kleio-home/kleio/dehergne-a.old
Temp file with ids: /kleio-home/kleio/dehergne-a.ids
** - /kleio-home/kleio/dehergne-a.cli-renamed to- /kleio-home/kleio/dehergne-a.old
0  errors.
0  warnings.
Translation finished.

Or use the file name

In [9]:
file = kleio_files.iloc[0].rpt_url
print(file)
rpt=tlnb.get_translation_report(file)
print(rpt)

/rest/reports/kleio/auc-alunos.rpt
KleioTranslator - server version 12.2 - build 560 2024-01-08 08:18:15
4-2-2024 8-37

Processing data file auc-alunos.cli
-------------------------------------------
Generic Act translation module with geoentities (XML).
     Joaquim Ramos de Carvalho (joaquim@uc.pt)
** New document: kleio
=========================
kleio translation started
=========================
Structure: gacto2.str
Prefix:
Autorel:
Translation count: 6
Obs:
** Processing source fonte$auc-alunos
30: lista$auc-alumni-A-140337-140771
*** End of File


Structure file: /usr/local/timelink/clio/src/gacto2.str
Structure processing report: /usr/local/timelink/clio/src/gacto2.srpt
Structure in JSON: /usr/local/timelink/clio/src/gacto2.str.json

Kleio file: /kleio-home/kleio/auc-alunos.cli
Original file: /kleio-home/kleio/auc-alunos.org
Previous version: /kleio-home/kleio/auc-alunos.old
Temp file with ids: /kleio-home/kleio/auc-alunos.ids
0  errors.
0  warnings.
Translation finished.

Import report

In [4]:
rpt = tlnb.get_import_rpt(kleio_files,rows=1)
print(rpt)

NameError: name 'kleio_files' is not defined


# Atualizar base de dados

Atualiza traduções de fontes e importa quando tradução não tem erros.

---

# Update database

Updates source translations and imports into database sources with no errors.

In [11]:
import logging
logging.basicConfig(level=logging.INFO)

tlnb.update_from_sources()

Show imported files status

In [12]:
imported_files_df = tlnb.get_import_status()
imported_files_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   path                3 non-null      object
 1   name                3 non-null      object
 2   size                3 non-null      int64
 3   directory           3 non-null      object
 4   modified            3 non-null      datetime64[ns, UTC]
 5   modified_iso        3 non-null      datetime64[ns, UTC]
 6   modified_string     3 non-null      object
 7   qtime               3 non-null      datetime64[ns, UTC]
 8   qtime_string        3 non-null      object
 9   source_url          3 non-null      object
 10  status              3 non-null      object
 11  translated          3 non-null      datetime64[ns, UTC]
 12  translated_string   3 non-null      object
 13  errors              3 non-null      int64
 14  warnings            3 non-null      int64
 15  version             3 non-null      object
 16  rpt_url             3 non-null      object
 17  xml_url             3 non-null      object
 18  import_status       3 non-null      object
 19  import_errors       3 non-null      Int64
 20  import_warnings     3 non-null      Int64
 21  import_error_rpt    3 non-null      object
 22  import_warning_rpt  3 non-null      object
 23  imported            3 non-null      datetime64[ns]
 24  imported_string     3 non-null      object
dtypes: Int64(2), datetime64[ns, UTC](4), datetime64[ns](1), int64(3), object(15)
memory usage: 734.0+ bytes

Check the import status of the translated files
```python
    I = "I" # imported
    E = "E" # imported with error
    W = "W" # imported with warnings no errors
    N = "N" # not imported
    U = "U" # translation updated need to reimport

```

In [13]:
imported_files_df[["import_status","import_errors","import_warnings","name","imported","path"]].sort_values("name")

,import_status,import_errors,import_warnings,name,imported,path
0,I,0,0,auc-alunos.cli,2024-02-04 08:38:54.291236,kleio/auc-alunos.cli
1,I,0,0,dehergne-a.cli,2024-02-04 14:08:36.475775,kleio/dehergne-a.cli
2,I,0,0,dehergne-locations-1644.cli,2024-02-04 08:40:24.149131,kleio/dehergne-locations-1644.cli

## Todo

This as data frame in a single function
* TimelinkNotebook.translate([files_df,rows=List[int],status="T"])
* TimelinkNotebook.import(files_df, rows=List[int])


# Obter dados
---

# Getting data

### Procurar pessoa

---
### Search for people

#### Search persons by name

In [9]:
from timelink.api.models import Person
from sqlalchemy import select

show_only=10

with tlnb.db.session() as session:
    stmt = select(Person).where(Person.name.like('% Ricci%'))
    print(stmt)
    persons = session.execute(stmt).scalars().all()
    print()
    for person in persons[:show_only]:
        print(person.id, person.name,person.sex)

SELECT persons.id, entities.id AS id_1, entities.class, entities.inside, entities.the_order, entities.the_level, entities.the_line, entities.groupname, entities.updated, entities.indexed, persons.name, persons.sex, persons.obs
FROM entities JOIN persons ON entities.id = persons.id
WHERE persons.name LIKE :name_1

deh-joao-barradas-ref1 Matteo Ricci m
deh-lazzaro-cattaneo-ref1 Matteo Ricci m
deh-giovanni-cola-niccolo-ref1 Matteo Ricci m
deh-sabatino-de-ursis-ref1 Matteo Ricci m
deh-jean-fernandes-tchong-ref1 Matteo Ricci m
deh-sebastien-fernandes-tchong-ref2 Matteo Ricci m
deh-bento-de-gois-ref2 Matteo Ricci m
deh-manuel-pereira-yeou-ref1 Matteo Ricci m
deh-matteo-ricci Matteo Ricci m
deh-matteo-ricci-pai Giovanni Battista Ricci m

DetachedInstanceError: Parent instance <Person at 0x134645d50> is not bound to a Session; lazy load operation of attribute 'contains' cannot proceed (Background on this error at: https://sqlalche.me/e/20/bhk3)

### Search other Entities

#### get the Entity classes in the database

In [15]:
from sqlalchemy import select, func
from timelink.api.models import Entity

models = tlnb.db.get_models_ids()
models

['attribute',
 'relation',
 'act',
 'source',
 'person',
 'good',
 'object',
 'class',
 'geoentity',
 'rgeoentity',
 'robject',
 'rperson',
 'rentity',
 'entity']

#### Get columns of an entity type

In [16]:
table = tlnb.db.get_table("entity")
print(table.name)
list(table.columns)

entities

[Column('id', String(), table=<entities>, primary_key=True, nullable=False),
 Column('class', String(), table=<entities>, nullable=False),
 Column('inside', String(), ForeignKey('entities.id'), table=<entities>),
 Column('the_order', Integer(), table=<entities>),
 Column('the_level', Integer(), table=<entities>),
 Column('the_line', Integer(), table=<entities>),
 Column('groupname', String(), table=<entities>),
 Column('updated', DateTime(), table=<entities>, default=CallableColumnDefault(<function datetime.utcnow at 0x144b67010>)),
 Column('indexed', DateTime(), table=<entities>)]

#### Search any entity type

## IMPROVE

In [10]:
from timelink.api.models import Entity
from sqlalchemy import select, func

Geoentity = tlnb.db.get_model("geoentity")
stmt = select(Geoentity).where(Geoentity.name.like('H%'))
print(stmt)
with tlnb.db.session() as session:

    result = session.execute(stmt).scalars().all()
    for row in result[:4]:
        print()
        print(row.the_type,row.name,row.id,row.obs)
        print(row.to_kleio())

SELECT geoentities.id, entities.id AS id_1, entities.class, entities.inside, entities.the_order, entities.the_level, entities.the_line, entities.groupname, entities.updated, entities.indexed, geoentities.name, geoentities.obs, geoentities.the_type
FROM entities JOIN geoentities ON entities.id = geoentities.id
WHERE geoentities.name LIKE :name_1

geo2 Hangchou deh-r1644-hangchou extra_info: {"name": {"comment": "Hang-tcheou, hoje: Hangzhou, \u676d\u5dde, @wikidata:Q4970"}}
geo2$deh-r1644-hangchou/type=geoentity
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q4970"/16440000/obs=extra_info: {"value": {"comment": "Hang-tcheou, hoje: Hangzhou, \u676d\u5dde, @wikidata:Q4970", "original": "Q4970"}}
  atr$activa/sim/16110000
  atr$residencia-missao/Jesuíta/16110000
  geo3$deh-r1644-fuyang/type=geoentity
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q1011103"/16440000/obs=extra_info: {"value": {"comment": "Fou-yang, hoje:Fuyang, \u5bcc\u9633, @wikidata:Q1011103", "original": "Q1011103"}}
    atr$activa/sim/16420000
  geo3$deh-r1644-jenho/type=geoentity
    atr$activa/sim/16080000

geo2 Huchow deh-r1644-huchow extra_info: {"name": {"comment": "Hou-tcheou, hoje: Huzhou, \u6e56\u5dde, @wikidata:Q42664"}}
geo2$deh-r1644-huchow/type=geoentity
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q42664"/16440000/obs=extra_info: {"value": {"comment": "Hou-tcheou, hoje: Huzhou, \u6e56\u5dde, @wikidata:Q42664", "original": "Q42664"}}
  geo3$deh-r1644-huchow-geo1-46/type=geoentity
    atr$activa/sim/1620

geo3 Hungtang deh-r1644-hungtang
geo3$deh-r1644-hungtang/type=geoentity
  atr$activa/sim/1636

geo3 Hoihow deh-r1644-hoihow
geo3$deh-r1644-hoihow/type=geoentity
  atr$geoentity:type@wikidata/"https://www.wikidata.org/wiki/Q5639130"/16440000/obs=extra_info: {"value": {"comment": "Haikeu, hoje: Haikou, \u6d77\u53e3\u9547, @wikidata:Q5639130", "original": "Q5639130"}}
  atr$activa/sim/1636/obs=in the Chinese translation it has another name “水口”, which probably is wrong.

#### Get person by id

Show a single person or entity in Kleio notation

In [14]:
from timelink.api.models.person import Person

id = 'deh-matteo-ricci'
with tlnb.db.session() as session:
    # get Person with id
    p = session.get(Person, id)
    print(p)

n$Matteo Ricci/m/id=deh-matteo-ricci
  ls$nacionalidade/Itália/0
  ls$jesuita-estatuto/Padre/0
  ls$nome-chines/Li Ma-teou/0
  ls$nome-chines/Si-T'ai/0
  ls$nascimento@wikidata/"https://www.wikidata.org/wiki/Q13135"/15521006/obs=extra_info: {"value": {"original": "Macerata"}}
  ls$nascimento/Macerata/15521006/obs=extra_info: {"value": {"comment": "@wikidata:Q13135"}}
  ls$jesuita-entrada@wikidata/"https://www.wikidata.org/wiki/Q220"/15710816/obs=extra_info: {"value": {"original": "Roma"}}
  ls$jesuita-entrada/Roma/15710816/obs=extra_info: {"value": {"comment": "@wikidata:Q220", "original": "(Noviciado de Sant'Andrea al Quirinale)"}}
  ls$partida-x/Roma/1577-05-18/obs=Schutte, Monumenta historica japoniae I.1280
  ls$estadia-x/Coimbra/0/obs="""
      """
                        Ricci and Tacchi Venturi, Opere Storiche Del p. Matteo Ricci s. i.
                           de Junho de 1577 a fim de março de 1578, p. lxiii

                        Schutte, Monumenta historica japoniae I. 1280"""
  """
  ls$embarque/S. Luís/15780324
  ls$wicky/200/15780324
  ls$wicky-viagem/25/15780324
  ls$chegada@wikidata/"https://www.wikidata.org/wiki/Q1171"/15780913/obs=extra_info: {"value": {"original": "Goa"}}
  ls$chegada/Goa/15780913/obs=extra_info: {"value": {"comment": "@wikidata:Q1171"}}
  ls$estadia@wikidata/"https://www.wikidata.org/wiki/Q1800"/15800726/obs=extra_info: {"value": {"original": "Cochim"}}
  ls$estadia/Cochim/15800726/obs=extra_info: {"value": {"comment": "@wikidata:Q1800"}}
  ls$tarefa/Celebra a primeira missa/15800726
  ls$chegada@wikidata/"https://www.wikidata.org/wiki/Q14773"/15820807/obs=extra_info: {"value": {"original": "Macau"}}
  ls$chegada/Macau/15820807/obs=extra_info: {"value": {"comment": "@wikidata:Q14773"}}
  ls$estadia@wikidata/"https://www.wikidata.org/wiki/Q16572"/15830800/obs=extra_info: {"value": {"original": "Cant\u00e3o"}}
  ls$estadia/Cantão/15830800/obs=extra_info: {"value": {"comment": "@wikidata:Q16572"}}
  ls$estadia/Shiuhing (Tchao-k'ing fou)/15830910
  ls$jesuita-tarefa/Funda uma residência em Shiuhing/15830910/obs=extra_info: {"date": {"comment": "depois"}}
  ls$estadia@wikidata/"https://www.wikidata.org/wiki/Q1346617"/15891000/obs=extra_info: {"value": {"original": "Shiuchow (Chao-tcheou)"}}
  ls$estadia/Shiuchow (Chao-tcheou)/15891000/obs=extra_info: {"value": {"comment": "@wikidata:Q1346617"}}
  ls$jesuita-tarefa/Funda uma residência em Shiuchow/15891000/obs=extra_info: {"date": {"comment": "depois"}, "value": {"comment": "?"}}
  ls$estadia@wikidata/"https://www.wikidata.org/wiki/Q16666"/15950521/obs=extra_info: {"value": {"original": "Nanquim"}}
  ls$estadia/Nanquim/15950521/obs=extra_info: {"value": {"comment": "@wikidata:Q16666"}}
  ls$estadia@wikidata/"https://www.wikidata.org/wiki/Q16666"/15950615/obs=extra_info: {"value": {"original": "Nanquim"}}
  ls$estadia/Nanquim/15950615/obs=extra_info: {"value": {"comment": "@wikidata:Q16666"}}
  ls$estadia/Nan-tch'ang fou/15960628
  ls$jesuita-cargo/Superior da missão da China/15970800
  ls$estadia/Nan-tch'ang fou/15980625
  ls$estadia@wikidata/"https://www.wikidata.org/wiki/Q16666"/15990705/obs=extra_info: {"value": {"original": "Nanquim"}}
  ls$estadia/Nanquim/15990705/obs=extra_info: {"value": {"comment": "@wikidata:Q16666"}}
  ls$partida@wikidata/"https://www.wikidata.org/wiki/Q956"/16000519/obs=extra_info: {"value": {"original": "Pequim"}}
  ls$partida/Pequim/16000519/obs=extra_info: {"value": {"comment": "@wikidata:Q956"}}
  ls$chegada@wikidata/"https://www.wikidata.org/wiki/Q956"/16010124/obs=extra_info: {"value": {"original": "Pequim"}}
  ls$chegada/Pequim/16010124/obs=extra_info: {"value": {"comment": "@wikidata:Q956"}}
  ls$jesuita-tarefa/Funda a missão do Hopei/16010000
  ls$estadia@wikidata/"https://www.wikidata.org/wiki/Q956"/16090000/obs=extra_info: {"value": {"original": "Pequim"}}
  ls$estadia/Pequim/16090000/obs=extra_info: {"value": {"comment": "@wikidata:Q956"}}
  ls$jesuita-tarefa/Congregação marial de Pequim/16090000/obs=extra_info: {"value": {"comment": "funda?"}}
  ls$tarefa/Calendário cristão na China/0/obs=extra_info: {"value": {"comment": "introduz?"}}
  ls$jesuita-cargo/Superior da missão da China/16100511
  ls$jesuita-ordenacao-padre@wikidata/"https://www.wikidata.org/wiki/Q1800"/15800725/obs=extra_info: {"value": {"original": "Cochim"}}
  ls$jesuita-ordenacao-padre/Cochim/15800725/obs=extra_info: {"value": {"comment": "@wikidata:Q1800"}}
  ls$jesuita-votos/4V/15960101
  ls$jesuita-votos-local/Nan-tch'ang/15960101
  ls$morte@wikidata/"https://www.wikidata.org/wiki/Q956"/16100511/obs=extra_info: {"value": {"original": "Pequim"}}
  ls$morte/Pequim/16100511/obs=extra_info: {"value": {"comment": "@wikidata:Q956"}}
  ls$dehergne/684/0/obs="""
      Ricci, Matteo (ital.) P. 684 Li Ma-teou, Si-T'al (Pf.., et non Ki-Jen, RBS 218)., en portugais Richo (DI. XI, 155, n. 19). N. 6 oct. 1552, Macerata, dans la Marche d'Ancône. E. noviciat St André du Quirinal, Rome, 16 août 1571 (Rom. 171A, 16: il signe: Matteo Riccio). Emb. sur le S. Luis, 24 mars 1578 (W 200)., arr. Goa, 13 sept., et Macao, 7 août 1582., août 1583, Canton., 10 sept. 1583, Shiuhing (Tchao-k'ing fou), où il fonde une résidence., oct. 1589, résidence à Shiuchow (Chao-tcheou)., du 21 mai 1595 au 15 juin, Nankin., 28 juin 1596 au 25 juin 1598, Nan-tch'ang fou., 5 juill. 1599, Nankin., 19 mai 1600, départ pour Pékin où il arr. le 24 janv. 1601, et où il fonde la mission du Hopei, 1601., Supérieur de la mission de Chine, d'août 1597 à sa mort., 1609, congrégation mariale. Pékin., calendrier chrétien en Chine (Pf. 117).
  """
  ls$dehergne/684/0/obs="""
      P. 25 juill. 1580, à Cochin, où il célèbre sa première messe le 26 juill. (D'Elia III, 22). V. Nan-tch'ang 1er janv. 1596 (D'Elia I, 374 et II, 4) pr. « Nanciani » ... Riccius (Lus. 2, 128). M. 11 mai 1610, Pékin (JS 113, 120-146., Planchet p. 222). Fils de Giovanni Battista Ricci, pharmacien, et de Giovanna Angiolelli, famille noble, marquis de Castelvecchio (D'Elia I, cii et II, 550). HS 43, 58 le fait mourir d'abord en 1609, puis le 11 mai 1610. Portrait: Pf. 31., D'Elia I, p. vi., ARSI Rom. 185, f° 97-98., BN: Estampes, Ne 100., en couleurs dans Bortone, P. Fernando,- Gesuiti alla corte di Pechino, 1969, pl. II p. 1., cf. Hamy. Pf. 22., Koch., NCE (F. A. Rouleau)., EC (Cel. Testore)., EB (J.S. Sebes)., CE (J. Brucker)., El (Tacchi Venturi). Bibliographie: SiRErr IV, p. 525-528., XII, p. 275-283., XIV. 1. p. 778.,
  """
  ls$dehergne/684/0/obs="""
      D'Elu III, 239-243. Biographie: en chinois: BN: Courant 9 (anonyme), 1014-1016 I, par Aleni, 1321 (par Pantoja, de Ursis)., et 6832 I, poème sur Rica. BernardE-MaÎtre], H., Le P. Matthieu Ricci et la société chinoise de son temps (1552-1610), Tientsin, 1937, 2 vol.., trad. chinoise par Wang Tch'ang-Tche, J., 1943., du même, Iles Philippines, 213-218 (sur la pensée de Ricci)., Cronin, Vincent, The Wise Man front the West, Londres, 1955., Dunne, G. H., Génération of Giants, 1962, p. 23-108., trad. franç. Chinois avec les Chinois, te P. Ricci et ses compagnons, Paris, 1964., Bortone, Fernando, P. Matteo Ricci, SJ.: Il « Saggio d'Occidente », 2' éd., 1965., trad. franç. en préparation. Le ms de Pires, Francisco, montre qu'il a failli être envoyé au Japon.Son oeuvre: Nocentini, Lod., --primo Sinologo, P.M.R., Florence, 1882.,
  """
  ls$dehergne/684/0/obs="""
      Tacchi-Venturi, Opère storiche del P. M. R., Macerata, 1911-1912, 2 vol.., D'Elia, P. M., Fonti Ricciane, Rome, 1942-1949, 3 vol.., du même,. Grandi Missionari, t. I (Rome, 1939), 127-176., du même, Il domma cattolico integralmente présentai da M. R ai letterati delta Cina, Civ. Catt., 1935, II, 35-53., cf Gregorianum 21 (1940), 482-526., du même, Galiteo in Cina, Anatecta Gregor. il, Sect. A n° 1., Son oeuvre: Nocentini, Lod., -- primo Sinologo, P.M.R., Florence, 1882., Tacchi-Venturi, Opère storiche del P. M. R., Macerata, 1911-1912, 2 vol.., D'Elia, P. M., Fonti Ricciane, Rome, 1942-1949, 3 vol.., du même,- Grandi Missionari, t. I (Rome, 1939), 127-176., du même, Il domma cattolico integralmente présentai da M. R ai letterati delta Cina, Civ. Catt., 1935, II, 35-53., cf Gregorianum 21 (1940), 482-526., du même, Galiteo in Cina, Anatecta Gregor. il, Sect. A n° 1.,
  """
  ls$dehergne/684/0/obs="""
      id.. L'apport scientifique du P. M. R à la Chine, Tientsin, 1935, dont trad. anglaise par Chalmers Werner, Edw., Pékin, 1935., id., L'attitude du P. M. R. en face des coutumes et rites chinois, RSRel. 28 (1938), 31-47., id., Les étapes de la cartographie scientifique pour ta Chine et tes pays voisins, MS I (1936), 428-477., Brou, A., Les tâtonnements du P. M. R., RHM 15 (1938), 228-244., Szczesniak, B., The Seventeenth Maps of China, Imago Mundi 17 (1956), 116-136, 9 cartes., id., Matteo Ricci's Maps of China, ibid , 11 (1954), 127-134., cf Giles, L., Geographicat Journal 52 (1918), 367-385 et 53 (1919), 19-30., Wallis, Helen, The Influence of Father R. on Far Eastern Cartography, Imago Mundi 19 (1965), 38-45, 5 cartes., Harris, George L., The Mission of M. R. A case study of an effort at guided culture change in the Sixteenth Century, MS 25 (1968), 1-168.,
  """
  ls$dehergne/684/0/obs="""
      Bettray, Johannes, S.V.D., Die akkomodationmethode des P. M. R., S.J., in China, Analecta Gregoriana, nº 76, Rome, 411 p.., Rule, Paul A., Jestât and Confucian? Chinese Religion in the journal of M.R, Journal of Religious History (Sidney, 1969), 105-124., D'Elia, P. M., Récent discoveries and New Studies (1938-1960) on the World Map in Chinese of F. M.R., SJ., MS XX (1961), 82-164., Danibl-Rops, Histoire de t'Eglise du Christ VI (Paris, 1966), 272-276, Le Christ entre au « Cathay » avec « Li Mateou »., Schutte, 996., DI. XII, 1031. Et nombre d'études sur des points spéciaux., par exemple, sur la Congré- gation mariale de Pékin: Du Manoir, Hubert, Maria t. IV, 968-972., NZM 1962, 255 citant Margiotti...
  """
  ls$dehergne/684/0/obs="""
      Sur l'art chinois: Sepp Schûller, P. M. Ricci und die christliche Kunst, Die Kath. Miss. LXIV (Diisseldorf, 1936), 3-8., H. Bernard [Maître], L'Art chré- tien en Chine au temps du P. M. R., RHM 12 (1935), 199-229., D'Elia, Le origini delt'arte cristiana cinese, Rome 1939. Sur l'influence au Japon des cartes de Ricci, Aleni et Verbiest, l'art, de Shintarô Ayusawa, MNipp. 19 (1964), 45-49. Sur le Ki-jen che p'ien, RBS 228 et 399. Principaux autographes de RICCI: — Son catéchisme, B. Casanatense ms 2136 G. I 1, daté de 1603, cf. JS 195.
  """
  ls$dehergne/684/0/obs="""
      — Délia Entrata delta Comp. nella Cina, avec additions de N. Trigault, JS 106a. Cf D'Elia. Une édition nouvelle, avec un important appareil documentaire et critique est en préparation à l'Université de Paris VII (Bulletin de Liaison, Ecole Pratique des Hautes Etudes, VI* section, 54 bd Raspail, 75006 Paris, vol. V (1972) p. 42. — La Carte de Chine, 28 sept. 1584, reproduite dans Colin, Francisco & Pastells, Pablo, Labor Evangelica .... Barcelone, 1902, III, planche, p. 448 (Arch. d. Ind., 145-7-7). Sa carte du Monde, supra. Gaibandi, Pietro, -- P. M.R e ta geografia délia Cina, Rivista di fisica, matematica e scienze naturali, Padua, VIII, 1903, 321-355, 459-464.
  """
  ls$dehergne/684/0/obs="""
      pécimen d'écriture, nom chinois et romanisation, Allan, pl. p. 49 (noter le -RI de Ricci, écrit à la fois RI et LI. Copie de la lettre du P. « Matheo Risi y Saliano » (1584) à Juan Bautista RomAn, facteur des îles Philippines à Macao, dans Carlos Sanz, Primitivas Relaciones de Espana con Asia y Oceania, Madrid, 1958, 372-384 (Archivos de Indias 67-6-29) et l'art, de Léon Lopetegui, Miss. Hisp. I, 1944, 341-352., Razén y Fe IV, 1902, 463477.
  """
  ls$nota/JRC/0/obs="""
      """

                  Schutte, Monumenta historica japoniae I. 1280
                  “18. Maji 1577 Roma discessit, in Lusitaniam se
                  contulit, Conimbricae studio deditus;
                  24. Martii 1578 e Lusitania in Indiam solvit,
                  13. Sept. 1578 Goam advenit. Cochini deinceps
                  et Goae studium prosecu-tus. litt. quoque human. docuit.”

                  """
  """
  pai$Giovanni Battista Ricci/m/id=deh-matteo-ricci-pai
    ls$profissao/Boticário/0
    rel$parentesco/pai/Matteo Ricci/deh-matteo-ricci/0
    rel$parentesco/marido/Giovanna Angiolelli/deh-matteo-ricci-mae/0
    ls$ec/c/15880000
  mae$Giovanna Angiolelli/f/id=deh-matteo-ricci-mae/obs=Dehergne menciona família nobre, marqueses de Castelvecchio, mas não diz de que lado
    rel$parentesco/mae/Matteo Ricci/deh-matteo-ricci/0
    ls$ec/c/15880000

### Show other type of entities by id in Kleio

In [19]:
from timelink.api.models import Entity

ent = tlnb.db.get_entity("deh-r1644-chekiang")
print(ent.to_kleio())

geo1$deh-r1644-chekiang/type=geoentity
  rel$function-in-act/geo1/deh-chre-1644/16440000
  geo2$deh-r1644-hangchou/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    atr$activa/sim/16110000
    atr$residencia-missao/Jesuíta/16110000
    geo3$deh-r1644-fuyang/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/16420000
    geo3$deh-r1644-jenho/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/16080000
  geo2$deh-r1644-chuchow/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    atr$activa/sim/16130000
  geo2$deh-r1644-huchow/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    geo3$deh-r1644-tehtsing/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1620
  geo2$deh-r1644-kashing/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    geo3$deh-r1644-kaosham/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1640
    geo3$deh-r1644-tangsi/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1642
    geo3$deh-r1644-tsungteh/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/1629/16440000
      atr$alternative-name/Shimen/16440000
    geo3$deh-r1644-tungsiang/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1615
  geo2$deh-r1644-kinhwa/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    atr$activa/sim/16440000
    atr$residencia-missao/Jesuíta/16440000
    geo3$deh-r1644-lanchi/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1642
      atr$residencia-missao/Dominicanos/16440000
    geo3$deh-r1644-tungyang/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1628
  geo2$deh-r1644-ningpo/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    atr$activa/sim/1638
    geo3$deh-r1644-wuking/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1628
    geo3$deh-r1644-tinghai/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1642
    geo3$deh-r1644-tzeki/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1637
  geo2$deh-r1644-shaoshing/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    atr$activa/sim/1586
  geo2$deh-r1644-wenchow/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    geo3$deh-r1644-juian/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1638



###  Obter um dataframe a partir de atributos

---


###  Get a Dataframe from attributes

#### Exemplo: Faculdade, data de entrada e data de saída e grau dos naturais de Coimbra

In [20]:
from timelink.pandas import entities_with_attribute


# Get list of people with with a certain value in a specific attribute
df = entities_with_attribute(
                    entity_type='person',
                    the_type='naturalidade',
                    the_value='Coimbra',
                    more_info=['name','sex'],
                    name_like='% Aboim',
                    more_cols=['faculdade','uc.entrada','uc.saida'],
                    db=tlnb.db,
                    sql_echo=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 140349 to 140367
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               2 non-null      object
 1   sex                2 non-null      object
 2   naturalidade       2 non-null      object
 3   naturalidade.date  2 non-null      object
 4   naturalidade.obs   0 non-null      object
 5   faculdade          2 non-null      object
 6   faculdade.date     2 non-null      object
 7   faculdade.obs      0 non-null      object
 8   uc.entrada         2 non-null      object
 9   uc.entrada.date    2 non-null      object
 10  uc.entrada.obs     0 non-null      object
 11  uc.saida           2 non-null      object
 12  uc.saida.date      2 non-null      object
 13  uc.saida.obs       0 non-null      object
dtypes: object(14)
memory usage: 348.0+ bytes

In [21]:
df.head(5)

,name,sex,naturalidade,naturalidade.date,naturalidade.obs,faculdade,faculdade.date,faculdade.obs,uc.entrada,uc.entrada.date,uc.entrada.obs,uc.saida,uc.saida.date,uc.saida.obs
id,,,,,,,,,,,,,,
140349,António de Aboim,m,Coimbra,1566-12-20,None,Cânones,1566-12-20,None,1566-12-20,1566-12-20,None,1574-07-24,1574-07-24,None
140367,Manuel de Vargas de Aboim,m,Coimbra,20200211,None,Cânones,20200211,None,0000-00-00,20200211,None,0000-00-00,20200211,None

#### obter attributos de outras entidades

In [22]:
from timelink.pandas import entities_with_attribute


# Get list of people with with a certain value in a specific attribute
df = entities_with_attribute(
                    entity_type='geoentity',
                    more_info=['name'],
                    the_type='activa',
                    the_value='sim',
                    more_cols=['residencia-missao'],
                    db=tlnb.db,
                    sql_echo=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 165 entries, deh-r1644-anhai to deh-r1644-yunnan
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    165 non-null    object
 1   activa                  165 non-null    object
 2   activa.date             165 non-null    object
 3   activa.obs              4 non-null      object
 4   residencia-missao       38 non-null     object
 5   residencia-missao.date  38 non-null     object
 6   residencia-missao.obs   4 non-null      object
dtypes: object(7)
memory usage: 10.3+ KB

In [23]:
df.head(30)

,name,activa,activa.date,activa.obs,residencia-missao,residencia-missao.date,residencia-missao.obs
id,,,,,,,
deh-r1644-anhai,Anhai,sim,1634,None,NaN,NaN,NaN
deh-r1644-bankao,Bankao,sim,1636,None,NaN,NaN,NaN
deh-r1644-cantao,Cantão,sim,1555,None,Jesuíta,1580,None
deh-r1644-cantao,Cantão,sim,1555,None,Franciscanos,0000,None
deh-r1644-cantao,Cantão,sim,1555,None,Dominicanos,0000,None
deh-r1644-chala,Chala,sim,1610,None,NaN,NaN,NaN
deh-r1644-changchow-fou,Changchow,sim,1643,None,NaN,NaN,NaN
deh-r1644-changshu,Changshu,sim,1623,None,Jesuíta,1635,"R 1635 «Cham Xo», cf AHSI 28 (1951) 311-312"
deh-r1644-chengting,Chengting,sim,1621,None,NaN,NaN,NaN
deh-r1644-chinkiang,Chinkiang,sim,1611,None,NaN,NaN,NaN
deh-r1644-chowchih,Chowchih,sim,1633,None,NaN,NaN,NaN
deh-r1644-chuanchow,Chüanchow,sim,1625,None,Dominicanos,1632,None
deh-r1644-chuanchow,Chüanchow,sim,1625,None,Jesuíta,16440000,None
deh-r1644-chuchow,Chüchow,sim,16130000,None,NaN,NaN,NaN
deh-r1644-chuchow-tcheou,Chuchow,sim,1616,None,NaN,NaN,NaN
deh-r1644-chuking,Chuking,sim,1642,None,NaN,NaN,NaN
deh-r1644-chungan,Chungan,sim,1635,None,NaN,NaN,NaN
deh-r1644-chungking,Chungking,sim,1642,None,NaN,NaN,NaN
deh-r1644-chwansha,Chwansha,sim,1630,None,NaN,NaN,NaN
deh-r1644-diongloh,Diongloh,sim,1637,None,NaN,NaN,NaN
deh-r1644-fenghsien,Fenghsien,sim,1625,None,NaN,NaN,NaN
deh-r1644-foochow,Foochow,sim,1617,None,Jesuíta,16440000,None
deh-r1644-fuan,Fuan,sim,16440000,None,Dominicanos,1632,None
deh-r1644-funing,Funing,sim,1638,None,Dominicanos,1638,None
deh-r1644-fushan,Fushan,sim,1638,None,NaN,NaN,NaN
deh-r1644-futsing,Futsing,sim,1631,None,NaN,NaN,NaN
deh-r1644-fuyang,Fuyang,sim,16420000,None,NaN,NaN,NaN
deh-r1644-hanchung,Hanchung,sim,1635,None,Jesuíta,1644,None
deh-r1644-hangchou,Hangchou,sim,16110000,None,Jesuíta,16110000,None
deh-r1644-hiapoey,Hiapoey,sim,1634,None,NaN,NaN,NaN



###  Remover colunas sem valores

---



###  Remove empty columns

In [24]:
df.dropna(how='all', axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 165 entries, deh-r1644-anhai to deh-r1644-yunnan
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    165 non-null    object
 1   activa                  165 non-null    object
 2   activa.date             165 non-null    object
 3   activa.obs              4 non-null      object
 4   residencia-missao       38 non-null     object
 5   residencia-missao.date  38 non-null     object
 6   residencia-missao.obs   4 non-null      object
dtypes: object(7)
memory usage: 10.3+ KB

In [25]:
df.head(5)

,name,activa,activa.date,activa.obs,residencia-missao,residencia-missao.date,residencia-missao.obs
id,,,,,,,
deh-r1644-anhai,Anhai,sim,1634,None,NaN,NaN,NaN
deh-r1644-bankao,Bankao,sim,1636,None,NaN,NaN,NaN
deh-r1644-cantao,Cantão,sim,1555,None,Jesuíta,1580,None
deh-r1644-cantao,Cantão,sim,1555,None,Franciscanos,0000,None
deh-r1644-cantao,Cantão,sim,1555,None,Dominicanos,0000,None

In [26]:
ids = df.index.unique()
for id in ids[:5]:
    ent = tlnb.db.get_entity(id)
    print(ent.to_kleio())
    print()

geo3$deh-r1644-anhai/type=geoentity
  rel$function-in-act/geo3/deh-chre-1644/16440000
  atr$activa/sim/1634

geo3$deh-r1644-bankao/type=geoentity
  rel$function-in-act/geo3/deh-chre-1644/16440000
  atr$activa/sim/1636

geo2$deh-r1644-cantao/type=geoentity
  rel$function-in-act/geo2/deh-chre-1644/16440000
  atr$activa/sim/1555
  atr$residencia-missao/Jesuíta/1580
  atr$residencia-missao/Franciscanos/0000
  atr$residencia-missao/Dominicanos/0000
  geo3$deh-r1644-tungkun/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
  geo3$deh-r1644-quon-yao/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$activa/sim/1621
  geo3$deh-r1644-lampacao/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$activa/sim/1535

geo3$deh-r1644-chala/type=geoentity
  rel$function-in-act/geo3/deh-chre-1644/16440000
  atr$activa/sim/1610

geo2$deh-r1644-changchow-fou/type=geoentity
  rel$function-in-act/geo2/deh-chre-1644/16440000
  atr$activa/sim/1643
  geo3$deh-r1644-ihing/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$activa/sim/1623
  geo3$deh-r1644-tsinkiang-tchou/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$activa/sim/1635
  geo3$deh-r1644-wusih/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$activa/sim/16440000
  geo3$deh-r1644-wutsin/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$activa/sim/1625


## Contagens

---

## Counting


###  Contagem de atributos a partir de uma tabela em memória

---

###  Count attributes from an existing dataframe

In [27]:
# create a column with the index values which are the id numbers
df['id'] = df.index.values

col = 'faculdade' # subotal by this column

# Use pandas groupby and specify unique value count for id
df_totals = df.groupby(col).agg({'id':'nunique',
                                                  'uc.entrada':'min',
                                                  'uc.saida':'max'})

df_totals.sort_values('id',ascending= False).head(30)

KeyError: 'faculdade'


### Contagens na base de dados

Quando o atributo tem muitos valores e não é necessário
ter todas as pessoas em memória: contagem feita na base de dados

---

### Counting directly in the database
When there are many values and it is not
necessary to have all the people in memory:
count directly in the database.

In [ ]:
from timelink.pandas import attribute_values

df_totals = attribute_values('grau',db=tlnb.db)

In [ ]:
df_totals.head(10)

                     count    date_min    date_max
value
Bacharel               170  1554-07-19  1912-08-03
Formatura              153  1574-07-24  1905-06-19
Licenciado              33  1574-06-03  1886-02-27
Bacharel em Artes       25  1574-03-14  1766-07-19
Doutor                  11  1560-12-22  1887-11-27
Licenciado em Artes      5  1574-05-15  1738-06-17
Mestre                   2  1710-10-05  1768-10-23

#### Filtrar por datas

Para evitar remissivas com data zero

---

#### Filter by dates

Avoid cross-references with zero date

##ERROR

In [ ]:
df_totals = attribute_values('grau',dates_between=('1535','1919'),db=tlnb.db)

In [ ]:
df_totals.head(10)

                     count    date_min    date_max
value
Bacharel               170  1554-07-19  1912-08-03
Formatura              153  1574-07-24  1905-06-19
Licenciado              33  1574-06-03  1886-02-27
Bacharel em Artes       25  1574-03-14  1766-07-19
Doutor                  11  1560-12-22  1887-11-27
Licenciado em Artes      5  1574-05-15  1738-06-17
Mestre                   2  1710-10-05  1768-10-23

## Visualizar registos

---

## View records

### Visualizar uma pessoa

---

### View a person

#### Atributos de uma pessoa numa tabela, uma linha por attributo

---

#### Person attributes in a dataframe, one line per attribute

In [ ]:
import pandas as pd
from timelink.pandas import group_attributes as person_attributes

pd.set_option('display.max_rows',1000)

id = '140349'
pdf = person_attributes([id],db=tlnb.db)  # note id in a list
pdf[['date','type','value','attr_obs']].sort_values(['date','type'])

,date,type,value,attr_obs
id,,,,
140349,1566-12-20,faculdade,Cânones,None
140349,1566-12-20,faculdade.ano,Cânones.1566,None
140349,1566-12-20,naturalidade,Coimbra,None
140349,1566-12-20,naturalidade.ano,Coimbra.1566,None
140349,1566-12-20,nome,António de Aboim,None
140349,1566-12-20,nome-geografico,Coimbra,None
140349,1566-12-20,nome-geografico.ano,Coimbra.1566,None
140349,1566-12-20,nome.apelido,Aboim,None
140349,1566-12-20,nome.primeiro,António,None
140349,1566-12-20,uc.entrada,1566-12-20,None
140349,1566-12-20,uc.entrada.ano,1566,None
140349,1571-07-20,exame,Exame e Grau de Bacharel em Cânones:,None
140349,1571-07-20,grau,Bacharel,20.07.1571
140349,1571-07-20,grau.ano,Bacharel.1571,20.07.1571
140349,1571-07-20,matricula,Cânones,20.07.1571
140349,1571-07-20,matricula.ano,Cânones.1571,20.07.1571
140349,1573-10-07,matricula,Cânones,07.10.1573
140349,1573-10-07,matricula.ano,Cânones.1573,07.10.1573
140349,1574-07-24,grau,Formatura,24.07.1574
140349,1574-07-24,grau.ano,Formatura.1574,24.07.1574
140349,1574-07-24,matricula,Cânones,24.07.1574
140349,1574-07-24,matricula.ano,Cânones.1574,24.07.1574
140349,1574-07-24,uc.saida,1574-07-24,None
140349,1574-07-24,uc.saida.ano,1574,None
140349,2021-05-17,código-de-referência,"""PT/AUC/ELU/UC-AUC/B/001-001/A/000015""",None
140349,2021-05-17,data-do-registo,2021-05-17,None
140349,2021-05-17,url,"""https://pesquisa.auc.uc.pt/details?id=140349""",None

#### Atributos de uma pessoa numa tabela, attributos em colunas

---

#### Person attributes in a dataframe, attributes in columns

In [30]:
# Get list of people with with a certain value in a specific attribute

df = entities_with_attribute(
                    entity_type='person',
                    the_type='uc.entrada',  # we need a base attribute
                    more_info=['name','sex'],
                    more_cols=['instituta','matricula.faculdade','matricula.ano'],
                    filter_by=[140349],
                    db=tlnb.db,
                    sql_echo=False)
view_cols = ['name','matricula.ano.date','matricula.ano','matricula.ano.obs']
df[view_cols].sort_values('matricula.ano.date')

                    name matricula.ano.date matricula.ano matricula.ano.obs
id
140349  António de Aboim         1571-07-20  Cânones.1571        20.07.1571
140349  António de Aboim         1573-10-07  Cânones.1573        07.10.1573
140349  António de Aboim         1574-07-24  Cânones.1574        24.07.1574

#### Examinar potenciais duplicados

---

#### Examine potentital duplicates

In [15]:
from timelink.pandas import display_group_attributes
pd.set_option('display.max_rows',250)

no_show=['código-de-referência','data-do-registo','url','faculdade.ano','naturalidade.ano',
         'matricula-faculdade.ano','nome-apelido','nome-primeiro','nome-geografico.ano',
         'grau.ano','matricula-outra.ano','nome-geografico','instituta.ano']

dup_ids = ['234295','234710',]  # Alexandre Metelo de

display_group_attributes(dup_ids,
                             header_cols=['uc-entrada','naturalidade','faculdade','nome-pai'],
                             exclude_attributes=no_show,
                             sort_attributes=['date','type','value'],
                             cmap_name='Pastel1')

#### Notação Kleio

Ver [Kleio notation](README_kleio.md) [EN]

---

#### Kleio notation

See [Kleio notation](README_kleio.md)

#### Notação Kleio directamente da base de dados

Ver [Kleio notation](README_kleio.md) [EN]

---

#### Kleio notation directly from database

See [Kleio notation](README_kleio.md)

In [33]:
from timelink.mhk.models.person import Person

with tlnb.db.session() as session:

    p: Person = session.query(Person).order_by(Person.id).first()
    k = p.to_kleio()
    print(p.to_kleio())

n$António Pinto Abadeço/m/id=140337/obs="""
      """

                  Id: 140337
                  Código de referência: PT/AUC/ELU/UC-AUC/B/001-001/A/000001

                  Nome        : António Pinto Abadeço
                  Data inicial: 1705-10-01
                  Data final  : 1710-10-01
                  Filiação: António Pinto

                  Naturalidade: Abrantes
                  Faculdade: Cânones

                  Matrícula(s): 01.10.1705
                  01.10.1706
                  01.01.1707
                  01.10.1708
                  01.10.1709
                  01.10.1710
                  Instituta:
                  Bacharel: 28.06.1709
                  Formatura:
                  Licenciado:
                  Doutor:

                  Outras informações:
              """
  """
  rel$function-in-act/n/António Pinto Abadeço/auc-alumni-A-140337-140771/20200211
  atr$código-de-referência/""PT/AUC/ELU/UC-AUC/B/001-001/A/000001""/2021-05-17
  atr$data-do-registo/2021-05-17/2021-05-17
  atr$url/""https://pesquisa.auc.uc.pt/details?id=140337""/2021-05-17
  ls$uc.entrada/1705-10-01/1705-10-01
  ls$uc.saida/1710-10-01/1710-10-01
  ls$uc.entrada.ano/1705/1705-10-01
  ls$uc.saida.ano/1710/1710-10-01
  ls$nome/António Pinto Abadeço/1705-10-01
  ls$nome.primeiro/António/1705-10-01
  ls$nome.apelido/Pinto Abadeço/1705-10-01
  ls$nome.apelido/Abadeço/1705-10-01
  ls$naturalidade/Abrantes/1705-10-01
  ls$naturalidade.ano/Abrantes.1705/1705-10-01
  ls$nome-geografico/Abrantes/1705-10-01
  ls$nome-geografico.ano/Abrantes.1705/1705-10-01
  ls$faculdade/Cânones/1705-10-01
  ls$faculdade.ano/Cânones.1705/1705-10-01
  ls$matricula/Cânones/1705-10-01/obs=01.10.1705
  ls$matricula.ano/Cânones.1705/1705-10-01/obs=01.10.1705
  ls$matricula/Cânones/1706-10-01/obs=01.10.1706
  ls$matricula.ano/Cânones.1706/1706-10-01/obs=01.10.1706
  ls$matricula/Cânones/1707-01-01/obs=01.01.1707
  ls$matricula.ano/Cânones.1707/1707-01-01/obs=01.01.1707
  ls$matricula/Cânones/1708-10-01/obs=01.10.1708
  ls$matricula.ano/Cânones.1708/1708-10-01/obs=01.10.1708
  ls$matricula/Cânones/1709-10-01/obs=01.10.1709
  ls$matricula.ano/Cânones.1709/1709-10-01/obs=01.10.1709
  ls$matricula/Cânones/1710-10-01/obs=01.10.1710
  ls$matricula.ano/Cânones.1710/1710-10-01/obs=01.10.1710
  ls$matricula/Cânones/1709-06-28/obs=28.06.1709
  ls$matricula.ano/Cânones.1709/1709-06-28/obs=28.06.1709
  ls$grau/Bacharel/1709-06-28/obs=28.06.1709
  ls$grau.ano/Bacharel.1709/1709-06-28/obs=28.06.1709
  pai$António Pinto/m/id=140337-pai
    rel$function-in-act/pai/António Pinto/auc-alumni-A-140337-140771/20200211