> First time use: follow instructions in the README.md file in this directory.


# Receitas

Várias receitas para usar Timelink com notebooks

[Sumário]

---

# Receipts

Receipts for using Timelink with notebooks

[summary]

---
## Setup

### Basic setup

Create a `TimelinkNotebook` instance.

This will provide an interface to the 
various `Timelink` functions.

In [14]:
from timelink.notebooks import TimelinkNotebook

tlnb = TimelinkNotebook()

### Changing the default values

When called with no parameters `TimelinkNotebook` 
assumes a certain directory layout containing the notebook
and from that layout autoconfigures various parameters.

The default layout:

* **project-directory**
    * **database** (database related filed)
    * **notebooks**  _(directory with the current notebook)_ 
    * **kleio**  (source files in kleio format)
    * **identifications** (files with identification information)

Based on this layout `TimelinkNotebook` assumes a few default values:

* **database name**
    * the name of the *project directory* is used as the **database name**, sanitized to produce a valid database name
      (hifens and spaces are replaced with _ ).
* **database type**
  * the type of the database is assumed to be **sqlite**  and a **sqlite** database is created in 
      *database/sqlite*
    * the `db_type` parameter can be used to set the database to `postgres`. 
* **Kleio server home**, working directory for the _Kleio server_ is assumed to be the **project directory**
  * The _Kleio server_ is an application
    that processes transcriptions of historical _Kleio_ notation and generates data in a format
    that can be imported to the database.

These default values can be changed with parameters when creating the `TimelinkNotebook`  instance:

```python
tlnb = TimelinkNotebook(
    project_name="my-project",
    project_home="~/projects/m-project",
    db_type="postgres",
    db_name="my_project_db",
    kleio_image="timelinkserver/kleio-server",
    kleio_version="12.0.0",
    postgres_image="postgres",
    postgres_version="latest",
    sqlite_dir="~/databases",
    sql_echo=True
)
```

### Examining the current configuration

In [15]:

tlnb.print_info()

Project name: dehergne-locations
Project home: /Users/jrc/mhk-home/sources/dehergne-locations
Database type: sqlite
Database name: dehergne_locations
Kleio image: timelinkserver/kleio-server
Kleio server token: gTMTcxSPsD96MhYi9Eu3cxVXmaBYht6k
Kleio server URL: http://127.0.0.1:8089
Kleio server home: /Users/jrc/mhk-home/sources/dehergne-locations
Kleio server container: pensive_moore
Kleio version requested: latest
Kleio server version: 12.4.567 (2024-02-07 13:02:03)
SQLite directory: /Users/jrc/mhk-home/sources/dehergne-locations/database/sqlite
TimelinkNotebook(project_name=dehergne-locations, project_home=/Users/jrc/mhk-home/sources/dehergne-locations, db_type=sqlite, db_name=dehergne_locations, kleio_image=timelinkserver/kleio-server, kleio_version=latest, postgres_image=postgres, postgres_version=latest)

### Listing available databases

In [16]:
pd = tlnb.get_postgres_databases()
print(f"Postgres databases: {pd}")
sd = tlnb.get_sqlite_databases()
print(f"Sqlite databases: {sd}")

Postgres databases: ['timelink', 'tests']
Sqlite databases: ['../database/sqlite/dehergne_locations.sqlite']

### Database status (table row count)

In [17]:
tlnb.table_row_count_df()

               table  count
0               acts     29
1         aregisters      1
2         attributes  25482
3   class_attributes     70
4            classes     14
5           entities  31624
6        geoentities    359
7              goods      0
8         kleiofiles     31
9            objects      0
10           persons   2128
11         relations   3517
12         rentities     65
13      rgeoentities      0
14          robjects      0
15          rpersons     65
16           sources     29
17            syslog      0
18            syspar      0

## Dealing with kleio files

### List Kleio files available

In [18]:
kleio_files = tlnb.get_kleio_files()
kleio_files.head()

,path,name,modified,status,translated,errors,warnings,import_status,import_errors,import_warnings,import_error_rpt,import_warning_rpt,imported,rpt_url,xml_url
0,sources/dehergne-a.cli,dehergne-a.cli,2023-11-29 02:16:33.838462+00:00,V,2023-10-13 04:46:00+00:00,0,0,I,0,0,No errors,No warnings,2024-02-07 03:22:59.712358,/rest/reports/sources/dehergne-a.rpt,/rest/exports/sources/dehergne-a.xml
1,sources/dehergne-b.cli,dehergne-b.cli,2023-11-29 02:16:33.847301+00:00,V,2023-10-13 04:47:00+00:00,0,0,I,0,0,No errors,No warnings,2024-02-07 03:23:11.907971,/rest/reports/sources/dehergne-b.rpt,/rest/exports/sources/dehergne-b.xml
2,sources/dehergne-c.cli,dehergne-c.cli,2023-11-29 02:16:33.858180+00:00,V,2023-10-13 04:47:00+00:00,0,0,I,0,0,No errors,No warnings,2024-02-07 03:23:29.418688,/rest/reports/sources/dehergne-c.rpt,/rest/exports/sources/dehergne-c.xml
3,sources/dehergne-d.cli,dehergne-d.cli,2023-11-29 02:16:33.873745+00:00,V,2023-10-13 04:47:00+00:00,0,0,I,0,0,No errors,No warnings,2024-02-07 03:23:36.819380,/rest/reports/sources/dehergne-d.rpt,/rest/exports/sources/dehergne-d.xml
4,sources/dehergne-e.cli,dehergne-e.cli,2023-11-29 02:16:33.879442+00:00,V,2023-10-13 04:47:00+00:00,0,0,I,0,0,No errors,No warnings,2024-02-07 03:23:38.526859,/rest/reports/sources/dehergne-e.rpt,/rest/exports/sources/dehergne-e.xml

Show only translation and import status

In [19]:
kleio_files[["name","status","import_status"]]

                                name status import_status
0                     dehergne-a.cli      V             I
1                     dehergne-b.cli      V             I
2                     dehergne-c.cli      V             I
3                     dehergne-d.cli      V             I
4                     dehergne-e.cli      V             I
5                     dehergne-f.cli      V             I
6                     dehergne-g.cli      V             I
7                     dehergne-h.cli      V             I
8                     dehergne-i.cli      V             I
9                     dehergne-j.cli      V             I
10                    dehergne-k.cli      V             I
11                    dehergne-l.cli      V             I
12       dehergne-locations-1644.cli      V             I
13       dehergne-locations-1701.cli      T             I
14                    dehergne-m.cli      V             I
15                    dehergne-n.cli      V             I
16                    dehergne-o.cli      V             I
17                dehergne-other.cli      V             I
18                    dehergne-p.cli      V             I
19                    dehergne-q.cli      V             I
20                    dehergne-r.cli      V             I
21                    dehergne-s.cli      V             I
22                    dehergne-t.cli      V             I
23                    dehergne-u.cli      V             I
24                    dehergne-v.cli      V             I
25                    dehergne-w.cli      V             I
26                    dehergne-x.cli      V             I
27                    dehergne-y.cli      V             I
28                    dehergne-z.cli      V             I
29  mhk_identification_toliveira.cli      V             I

Show translation and import errors

In [20]:
kleio_files[["name","errors","warnings","import_errors","import_warnings"]]

,name,errors,warnings,import_errors,import_warnings
0,dehergne-a.cli,0,0,0,0
1,dehergne-b.cli,0,0,0,0
2,dehergne-c.cli,0,0,0,0
3,dehergne-d.cli,0,0,0,0
4,dehergne-e.cli,0,0,0,0
5,dehergne-f.cli,0,0,0,0
6,dehergne-g.cli,0,0,0,0
7,dehergne-h.cli,0,0,0,0
8,dehergne-i.cli,0,0,0,0
9,dehergne-j.cli,0,0,0,0
10,dehergne-k.cli,0,0,0,0
11,dehergne-l.cli,0,0,0,0
12,dehergne-locations-1644.cli,0,0,0,0
13,dehergne-locations-1701.cli,0,0,0,0
14,dehergne-m.cli,0,0,0,0
15,dehergne-n.cli,0,0,0,0
16,dehergne-o.cli,0,0,0,0
17,dehergne-other.cli,0,0,0,0
18,dehergne-p.cli,0,0,0,0
19,dehergne-q.cli,0,0,0,0
20,dehergne-r.cli,0,0,0,0
21,dehergne-s.cli,0,0,0,0
22,dehergne-t.cli,0,0,0,0
23,dehergne-u.cli,0,0,0,0
24,dehergne-v.cli,0,0,0,0
25,dehergne-w.cli,0,0,0,0
26,dehergne-x.cli,0,0,0,0
27,dehergne-y.cli,0,0,0,0
28,dehergne-z.cli,0,0,0,0
29,mhk_identification_toliveira.cli,0,0,0,0

### Translation and Import reports

Translation reports.

Pass a dataframe with Kleio files and a row number to get the translation report

In [21]:
rpt=tlnb.get_translation_report(kleio_files,rows=1)
print(rpt)

KleioTranslator - server version 12.0 - build 541 (MHK: 2235/master) (2023-07-04 04:34:23, MHK: 06/08/2023 04:15 )
13-10-2023 4-46

Processing data file dehergne-b.cli
-------------------------------------------
Generic Act translation module with geoentities (XML).
     Joaquim Ramos de Carvalho (joaquim@uc.pt)
** New document: kleio
=========================
kleio translation started
=========================
Structure: gacto2.str
Prefix:
Autorel:
Translation count: 187
Obs:
** Processing source fonte$dehergne-b
7: lista$dehergne-notices-b
*** End of File

Line 358 "SAME AS" TO EXTERNAL REFERENCE EXPORTED (deh-antonio-de-abreu) CHECK IF IT EXISTS BEFORE IMPORTING THIS FILE.
Line 838 "SAME AS" TO EXTERNAL REFERENCE EXPORTED (deh-alessandro-cicero) CHECK IF IT EXISTS BEFORE IMPORTING THIS FILE.
Line 1458 "SAME AS" TO EXTERNAL REFERENCE EXPORTED (deh-louis-porquet) CHECK IF IT EXISTS BEFORE IMPORTING THIS FILE.

Structure file: /kleio-home/sources/dehergne/structures/sources.str
Structure processing report: /kleio-home/sources/dehergne/structures/sources.srpt
Structure in JSON: /kleio-home/sources/dehergne/structures/sources.str.json

Kleio file: /kleio-home/sources/dehergne/sources/dehergne-b.cli
Original file: /kleio-home/sources/dehergne/sources/dehergne-b.org
Previous version: /kleio-home/sources/dehergne/sources/dehergne-b.old
Temp file with ids: /kleio-home/sources/dehergne/sources/dehergne-b.ids
** - /kleio-home/sources/dehergne/sources/dehergne-b.cli-renamed to- /kleio-home/sources/dehergne/sources/dehergne-b.old
0  errors.
0  warnings.
Translation finished.

Or use the file name

In [22]:
file = kleio_files.iloc[0].rpt_url
print(file)
rpt=tlnb.get_translation_report(file)
print(rpt)

/rest/reports/sources/dehergne-a.rpt
KleioTranslator - server version 12.0 - build 541 (MHK: 2235/master) (2023-07-04 04:34:23, MHK: 06/08/2023 04:15 )
13-10-2023 4-46

Processing data file dehergne-a.cli
-------------------------------------------
Generic Act translation module with geoentities (XML).
     Joaquim Ramos de Carvalho (joaquim@uc.pt)
** New document: kleio
=========================
kleio translation started
=========================
Structure: gacto2.str
Prefix:
Autorel:
Translation count: 193
Obs:
** Processing source fonte$dehergne-a
7: lista$dehergne-notices-a
*** End of File

Line 541 "SAME AS" TO EXTERNAL REFERENCE EXPORTED (deh-belchior-miguel-carneiro-leitao) CHECK IF IT EXISTS BEFORE IMPORTING THIS FILE.
Line 814 "SAME AS" TO EXTERNAL REFERENCE EXPORTED (deh-jean-regis-lieou) CHECK IF IT EXISTS BEFORE IMPORTING THIS FILE.
Line 876 "SAME AS" TO EXTERNAL REFERENCE EXPORTED (deh-alessandro-cicero) CHECK IF IT EXISTS BEFORE IMPORTING THIS FILE.

Structure file: /kleio-home/sources/dehergne/structures/sources.str
Structure processing report: /kleio-home/sources/dehergne/structures/sources.srpt
Structure in JSON: /kleio-home/sources/dehergne/structures/sources.str.json

Kleio file: /kleio-home/sources/dehergne/sources/dehergne-a.cli
Original file: /kleio-home/sources/dehergne/sources/dehergne-a.org
Previous version: /kleio-home/sources/dehergne/sources/dehergne-a.old
Temp file with ids: /kleio-home/sources/dehergne/sources/dehergne-a.ids
** - /kleio-home/sources/dehergne/sources/dehergne-a.cli-renamed to- /kleio-home/sources/dehergne/sources/dehergne-a.old
0  errors.
0  warnings.
Translation finished.

Import report

In [23]:
rpt = tlnb.get_import_rpt(kleio_files,rows=1)
print(rpt)

No errors
No warnings


# Atualizar base de dados

Atualiza traduções de fontes e importa quando tradução não tem erros.

---

# Update database

Updates source translations and imports into database sources with no errors.

In [35]:
import logging
logging.basicConfig(level=logging.INFO)

tlnb.update_from_sources()

Show imported files status

In [36]:
imported_files_df = tlnb.get_import_status()
imported_files_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   path                30 non-null     object
 1   name                30 non-null     object
 2   size                30 non-null     int64
 3   directory           30 non-null     object
 4   modified            30 non-null     datetime64[ns, UTC]
 5   modified_iso        30 non-null     datetime64[ns, UTC]
 6   modified_string     30 non-null     object
 7   qtime               30 non-null     datetime64[ns, UTC]
 8   qtime_string        30 non-null     object
 9   source_url          30 non-null     object
 10  status              30 non-null     object
 11  translated          30 non-null     datetime64[ns, UTC]
 12  translated_string   30 non-null     object
 13  errors              30 non-null     int64
 14  warnings            30 non-null     int64
 15  version             30 non-null     object
 16  rpt_url             30 non-null     object
 17  xml_url             30 non-null     object
 18  import_status       30 non-null     object
 19  import_errors       30 non-null     Int64
 20  import_warnings     30 non-null     Int64
 21  import_error_rpt    30 non-null     object
 22  import_warning_rpt  30 non-null     object
 23  imported            30 non-null     object
 24  imported_string     30 non-null     object
dtypes: Int64(2), datetime64[ns, UTC](4), int64(3), object(16)
memory usage: 6.0+ KB

Check the import status of the translated files
```python
    I = "I" # imported
    E = "E" # imported with error
    W = "W" # imported with warnings no errors
    N = "N" # not imported
    U = "U" # translation updated need to reimport

```

In [38]:
imported_files_df[["import_status","import_errors","import_warnings","name","imported","path"]].sort_values("name")

,import_status,import_errors,import_warnings,name,imported,path
0,I,0,0,dehergne-a.cli,2024-02-07 03:22:59.712358,sources/dehergne-a.cli
1,I,0,0,dehergne-b.cli,2024-02-07 03:23:11.907971,sources/dehergne-b.cli
2,I,0,0,dehergne-c.cli,2024-02-07 03:23:29.418688,sources/dehergne-c.cli
3,I,0,0,dehergne-d.cli,2024-02-07 03:23:36.819380,sources/dehergne-d.cli
4,I,0,0,dehergne-e.cli,2024-02-07 03:23:38.526859,sources/dehergne-e.cli
5,I,0,0,dehergne-f.cli,2024-02-07 03:23:49.669086,sources/dehergne-f.cli
6,I,0,0,dehergne-g.cli,2024-02-07 03:24:00.428726,sources/dehergne-g.cli
7,I,0,0,dehergne-h.cli,2024-02-07 03:24:04.137667,sources/dehergne-h.cli
8,I,0,0,dehergne-i.cli,2024-02-07 03:24:06.156498,sources/dehergne-i.cli
9,I,0,0,dehergne-j.cli,2024-02-07 03:24:08.424135,sources/dehergne-j.cli
10,I,0,0,dehergne-k.cli,2024-02-07 03:24:11.797747,sources/dehergne-k.cli
11,I,0,0,dehergne-l.cli,2024-02-07 03:24:23.677506,sources/dehergne-l.cli
12,I,0,0,dehergne-locations-1644.cli,2024-02-07 10:38:50.601818,sources/dehergne-locations-1644.cli
13,U,0,0,dehergne-locations-1701.cli,0,sources/dehergne-locations-1701.cli
14,I,0,0,dehergne-m.cli,2024-02-07 03:24:41.641389,sources/dehergne-m.cli
15,I,0,0,dehergne-n.cli,2024-02-07 03:24:46.308204,sources/dehergne-n.cli
16,I,0,0,dehergne-o.cli,2024-02-07 03:24:48.333699,sources/dehergne-o.cli
17,I,0,0,dehergne-other.cli,2024-02-07 03:24:49.833891,sources/dehergne-other.cli
18,I,0,0,dehergne-p.cli,2024-02-07 03:25:02.353723,sources/dehergne-p.cli
19,I,0,0,dehergne-q.cli,2024-02-07 03:25:03.782262,sources/dehergne-q.cli
20,I,0,0,dehergne-r.cli,2024-02-07 03:25:16.572986,sources/dehergne-r.cli
21,I,0,0,dehergne-s.cli,2024-02-07 03:25:31.806830,sources/dehergne-s.cli
22,I,0,0,dehergne-t.cli,2024-02-07 03:25:39.756322,sources/dehergne-t.cli
23,I,0,0,dehergne-u.cli,2024-02-07 03:25:41.114462,sources/dehergne-u.cli
24,I,0,0,dehergne-v.cli,2024-02-07 03:25:50.412264,sources/dehergne-v.cli
25,I,0,0,dehergne-w.cli,2024-02-07 03:25:52.352358,sources/dehergne-w.cli
26,I,0,0,dehergne-x.cli,2024-02-07 03:25:54.915499,sources/dehergne-x.cli
27,I,0,0,dehergne-y.cli,2024-02-07 03:25:56.587459,sources/dehergne-y.cli
28,I,0,0,dehergne-z.cli,2024-02-07 03:25:58.658229,sources/dehergne-z.cli
29,I,0,0,mhk_identification_toliveira.cli,2024-02-07 03:26:00.024753,identifications/mhk_identification_toliveira.cli

## Todo

This as data frame in a single function
* TimelinkNotebook.translate([files_df,rows=List[int],status="T"])
* TimelinkNotebook.import(files_df, rows=List[int])


# Obter dados
---

# Getting data

### Procurar pessoa

---
### Search for people

#### Search persons by name

In [39]:
from timelink.api.models import Person
from sqlalchemy import select

show_only=10

with tlnb.db.session() as session:
    stmt = select(Person).where(Person.name.like('% Aboim'))
    print(stmt)
    persons = session.execute(stmt).scalars().all()
    print()
    for person in persons[:show_only]:
        print(person.id, person.name,person.sex)

SELECT persons.id, entities.id AS id_1, entities.class, entities.inside, entities.the_order, entities.the_level, entities.the_line, entities.groupname, entities.updated, entities.indexed, persons.name, persons.sex, persons.obs
FROM entities JOIN persons ON entities.id = persons.id
WHERE persons.name LIKE :name_1

### Search other Entities

#### get the Entity classes in the database

In [40]:
from sqlalchemy import select, func
from timelink.api.models import Entity

models = tlnb.db.get_models_ids()
models

['attribute',
 'relation',
 'act',
 'source',
 'person',
 'good',
 'object',
 'class',
 'geoentity',
 'rgeoentity',
 'robject',
 'rperson',
 'rentity',
 'aregister',
 'entity']

#### Get columns of an entity type

In [41]:
table = tlnb.db.get_table("entity")
print(table.name)
list(table.columns)

entities

[Column('id', String(), table=<entities>, primary_key=True, nullable=False),
 Column('class', String(), table=<entities>, nullable=False),
 Column('inside', String(), ForeignKey('entities.id'), table=<entities>),
 Column('the_order', Integer(), table=<entities>),
 Column('the_level', Integer(), table=<entities>),
 Column('the_line', Integer(), table=<entities>),
 Column('groupname', String(), table=<entities>),
 Column('updated', DateTime(), table=<entities>, default=CallableColumnDefault(<function datetime.utcnow at 0x133fc00d0>)),
 Column('indexed', DateTime(), table=<entities>)]

#### Search any entity type

## IMPROVE

In [30]:
from timelink.api.models import Entity
from sqlalchemy import select, func

Geoentity = tlnb.db.get_model("geoentity")
stmt = select(Geoentity).where(Geoentity.name.like('H%'))
print(stmt)
with tlnb.db.session() as session:

    result = session.execute(stmt).scalars().all()
    for row in result:
        print()
        print(row.the_type,row.name,row.id,row.obs)
        print(row.to_kleio())

SELECT geoentities.id, entities.id AS id_1, entities.class, entities.inside, entities.the_order, entities.the_level, entities.the_line, entities.groupname, entities.updated, entities.indexed, geoentities.name, geoentities.obs, geoentities.the_type
FROM entities JOIN geoentities ON entities.id = geoentities.id
WHERE geoentities.name LIKE :name_1

geo2 Hangchou deh-r1644-hangchou None

geo2$deh-r1644-hangchou/type=geoentity
  rel$function-in-act/geo2/deh-chre-1644/16440000
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q4970"/16440000
  atr$activa/sim/16110000
  atr$residencia-missao/Jesuíta/16110000
  geo3$deh-r1644-fuyang/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q1011103"/16440000
    atr$activa/sim/16420000
  geo3$deh-r1644-jenho/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$activa/sim/16080000

geo2 Huchow deh-r1644-huchow None
geo2$deh-r1644-huchow/type=geoentity
  rel$function-in-act/geo2/deh-chre-1644/16440000
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q42664"/16440000
  geo3$deh-r1644-tehtsing/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$activa/sim/1620

geo3 Hungtang deh-r1644-hungtang None
geo3$deh-r1644-hungtang/type=geoentity
  rel$function-in-act/geo3/deh-chre-1644/16440000
  atr$activa/sim/1636

geo3 Hoihow deh-r1644-hoihow None
geo3$deh-r1644-hoihow/type=geoentity
  rel$function-in-act/geo3/deh-chre-1644/16440000
  atr$geoentity:type@wikidata/"https://www.wikidata.org/wiki/Q5639130"/16440000
  atr$activa/sim/1636/obs=in the Chinese translation it has another name “水口”, which probably is wrong.

geo3 Hweian deh-r1644-hweian None
geo3$deh-r1644-hweian/type=geoentity
  rel$function-in-act/geo3/deh-chre-1644/16440000
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q1374978"/16440000
  atr$activa/sim/1636

geo3 Hiapoey deh-r1644-hiapoey None
geo3$deh-r1644-hiapoey/type=geoentity
  rel$function-in-act/geo3/deh-chre-1644/16440000
  atr$activa/sim/1634

geo2 Hinghwa deh-r1644-hinghwa None
geo2$deh-r1644-hinghwa/type=geoentity
  rel$function-in-act/geo2/deh-chre-1644/16440000
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q17498990"/16440000
  atr$activa/sim/1626
  geo3$deh-r1644-putien/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q17031936"/16440000
    atr$activa/sim/1636
  geo3$deh-r1644-sienyu/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q1337926"/16440000
    atr$activa/sim/1631

geo1 Honan deh-r1644-honan (12 ou 13 chrétientés en 1641)
geo1$deh-r1644-honan/type=geoentity
  rel$function-in-act/geo1/deh-chre-1644/16440000
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q43684"/16440000
  geo2$deh-r1644-kaifeng/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    atr$activa/sim/1550
    atr$activa/sim/1623
    geo3$deh-r1644-yuanwu/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/"/16440000
      atr$activa/sim/1622
  geo2$deh-r1644-kweiteh/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q404817"/16440000
    atr$activa/sim/16440000

geo1 Hukwang deh-r1644-hukwang None
geo1$deh-r1644-hukwang/type=geoentity
  rel$function-in-act/geo1/deh-chre-1644/16440000
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q2235155"/16440000
  rel$geografica/pertence região/deh-r1644-hukwang/16440000
  atr$alternative-name@wikidata/"https://www.wikidata.org/wiki/Q46862"/16440000
  atr$alternative-name/Houpeh/16440000
  geo2$deh-r1644-wuchang/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q1014420"/16440000
    atr$activa/sim/1637
    geo3$deh-r1644-tungshan/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q1356703"/16440000
      atr$activa/sim/1629
  geo2$deh-r1644-anlu/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q557934"/16440000
    geo3$deh-r1644-kingmen/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q71323"/16440000
      atr$activa/sim/1644
  geo2$deh-r1644-hwangchow/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q927929"/16440000
    geo3$deh-r1644-kichow/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1639
  geo2$deh-r1644-kingchow/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q14135188"/16440000
    geo3$deh-r1644-kungan/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q1198857"/16440000
    geo3$deh-r1644-meng-kia-ki/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1644
    geo3$deh-r1644-shihshow/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q1359319"/16440000
      atr$activa/sim/1640

geo2 Hwangchow deh-r1644-hwangchow None
geo2$deh-r1644-hwangchow/type=geoentity
  rel$function-in-act/geo2/deh-chre-1644/16440000
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q927929"/16440000
  geo3$deh-r1644-kichow/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$activa/sim/1639

geo1 Hunan deh-r1644-hunan None
geo1$deh-r1644-hunan/type=geoentity
  rel$function-in-act/geo1/deh-chre-1644/16440000
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q45761"/16440000
  rel$geografica/pertence região/deh-r1644-hukwang/16440000
  geo2$deh-r1644-yungchow/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q266014"/16440000
    geo3$deh-r1644-kiyang/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q1199641"/16440000
    geo3$deh-r1644-paishui/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1587/obs=tentative de Ruggieri à Paishui 1587

geo2 Hweichow deh-r1644-hweichow None
geo2$deh-r1644-hweichow/type=geoentity
  rel$function-in-act/geo2/deh-chre-1644/16440000
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q4358404"/16440000
  geo3$deh-r1644-wuyan-hien/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q1357710"/16440000
  geo3$deh-r1644-tungment/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$activa/sim/1644

geo2 Hwaian deh-r1644-hwaian None
geo2$deh-r1644-hwaian/type=geoentity
  rel$function-in-act/geo2/deh-chre-1644/16440000
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q57818"/16440000
  atr$activa/sim/1638

geo3 Hwangtsun deh-r1644-hwangtsun tous bourgs évangélisés avant 1603
geo3$deh-r1644-hwangtsun/type=geoentity
  rel$function-in-act/geo3/deh-chre-1644/16440000

geo3 Hwanghsiaping deh-r1644-hwanghsiaping tous bourgs évangélisés avant 1603
geo3$deh-r1644-hwanghsiaping/type=geoentity
  rel$function-in-act/geo3/deh-chre-1644/16440000

geo2 Hokien deh-r1644-hokien None
geo2$deh-r1644-hokien/type=geoentity
  rel$function-in-act/geo2/deh-chre-1644/16440000
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q1601618"/16440000
  atr$activa/sim/1637
  geo3$deh-r1644-ningtsin/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q1197955"/16440000
    atr$activa/sim/1621
  geo3$deh-r1644-wukiao/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$activa/sim/1621

geo3 Hwachow deh-r1644-hwachow None
geo3$deh-r1644-hwachow/type=geoentity
  rel$function-in-act/geo3/deh-chre-1644/16440000
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q727188"/16440000
  atr$activa/sim/1633

geo2 Hanchung deh-r1644-hanchung None
geo2$deh-r1644-hanchung/type=geoentity
  rel$function-in-act/geo2/deh-chre-1644/16440000
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q727188"/16440000
  atr$activa/sim/1635
  atr$residencia-missao/Jesuíta/1644
  geo3$deh-r1644-chenku/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q1069968"/16440000
    atr$residencia-missao/Jesuíta/1642
  geo3$deh-r1644-siao-tchai-tse/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$activa/sim/1635
  geo3$deh-r1644-yanghsien/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q1201504"/16440000
    atr$activa/sim/1639

geo2 Hangchou deh-r1701-hangchou None
geo2$deh-r1701-hangchou/type=geoentity
  rel$function-in-act/geo2/deh-chre-1701/17010000
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q4970"/17010000
  atr$activa/sim/1701
  atr$residencia-missao/Jesuíta/1701
  atr$activa/não/1701
  atr$residencia-missao/Franciscanos/1701
  geo3$deh-r1701-hainang/type=geoentity
    rel$function-in-act/geo3/deh-chre-1701/17010000
    atr$activa/não/1701

geo3 Haining deh-r1701-hainang None
geo3$deh-r1701-hainang/type=geoentity
  rel$function-in-act/geo3/deh-chre-1701/17010000
  atr$activa/não/1701

geo2 Hinghwa deh-r1701-hinghwa None
geo2$deh-r1701-hinghwa/type=geoentity
  rel$function-in-act/geo2/deh-chre-1701/17010000
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q17498990"/17010000
  atr$activa/não/1701
  atr$residencia-missao/Jesuíta/1701
  atr$activa/sim/1701
  atr$residencia-missao/Missões estrangeiras/1701

geo1 Honan deh-r1701-honan None
geo1$deh-r1701-honan/type=geoentity
  rel$function-in-act/geo1/deh-chre-1701/17010000
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q43684"/17010000
  geo2$deh-r1701-kaifeng/type=geoentity
    rel$function-in-act/geo2/deh-chre-1701/17010000
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q208471"/17010000
    atr$activa/sim/1701
  geo2$deh-r1701-kweiteh/type=geoentity
    rel$function-in-act/geo2/deh-chre-1701/17010000
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q404817"/17010000
    atr$activa/não/1701

geo1 Hukwang deh-r1701-hukwang None
geo1$deh-r1701-hukwang/type=geoentity
  rel$function-in-act/geo1/deh-chre-1701/17010000
  geo2$deh-r1701-wuchang/type=geoentity
    rel$function-in-act/geo2/deh-chre-1701/17010000
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q1014420"/17010000
    atr$activa/sim/1701
  geo2$deh-r1701-anlu/type=geoentity
    rel$function-in-act/geo2/deh-chre-1701/17010000
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q557934"/17010000
    atr$activa/não/1701
  geo2$deh-r1701-changsha/type=geoentity
    rel$function-in-act/geo2/deh-chre-1701/17010000
    atr$activa/não/1701
    geo3$deh-r1701-siangtan/type=geoentity
      rel$function-in-act/geo3/deh-chre-1701/17010000
      atr$activa/sim/1701
  geo2$deh-r1701-chengchow/type=geoentity
    rel$function-in-act/geo2/deh-chre-1701/17010000
    atr$activa/não/1701
    atr$residencia-missao/Missões estrangeiras/1701
  geo2$deh-r1701-hengchow/type=geoentity
    rel$function-in-act/geo2/deh-chre-1701/17010000
    atr$activa/não/1701
  geo2$deh-r1701-kingchow/type=geoentity
    rel$function-in-act/geo2/deh-chre-1701/17010000
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q71247"/17010000
    atr$activa/não/1701
  geo2$deh-r1701-teian/type=geoentity
    rel$function-in-act/geo2/deh-chre-1701/17010000
    atr$activa/não/1701
  geo2$deh-r1701-yungchow/type=geoentity
    rel$function-in-act/geo2/deh-chre-1701/17010000
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q266014"/17010000
    atr$activa/não/1701

geo2 Hengchow deh-r1701-hengchow None
geo2$deh-r1701-hengchow/type=geoentity
  rel$function-in-act/geo2/deh-chre-1701/17010000
  atr$activa/não/1701

geo2 Hwaian deh-r1701-hwaian None
geo2$deh-r1701-hwaian/type=geoentity
  rel$function-in-act/geo2/deh-chre-1701/17010000
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q57818"/17010000
  atr$activa/sim/1701

geo3 Hungtung deh-r1701-hungtung cristandade, não residência
geo3$deh-r1701-hungtung/type=geoentity
  rel$function-in-act/geo3/deh-chre-1701/17010000

geo2 Hanchung deh-r1701-hanchung None
geo2$deh-r1701-hanchung/type=geoentity
  rel$function-in-act/geo2/deh-chre-1701/17010000
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q515573"/17010000
  atr$activa/não/1701

#### Get person by id

Show a single person or entity in Kleio notation

In [45]:
p = tlnb.db.get_person('deh-michele-ruggieri')
print(p.to_kleio())

AttributeError: 'NoneType' object has no attribute 'to_kleio'

### Show other type of entities by id in Kleio

In [ ]:
from timelink.api.models import Entity

ent = tlnb.db.get_entity("deh-r1644-chekiang")
print(ent.to_kleio())

geo1$deh-r1644-chekiang/type=geoentity
  rel$function-in-act/geo1/deh-chre-1644/16440000
  geo2$deh-r1644-hangchou/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    atr$activa/sim/16110000
    atr$residencia-missao/Jesuíta/16110000
    geo3$deh-r1644-fuyang/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/16420000
    geo3$deh-r1644-jenho/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/16080000
  geo2$deh-r1644-chuchow/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    atr$activa/sim/16130000
  geo2$deh-r1644-huchow/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    geo3$deh-r1644-tehtsing/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1620
  geo2$deh-r1644-kashing/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    geo3$deh-r1644-kaosham/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1640
    geo3$deh-r1644-tangsi/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1642
    geo3$deh-r1644-tsungteh/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/1629/16440000
      atr$alternative-name/Shimen/16440000
    geo3$deh-r1644-tungsiang/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1615
  geo2$deh-r1644-kinhwa/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    atr$activa/sim/16440000
    atr$residencia-missao/Jesuíta/16440000
    geo3$deh-r1644-lanchi/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1642
      atr$residencia-missao/Dominicanos/16440000
    geo3$deh-r1644-tungyang/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1628
  geo2$deh-r1644-ningpo/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    atr$activa/sim/1638
    geo3$deh-r1644-wuking/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1628
    geo3$deh-r1644-tinghai/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1642
    geo3$deh-r1644-tzeki/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1637
  geo2$deh-r1644-shaoshing/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    atr$activa/sim/1586
  geo2$deh-r1644-wenchow/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    geo3$deh-r1644-juian/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1638



###  Obter um dataframe a partir de atributos

---


###  Get a Dataframe from attributes

#### Exemplo: Faculdade, data de entrada e data de saída e grau dos naturais de Coimbra

In [46]:
from timelink.pandas import entities_with_attribute


# Get list of people with with a certain value in a specific attribute
df = entities_with_attribute(
                    entity_type='person',
                    the_type='naturalidade',
                    the_value='Coimbra',
                    more_info=['name','sex'],
                    name_like='% Aboim',
                    more_cols=['faculdade','uc.entrada','uc.saida'],
                    db=tlnb.db,
                    sql_echo=False)
df.info()

AttributeError: 'NoneType' object has no attribute 'info'

In [ ]:
df.head(5)

,name,sex,naturalidade,naturalidade.date,naturalidade.obs,faculdade,faculdade.date,faculdade.obs,uc.entrada,uc.entrada.date,uc.entrada.obs,uc.saida,uc.saida.date,uc.saida.obs
id,,,,,,,,,,,,,,
140349,António de Aboim,m,Coimbra,1566-12-20,None,Cânones,1566-12-20,None,1566-12-20,1566-12-20,None,1574-07-24,1574-07-24,None
140367,Manuel de Vargas de Aboim,m,Coimbra,20200211,None,Cânones,20200211,None,0000-00-00,20200211,None,0000-00-00,20200211,None

#### obter attributos de outras entidades

In [ ]:
from timelink.pandas import entities_with_attribute


# Get list of people with with a certain value in a specific attribute
df = entities_with_attribute(
                    entity_type='geoentity',
                    more_info=['name'],
                    the_type='activa',
                    the_value='sim',
                    more_cols=['residencia-missao'],
                    db=tlnb.db,
                    sql_echo=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 253 entries, deh-r1644-anhai to deh-r1701-yunnanfu
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    253 non-null    object
 1   activa                  253 non-null    object
 2   activa.date             253 non-null    object
 3   activa.obs              5 non-null      object
 4   residencia-missao       88 non-null     object
 5   residencia-missao.date  88 non-null     object
 6   residencia-missao.obs   11 non-null     object
dtypes: object(7)
memory usage: 15.8+ KB

In [ ]:
df.head(30)

,name,activa,activa.date,activa.obs,residencia-missao,residencia-missao.date,residencia-missao.obs
id,,,,,,,
deh-r1644-anhai,Anhai,sim,1634,None,NaN,NaN,NaN
deh-r1644-bankao,Bankao,sim,1636,None,NaN,NaN,NaN
deh-r1644-cantao,Cantão,sim,1555,None,Jesuíta,1580,None
deh-r1644-cantao,Cantão,sim,1555,None,Franciscanos,0000,None
deh-r1644-cantao,Cantão,sim,1555,None,Dominicanos,0000,None
deh-r1644-chala,Chala,sim,1610,None,NaN,NaN,NaN
deh-r1644-changchow-fou,Changchow,sim,1643,None,NaN,NaN,NaN
deh-r1644-changshu,Changshu,sim,1623,None,Jesuíta,1635,"R 1635 «Cham Xo», cf AHSI 28 (1951) 311-312"
deh-r1644-chengting,Chengting,sim,1621,None,NaN,NaN,NaN
deh-r1644-chinkiang,Chinkiang,sim,1611,None,NaN,NaN,NaN
deh-r1644-chowchih,Chowchih,sim,1633,None,NaN,NaN,NaN
deh-r1644-chuanchow,Chüanchow,sim,1625,None,Dominicanos,1632,None
deh-r1644-chuanchow,Chüanchow,sim,1625,None,Jesuíta,16440000,None
deh-r1644-chuchow,Chüchow,sim,16130000,None,NaN,NaN,NaN
deh-r1644-chuchow-tcheou,Chuchow,sim,1616,None,NaN,NaN,NaN
deh-r1644-chuking,Chuking,sim,1642,None,NaN,NaN,NaN
deh-r1644-chungan,Chungan,sim,1635,None,NaN,NaN,NaN
deh-r1644-chungking,Chungking,sim,1642,None,NaN,NaN,NaN
deh-r1644-chwansha,Chwansha,sim,1630,None,NaN,NaN,NaN
deh-r1644-diongloh,Diongloh,sim,1637,None,NaN,NaN,NaN
deh-r1644-fenghsien,Fenghsien,sim,1625,None,NaN,NaN,NaN
deh-r1644-foochow,Foochow,sim,1617,None,Jesuíta,16440000,None
deh-r1644-fuan,Fuan,sim,16440000,None,Dominicanos,1632,None
deh-r1644-funing,Funing,sim,1638,None,Dominicanos,1638,None
deh-r1644-fushan,Fushan,sim,1638,None,NaN,NaN,NaN
deh-r1644-futsing,Futsing,sim,1631,None,NaN,NaN,NaN
deh-r1644-fuyang,Fuyang,sim,16420000,None,NaN,NaN,NaN
deh-r1644-hanchung,Hanchung,sim,1635,None,Jesuíta,1644,None
deh-r1644-hangchou,Hangchou,sim,16110000,None,Jesuíta,16110000,None
deh-r1644-hiapoey,Hiapoey,sim,1634,None,NaN,NaN,NaN



###  Remover colunas sem valores

---



###  Remove empty columns

In [ ]:
df.dropna(how='all', axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 165 entries, deh-r1644-anhai to deh-r1644-yunnan
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    165 non-null    object
 1   activa                  165 non-null    object
 2   activa.date             165 non-null    object
 3   activa.obs              4 non-null      object
 4   residencia-missao       38 non-null     object
 5   residencia-missao.date  38 non-null     object
 6   residencia-missao.obs   4 non-null      object
dtypes: object(7)
memory usage: 10.3+ KB

In [ ]:
df.head(5)

,name,activa,activa.date,activa.obs,residencia-missao,residencia-missao.date,residencia-missao.obs
id,,,,,,,
deh-r1644-anhai,Anhai,sim,1634,None,NaN,NaN,NaN
deh-r1644-bankao,Bankao,sim,1636,None,NaN,NaN,NaN
deh-r1644-cantao,Cantão,sim,1555,None,Jesuíta,1580,None
deh-r1644-cantao,Cantão,sim,1555,None,Franciscanos,0000,None
deh-r1644-cantao,Cantão,sim,1555,None,Dominicanos,0000,None

In [ ]:
ids = df.index.unique()
for id in ids[:5]:
    ent = tlnb.db.get_entity(id)
    print(ent.to_kleio())
    print()

geo3$deh-r1644-anhai/type=geoentity
  rel$function-in-act/geo3/deh-chre-1644/16440000
  atr$activa/sim/1634

geo3$deh-r1644-bankao/type=geoentity
  rel$function-in-act/geo3/deh-chre-1644/16440000
  atr$activa/sim/1636

geo2$deh-r1644-cantao/type=geoentity
  rel$function-in-act/geo2/deh-chre-1644/16440000
  atr$activa/sim/1555
  atr$residencia-missao/Jesuíta/1580
  atr$residencia-missao/Franciscanos/0000
  atr$residencia-missao/Dominicanos/0000
  geo3$deh-r1644-tungkun/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
  geo3$deh-r1644-quon-yao/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$activa/sim/1621
  geo3$deh-r1644-lampacao/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$activa/sim/1535

geo3$deh-r1644-chala/type=geoentity
  rel$function-in-act/geo3/deh-chre-1644/16440000
  atr$activa/sim/1610

geo2$deh-r1644-changchow-fou/type=geoentity
  rel$function-in-act/geo2/deh-chre-1644/16440000
  atr$activa/sim/1643
  geo3$deh-r1644-ihing/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$activa/sim/1623
  geo3$deh-r1644-tsinkiang-tchou/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$activa/sim/1635
  geo3$deh-r1644-wusih/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$activa/sim/16440000
  geo3$deh-r1644-wutsin/type=geoentity
    rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$activa/sim/1625


## Contagens

---

## Counting


###  Contagem de atributos a partir de uma tabela em memória

---

###  Count attributes from an existing dataframe

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 253 entries, deh-r1644-anhai to deh-r1701-yunnanfu
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    253 non-null    object
 1   activa                  253 non-null    object
 2   activa.date             253 non-null    object
 3   activa.obs              5 non-null      object
 4   residencia-missao       88 non-null     object
 5   residencia-missao.date  88 non-null     object
 6   residencia-missao.obs   11 non-null     object
 7   id                      253 non-null    object
dtypes: object(8)
memory usage: 17.8+ KB

In [13]:
# create a column with the index values which are the id numbers
df['id'] = df.index.values

col = 'residencia-missao' # subotal by this column

# Use pandas groupby and specify unique value count for id
df_totals = df.groupby(col).agg({'residencia-missao.date':['count','min','max']}

                                )
df_totals#.sort_values('id',ascending= False).head(30)

                     residencia-missao.date
                                      count       min       max
residencia-missao
Agostinhos                                5      1701      1701
Dominicanos                              15      0000      1701
Franciscanos                             21      0000      1701
Jesuíta                                  37      1580      1701
Lazaristas                                1  17020400  17020400
Missões Estrangeiras                      2  17020400  17021100
Missões estrangeiras                      6      1701      1701
Propaganda                                1      1703      1703


### Contagens na base de dados

Quando o atributo tem muitos valores e não é necessário
ter todas as pessoas em memória: contagem feita na base de dados

---

### Counting directly in the database
When there are many values and it is not
necessary to have all the people in memory:
count directly in the database.

In [ ]:
from timelink.pandas import attribute_values

df_totals = attribute_values('grau',db=tlnb.db)

In [ ]:
df_totals.head(10)

                     count    date_min    date_max
value
Bacharel               170  1554-07-19  1912-08-03
Formatura              153  1574-07-24  1905-06-19
Licenciado              33  1574-06-03  1886-02-27
Bacharel em Artes       25  1574-03-14  1766-07-19
Doutor                  11  1560-12-22  1887-11-27
Licenciado em Artes      5  1574-05-15  1738-06-17
Mestre                   2  1710-10-05  1768-10-23

#### Filtrar por datas

Para evitar remissivas com data zero

---

#### Filter by dates

Avoid cross-references with zero date

##ERROR

In [ ]:
df_totals = attribute_values('grau',dates_between=('1535','1919'),db=tlnb.db)

In [ ]:
df_totals.head(10)

                     count    date_min    date_max
value
Bacharel               170  1554-07-19  1912-08-03
Formatura              153  1574-07-24  1905-06-19
Licenciado              33  1574-06-03  1886-02-27
Bacharel em Artes       25  1574-03-14  1766-07-19
Doutor                  11  1560-12-22  1887-11-27
Licenciado em Artes      5  1574-05-15  1738-06-17
Mestre                   2  1710-10-05  1768-10-23

## Visualizar registos

---

## View records

### Visualizar uma pessoa

---

### View a person

#### Atributos de uma pessoa numa tabela, uma linha por attributo

---

#### Person attributes in a dataframe, one line per attribute

In [ ]:
import pandas as pd
from timelink.pandas import group_attributes as person_attributes

pd.set_option('display.max_rows',1000)

id = '140349'
pdf = person_attributes([id],db=tlnb.db)  # note id in a list
pdf[['date','type','value','attr_obs']].sort_values(['date','type'])

,date,type,value,attr_obs
id,,,,
140349,1566-12-20,faculdade,Cânones,None
140349,1566-12-20,faculdade.ano,Cânones.1566,None
140349,1566-12-20,naturalidade,Coimbra,None
140349,1566-12-20,naturalidade.ano,Coimbra.1566,None
140349,1566-12-20,nome,António de Aboim,None
140349,1566-12-20,nome-geografico,Coimbra,None
140349,1566-12-20,nome-geografico.ano,Coimbra.1566,None
140349,1566-12-20,nome.apelido,Aboim,None
140349,1566-12-20,nome.primeiro,António,None
140349,1566-12-20,uc.entrada,1566-12-20,None
140349,1566-12-20,uc.entrada.ano,1566,None
140349,1571-07-20,exame,Exame e Grau de Bacharel em Cânones:,None
140349,1571-07-20,grau,Bacharel,20.07.1571
140349,1571-07-20,grau.ano,Bacharel.1571,20.07.1571
140349,1571-07-20,matricula,Cânones,20.07.1571
140349,1571-07-20,matricula.ano,Cânones.1571,20.07.1571
140349,1573-10-07,matricula,Cânones,07.10.1573
140349,1573-10-07,matricula.ano,Cânones.1573,07.10.1573
140349,1574-07-24,grau,Formatura,24.07.1574
140349,1574-07-24,grau.ano,Formatura.1574,24.07.1574
140349,1574-07-24,matricula,Cânones,24.07.1574
140349,1574-07-24,matricula.ano,Cânones.1574,24.07.1574
140349,1574-07-24,uc.saida,1574-07-24,None
140349,1574-07-24,uc.saida.ano,1574,None
140349,2021-05-17,código-de-referência,"""PT/AUC/ELU/UC-AUC/B/001-001/A/000015""",None
140349,2021-05-17,data-do-registo,2021-05-17,None
140349,2021-05-17,url,"""https://pesquisa.auc.uc.pt/details?id=140349""",None

#### Atributos de uma pessoa numa tabela, attributos em colunas

---

#### Person attributes in a dataframe, attributes in columns

In [30]:
# Get list of people with with a certain value in a specific attribute

df = entities_with_attribute(
                    entity_type='person',
                    the_type='uc.entrada',  # we need a base attribute
                    more_info=['name','sex'],
                    more_cols=['instituta','matricula.faculdade','matricula.ano'],
                    filter_by=[140349],
                    db=tlnb.db,
                    sql_echo=False)
view_cols = ['name','matricula.ano.date','matricula.ano','matricula.ano.obs']
df[view_cols].sort_values('matricula.ano.date')

                    name matricula.ano.date matricula.ano matricula.ano.obs
id
140349  António de Aboim         1571-07-20  Cânones.1571        20.07.1571
140349  António de Aboim         1573-10-07  Cânones.1573        07.10.1573
140349  António de Aboim         1574-07-24  Cânones.1574        24.07.1574

#### Examinar potenciais duplicados

---

#### Examine potentital duplicates

In [15]:
from timelink.pandas import display_group_attributes
pd.set_option('display.max_rows',250)

no_show=['código-de-referência','data-do-registo','url','faculdade.ano','naturalidade.ano',
         'matricula-faculdade.ano','nome-apelido','nome-primeiro','nome-geografico.ano',
         'grau.ano','matricula-outra.ano','nome-geografico','instituta.ano']

dup_ids = ['234295','234710',]  # Alexandre Metelo de

display_group_attributes(dup_ids,
                             header_cols=['uc-entrada','naturalidade','faculdade','nome-pai'],
                             exclude_attributes=no_show,
                             sort_attributes=['date','type','value'],
                             cmap_name='Pastel1')

#### Notação Kleio

Ver [Kleio notation](README_kleio.md) [EN]

---

#### Kleio notation

See [Kleio notation](README_kleio.md)

#### Notação Kleio directamente da base de dados

Ver [Kleio notation](README_kleio.md) [EN]

---

#### Kleio notation directly from database

See [Kleio notation](README_kleio.md)

In [33]:
from timelink.mhk.models.person import Person

with tlnb.db.session() as session:

    p: Person = session.query(Person).order_by(Person.id).first()
    k = p.to_kleio()
    print(p.to_kleio())

n$António Pinto Abadeço/m/id=140337/obs="""
      """

                  Id: 140337
                  Código de referência: PT/AUC/ELU/UC-AUC/B/001-001/A/000001

                  Nome        : António Pinto Abadeço
                  Data inicial: 1705-10-01
                  Data final  : 1710-10-01
                  Filiação: António Pinto

                  Naturalidade: Abrantes
                  Faculdade: Cânones

                  Matrícula(s): 01.10.1705
                  01.10.1706
                  01.01.1707
                  01.10.1708
                  01.10.1709
                  01.10.1710
                  Instituta:
                  Bacharel: 28.06.1709
                  Formatura:
                  Licenciado:
                  Doutor:

                  Outras informações:
              """
  """
  rel$function-in-act/n/António Pinto Abadeço/auc-alumni-A-140337-140771/20200211
  atr$código-de-referência/""PT/AUC/ELU/UC-AUC/B/001-001/A/000001""/2021-05-17
  atr$data-do-registo/2021-05-17/2021-05-17
  atr$url/""https://pesquisa.auc.uc.pt/details?id=140337""/2021-05-17
  ls$uc.entrada/1705-10-01/1705-10-01
  ls$uc.saida/1710-10-01/1710-10-01
  ls$uc.entrada.ano/1705/1705-10-01
  ls$uc.saida.ano/1710/1710-10-01
  ls$nome/António Pinto Abadeço/1705-10-01
  ls$nome.primeiro/António/1705-10-01
  ls$nome.apelido/Pinto Abadeço/1705-10-01
  ls$nome.apelido/Abadeço/1705-10-01
  ls$naturalidade/Abrantes/1705-10-01
  ls$naturalidade.ano/Abrantes.1705/1705-10-01
  ls$nome-geografico/Abrantes/1705-10-01
  ls$nome-geografico.ano/Abrantes.1705/1705-10-01
  ls$faculdade/Cânones/1705-10-01
  ls$faculdade.ano/Cânones.1705/1705-10-01
  ls$matricula/Cânones/1705-10-01/obs=01.10.1705
  ls$matricula.ano/Cânones.1705/1705-10-01/obs=01.10.1705
  ls$matricula/Cânones/1706-10-01/obs=01.10.1706
  ls$matricula.ano/Cânones.1706/1706-10-01/obs=01.10.1706
  ls$matricula/Cânones/1707-01-01/obs=01.01.1707
  ls$matricula.ano/Cânones.1707/1707-01-01/obs=01.01.1707
  ls$matricula/Cânones/1708-10-01/obs=01.10.1708
  ls$matricula.ano/Cânones.1708/1708-10-01/obs=01.10.1708
  ls$matricula/Cânones/1709-10-01/obs=01.10.1709
  ls$matricula.ano/Cânones.1709/1709-10-01/obs=01.10.1709
  ls$matricula/Cânones/1710-10-01/obs=01.10.1710
  ls$matricula.ano/Cânones.1710/1710-10-01/obs=01.10.1710
  ls$matricula/Cânones/1709-06-28/obs=28.06.1709
  ls$matricula.ano/Cânones.1709/1709-06-28/obs=28.06.1709
  ls$grau/Bacharel/1709-06-28/obs=28.06.1709
  ls$grau.ano/Bacharel.1709/1709-06-28/obs=28.06.1709
  pai$António Pinto/m/id=140337-pai
    rel$function-in-act/pai/António Pinto/auc-alumni-A-140337-140771/20200211