# Database overview notebook

> First time use: follow instructions in the README.md file in this directory.

## Setup

In [192]:
import os
from dotenv import dotenv_values
import pandas
import ipywidgets as widgets

home_dir=os.getenv('HOME')
print("home  : "+home_dir)
mhk_env = dotenv_values(home_dir+"/.mhk")
mhk_home_dir=mhk_env['HOST_MHK_HOME']
app_env = dotenv_values(mhk_home_dir+'/app/.env')
pwd = app_env['MYSQL_ROOT_PASSWORD']

home  : /Users/jrc

In [193]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Connect to database

### Choose the database

In [190]:
connection_string = "mysql+mysqlconnector://root:{pwd}@localhost:3307/mysql".format(pwd=pwd)
%sql $connection_string
databases = %sql SELECT table_schema FROM information_schema.tables WHERE  table_name = 'entities';
print(databases)

Exception during reset or similar
Traceback (most recent call last):
  File "/Users/jrc/.pyenv/versions/3.9.0/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 676, in _finalize_fairy
    fairy._reset(pool)
  File "/Users/jrc/.pyenv/versions/3.9.0/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 881, in _reset
    pool._dialect.do_rollback(self)
  File "/Users/jrc/.pyenv/versions/3.9.0/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 667, in do_rollback
    dbapi_connection.rollback()
  File "/Users/jrc/.pyenv/versions/3.9.0/lib/python3.9/site-packages/mysql/connector/connection.py", line 1066, in rollback
    self._execute_query("ROLLBACK")
  File "/Users/jrc/.pyenv/versions/3.9.0/lib/python3.9/site-packages/mysql/connector/connection.py", line 1078, in _execute_query
    self.cmd_query(query)
  File "/Users/jrc/.pyenv/versions/3.9.0/lib/python3.9/site-packages/mysql/connector/connection.py", line 686, in cmd_query
    result = self._handle_result(self._send_cmd(ServerCmd.QUERY, query))
  File "/Users/jrc/.pyenv/versions/3.9.0/lib/python3.9/site-packages/mysql/connector/connection.py", line 418, in _send_cmd
    return self._socket.recv()
  File "/Users/jrc/.pyenv/versions/3.9.0/lib/python3.9/site-packages/mysql/connector/network.py", line 248, in recv_plain
    raise errors.InterfaceError(errno=2013)
mysql.connector.errors.InterfaceError: 2013: Lost connection to MySQL server during query
+--------------------+
|    table_schema    |
+--------------------+
|       alunos       |
|      angelica      |
|     api_tests      |
|       china        |
|     dyncoopnet     |
|       eiras        |
|      familias      |
|       glopes       |
|       ilhavo       |
|      ilhavo2       |
|   ilhavo_contrib   |
|   ilhavo_editor    |
|   ilhavo_server    |
|   ilhavo_testes    |
|       lousa        |
|       lousa3       |
|       lousa4       |
|        mhk         |
|      notaveis      |
|       obidos       |
|       oguest       |
|        rhv         |
|     santaclara     |
|     santajusta     |
|       sister       |
|       soure        |
|     soure_edit     |
|    soure_editor    |
|     soure_mfg      |
|    soure_server    |
|       testes       |
|     toliveira      |
| toliveira_reviewed |
+--------------------+

In [191]:
db = "toliveira"
connection_string = "mysql+mysqlconnector://root:{pwd}@localhost:3307/{db}".format(pwd=pwd,db=db)
%sql $connection_string

Exception during reset or similar
Traceback (most recent call last):
  File "/Users/jrc/.pyenv/versions/3.9.0/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 676, in _finalize_fairy
    fairy._reset(pool)
  File "/Users/jrc/.pyenv/versions/3.9.0/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 881, in _reset
    pool._dialect.do_rollback(self)
  File "/Users/jrc/.pyenv/versions/3.9.0/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 667, in do_rollback
    dbapi_connection.rollback()
  File "/Users/jrc/.pyenv/versions/3.9.0/lib/python3.9/site-packages/mysql/connector/connection.py", line 1066, in rollback
    self._execute_query("ROLLBACK")
  File "/Users/jrc/.pyenv/versions/3.9.0/lib/python3.9/site-packages/mysql/connector/connection.py", line 1078, in _execute_query
    self.cmd_query(query)
  File "/Users/jrc/.pyenv/versions/3.9.0/lib/python3.9/site-packages/mysql/connector/connection.py", line 686, in cmd_query
    result = self._handle_result(self._send_cmd(ServerCmd.QUERY, query))
  File "/Users/jrc/.pyenv/versions/3.9.0/lib/python3.9/site-packages/mysql/connector/connection.py", line 418, in _send_cmd
    return self._socket.recv()
  File "/Users/jrc/.pyenv/versions/3.9.0/lib/python3.9/site-packages/mysql/connector/network.py", line 248, in recv_plain
    raise errors.InterfaceError(errno=2013)
mysql.connector.errors.InterfaceError: 2013: Lost connection to MySQL server during query

In [124]:
%config SqlMagic.displaycon=False

# Pesquisa local

### Nacionalidades dos missionários

In [125]:

pessoas = %sql select the_value as nacionalidade, count(*) as n from attributes where the_type='nacionalidade' group by the_value order by 2 desc
pessoas

32 rows affected.

[('Portugal', 430),
 ('França', 183),
 ('China', 178),
 ('Itália', 124),
 ('Espanha', 43),
 ('Alemanha', 36),
 ('Bélgica', 23),
 ('Áustria', 15),
 ('Flandres', 12),
 ('Boémia', 11),
 ('Japão', 9),
 ('Tonquim', 9),
 ('Polónia', 8),
 ('Holanda', 5),
 ('Inglaterra', 5),
 ('Suíça', 5),
 ('Coreia', 4),
 ('Tirol', 3),
 ('Europa', 2),
 ('Sabóia', 2),
 ('Alsácia', 2),
 ('Lituânia', 1),
 ('México', 1),
 ('Irlanda', 1),
 ('Rússia', 1),
 ('Tartária', 1),
 ('Dalmácia', 1),
 ('Itália (Luca)', 1),
 ('Brasil', 1),
 ('Malásia', 1),
 ('Índia', 1),
 ('Fraça', 1)]

### Lista dos principais locais onde os missionários fizeram o noviciado

In [126]:
entradas = %sql select the_value, count(*) n  from attributes where the_type='jesuita-entrada' group by the_value  having n>10 order by n desc 
entradas

12 rows affected.

[('?', 517),
 ('Coimbra', 43),
 ('Paris', 42),
 ('Lisboa', 39),
 ('Roma', 32),
 ('Goa', 32),
 ('Évora', 22),
 ('Nancy', 15),
 ('Macau', 14),
 ('Avignon', 13),
 ('Viena, Áustria', 13),
 ('Landsberg', 13)]

### Lista das nacionalidades e locais de nascimento dos missionários cujo local de entrada na Sociedade se desconhece

In [127]:
%%sql results <<  
    SELECT  distinct nacionalidades.the_value nacionalidade
    FROM (attributes entradas 
            left join attributes nacionalidades on (entradas.entity=nacionalidades.entity )) 
            left outer join attributes nascimentos  on (entradas.entity=nascimentos.entity 
            AND 
            nascimentos.the_type='nascimento') 
    WHERE nacionalidades.the_type='nacionalidade' 
        AND entradas.the_type='jesuita-entrada' 
        AND entradas.the_value='?' 
    ORDER by nacionalidade limit 100

19 rows affected.
Returning data to local variable results

In [128]:
nacionalidades = [r[0] for r in results]
# print(nacionalidades)
n = widgets.Select(
    options=nacionalidades,
    description='Escolher:',
    disabled=False,
)
display(n)

Select(description='Escolher:', options=('Alemanha', 'Áustria', 'Bélgica', 'Boémia', 'China', 'Espanha', 'Flan…

In [135]:
nacionalidade = n.value
print(nacionalidade)

China

In [136]:
%%sql results << SELECT  nacionalidades.the_value as nacionalidade ,nascimentos.the_value  as nascimento, nascimentos.the_date
    FROM (attributes entradas 
            left join attributes nacionalidades on (entradas.entity=nacionalidades.entity )) 
            left outer join attributes nascimentos  on (entradas.entity=nascimentos.entity 
            AND 
            nascimentos.the_type='nascimento') 
    WHERE nacionalidades.the_type='nacionalidade' 
        AND entradas.the_type='jesuita-entrada' 
        AND entradas.the_value='?' 
        AND nacionalidades.the_value='{nacionalidade}'
    ORDER BY nacionalidade, nascimento

73 rows affected.
Returning data to local variable results

In [137]:
results

[('China', None, None),
 ('China', None, None),
 ('China', '?', '15950000'),
 ('China', '?', '17130511'),
 ('China', '?', '16740000'),
 ('China', 'Cantão', '17130925'),
 ('China', 'Cantão', '16000000'),
 ('China', 'Cantão', '15930000'),
 ('China', 'Changshu, Kiang-sou', '17141125'),
 ('China', 'China', '15680000'),
 ('China', 'China', '16550000'),
 ('China', 'China', '17130500'),
 ('China', 'China', '16180000'),
 ('China', 'Fukien', '16990325'),
 ('China', 'Hangchow, Chekiang', '17081112'),
 ('China', 'Hou-kouang', '16280000'),
 ('China', 'Hukwang', '17420807'),
 ('China', "Hwating (Houa-t'ing), do Song-kiang fou, Kiangsu", '16300000'),
 ('China', 'Kiangnan', '17151213'),
 ('China', 'Kiangsi', '16691221'),
 ('China', 'Kweichow', '17110312'),
 ('China', 'Macau', '15670000'),
 ('China', 'Macau', '16080000'),
 ('China', 'Macau', '16410000'),
 ('China', 'Macau', '17111111'),
 ('China', 'Macau', '16680308'),
 ('China', 'Macau', '15780000'),
 ('China', 'Macau', '15680000'),
 ('China', 'Macau', '15750000'),
 ('China', 'Macau', '15770000'),
 ('China', 'Macau', '16150000'),
 ('China', 'Macau', '16340000'),
 ('China', 'Macau', '16230000'),
 ('China', 'Macau', '16590000'),
 ('China', 'Macau', '16680000'),
 ('China', 'Macau', '16180000'),
 ('China', 'Macau', '16340000'),
 ('China', 'Macau', '16090000'),
 ('China', 'Macau', '16590000'),
 ('China', 'Macau', '16650000'),
 ('China', 'Macau', '16290000'),
 ('China', 'Macau', '16340000'),
 ('China', 'Macau', '16980000'),
 ('China', 'Macau', '17170414'),
 ('China', 'Macau', '15770000'),
 ('China', 'Macau', '16310000'),
 ('China', 'Macau', '16040000'),
 ('China', 'Macau', '17321112'),
 ('China', 'Macau', '17290901'),
 ('China', 'Macau', '16080000'),
 ('China', 'Macau', '15840000'),
 ('China', 'Macau', '16210000'),
 ('China', 'Macau', '15930000'),
 ('China', 'Macau', '16410000'),
 ('China', 'Macau', '17350914'),
 ('China', 'Macau', '16200000'),
 ('China', 'Macau', '16200000'),
 ('China', 'Macau', '15780000'),
 ('China', 'Macau', '15750000'),
 ('China', 'Macau', '15950000'),
 ('China', 'Macau', '15590000'),
 ('China', 'Macau', '17270830'),
 ('China', 'Macau', '16250000'),
 ('China', 'Nanquim', '17141203'),
 ('China', 'Nanquim', '16720000'),
 ('China', 'Pequim', '17200810'),
 ('China', 'Pequim', '17221208'),
 ('China', 'Pequim', '17190000'),
 ('China', 'Pequim', '0'),
 ('China', 'Pequim', '17190815'),
 ('China', 'Soochow (Sou-tcheou fou), Kiangnan', '17190316'),
 ('China', 'Soochow, Kiang-nan', '16881130'),
 ('China', "T'ai-yuan fou, Shansi", '17190101')]

### Lista dos missionários com nomes chineses

In [119]:
%%sql
select distinct name,the_value from nattributes where the_type='nome-chines'

0 rows affected.

[]

In [158]:
help(viajantes)

Help on ResultSet in module sql.run object:

class ResultSet(builtins.list, sql.column_guesser.ColumnGuesserMixin)
 |  ResultSet(sqlaproxy, sql, config)
 |
 |  Results of a SQL query.
 |
 |  Can access rows listwise, or by string value of leftmost column.
 |
 |  Method resolution order:
 |      ResultSet
 |      builtins.list
 |      sql.column_guesser.ColumnGuesserMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  DataFrame(self)
 |      Returns a Pandas DataFrame instance built from the result set.
 |
 |  __getitem__(self, key)
 |      Access by integer (row position within result set)
 |      or by string (value of leftmost column)
 |
 |  __init__(self, sqlaproxy, sql, config)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __str__(self, *arg, **kwarg)
 |      Return str(self).
 |
 |  bar(self, key_word_sep=' ', title=None, **kwargs)
 |      Generates a pylab bar plot from the result set.
 |
 |      ``matplotlib`` must be installed, and in an
 |      IPython Notebook, inlining must be on::
 |
 |          %%matplotlib inline
 |
 |      The last quantitative column is taken as the Y values;
 |      all other columns are combined to label the X axis.
 |
 |      Parameters
 |      ----------
 |      title: Plot title, defaults to names of Y value columns
 |      key_word_sep: string used to separate column values
 |                    from each other in labels
 |
 |      Any additional keyword arguments will be passsed
 |      through to ``matplotlib.pylab.bar``.
 |
 |  csv(self, filename=None, **format_params)
 |      Generate results in comma-separated form.  Write to ``filename`` if given.
 |      Any other parameters will be passed on to csv.writer.
 |
 |  dict(self)
 |      Returns a single dict built from the result set
 |
 |      Keys are column names; values are a tuple
 |
 |  dicts(self)
 |      Iterator yielding a dict for each row
 |
 |  pie(self, key_word_sep=' ', title=None, **kwargs)
 |      Generates a pylab pie chart from the result set.
 |
 |      ``matplotlib`` must be installed, and in an
 |      IPython Notebook, inlining must be on::
 |
 |          %%matplotlib inline
 |
 |      Values (pie slice sizes) are taken from the
 |      rightmost column (numerical values required).
 |      All other columns are used to label the pie slices.
 |
 |      Parameters
 |      ----------
 |      key_word_sep: string used to separate column values
 |                    from each other in pie labels
 |      title: Plot title, defaults to name of value column
 |
 |      Any additional keyword arguments will be passsed
 |      through to ``matplotlib.pylab.pie``.
 |
 |  plot(self, title=None, **kwargs)
 |      Generates a pylab plot from the result set.
 |
 |      ``matplotlib`` must be installed, and in an
 |      IPython Notebook, inlining must be on::
 |
 |          %%matplotlib inline
 |
 |      The first and last columns are taken as the X and Y
 |      values.  Any columns between are ignored.
 |
 |      Parameters
 |      ----------
 |      title: Plot title, defaults to names of Y value columns
 |
 |      Any additional keyword arguments will be passsed
 |      through to ``matplotlib.pylab.plot``.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from builtins.list:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from builtins.list:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods inherited from builtins.list:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from builtins.list:
 |
 |  __hash__ = None
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sql.column_guesser.ColumnGuesserMixin:
 |
 |  guess_pie_columns(self, xlabel_sep=' ')
 |      Assigns x, y, and x labels from the data set for a pie chart.
 |
 |      Pie charts simply use the last quantity column as
 |      the pie slice size, and everything else as the
 |      pie slice labels.
 |
 |  guess_plot_columns(self)
 |      Assigns ``x`` and ``y`` series from the data set for a plot.
 |
 |      Plots use:
 |        the rightmost quantity column as a Y series
 |        optionally, the leftmost quantity column as the X series
 |        any other quantity columns as additional Y series

In [174]:
help(viajantes)

Help on ResultSet in module sql.run object:

class ResultSet(builtins.list, sql.column_guesser.ColumnGuesserMixin)
 |  ResultSet(sqlaproxy, sql, config)
 |
 |  Results of a SQL query.
 |
 |  Can access rows listwise, or by string value of leftmost column.
 |
 |  Method resolution order:
 |      ResultSet
 |      builtins.list
 |      sql.column_guesser.ColumnGuesserMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  DataFrame(self)
 |      Returns a Pandas DataFrame instance built from the result set.
 |
 |  __getitem__(self, key)
 |      Access by integer (row position within result set)
 |      or by string (value of leftmost column)
 |
 |  __init__(self, sqlaproxy, sql, config)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __str__(self, *arg, **kwarg)
 |      Return str(self).
 |
 |  bar(self, key_word_sep=' ', title=None, **kwargs)
 |      Generates a pylab bar plot from the result set.
 |
 |      ``matplotlib`` must be installed, and in an
 |      IPython Notebook, inlining must be on::
 |
 |          %%matplotlib inline
 |
 |      The last quantitative column is taken as the Y values;
 |      all other columns are combined to label the X axis.
 |
 |      Parameters
 |      ----------
 |      title: Plot title, defaults to names of Y value columns
 |      key_word_sep: string used to separate column values
 |                    from each other in labels
 |
 |      Any additional keyword arguments will be passsed
 |      through to ``matplotlib.pylab.bar``.
 |
 |  csv(self, filename=None, **format_params)
 |      Generate results in comma-separated form.  Write to ``filename`` if given.
 |      Any other parameters will be passed on to csv.writer.
 |
 |  dict(self)
 |      Returns a single dict built from the result set
 |
 |      Keys are column names; values are a tuple
 |
 |  dicts(self)
 |      Iterator yielding a dict for each row
 |
 |  pie(self, key_word_sep=' ', title=None, **kwargs)
 |      Generates a pylab pie chart from the result set.
 |
 |      ``matplotlib`` must be installed, and in an
 |      IPython Notebook, inlining must be on::
 |
 |          %%matplotlib inline
 |
 |      Values (pie slice sizes) are taken from the
 |      rightmost column (numerical values required).
 |      All other columns are used to label the pie slices.
 |
 |      Parameters
 |      ----------
 |      key_word_sep: string used to separate column values
 |                    from each other in pie labels
 |      title: Plot title, defaults to name of value column
 |
 |      Any additional keyword arguments will be passsed
 |      through to ``matplotlib.pylab.pie``.
 |
 |  plot(self, title=None, **kwargs)
 |      Generates a pylab plot from the result set.
 |
 |      ``matplotlib`` must be installed, and in an
 |      IPython Notebook, inlining must be on::
 |
 |          %%matplotlib inline
 |
 |      The first and last columns are taken as the X and Y
 |      values.  Any columns between are ignored.
 |
 |      Parameters
 |      ----------
 |      title: Plot title, defaults to names of Y value columns
 |
 |      Any additional keyword arguments will be passsed
 |      through to ``matplotlib.pylab.plot``.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from builtins.list:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from builtins.list:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods inherited from builtins.list:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from builtins.list:
 |
 |  __hash__ = None
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sql.column_guesser.ColumnGuesserMixin:
 |
 |  guess_pie_columns(self, xlabel_sep=' ')
 |      Assigns x, y, and x labels from the data set for a pie chart.
 |
 |      Pie charts simply use the last quantity column as
 |      the pie slice size, and everything else as the
 |      pie slice labels.
 |
 |  guess_plot_columns(self)
 |      Assigns ``x`` and ``y`` series from the data set for a plot.
 |
 |      Plots use:
 |        the rightmost quantity column as a Y series
 |        optionally, the leftmost quantity column as the X series
 |        any other quantity columns as additional Y series