# Database overview notebook

> First time use: follow instructions in the README.md file in this directory.

## Setup

In [2]:
import os
from dotenv import dotenv_values

home_dir=os.getenv('HOME')
mhk_env = dotenv_values(home_dir+"/.mhk")
mhk_home_dir=mhk_env['mhk_home_dir']
app_env = dotenv_values(mhk_home_dir+'/app/.env')
pwd = app_env['MYSQL_ROOT_PASSWORD']

In [3]:
%load_ext sql

## Connect to database

> set variable `db` bellow to the name of target database

In [4]:
db='toliveira_china'
connection_string = "mysql+mysqlconnector://root:{pwd}@localhost:3307/{db}".format(pwd=pwd,db=db)
print(connection_string)

mysql+mysqlconnector://root:koeln@localhost:3307/toliveira_china

In [5]:
%sql $connection_string

(mysql.connector.errors.InterfaceError) 2003: Can't connect to MySQL server on 'localhost:3307' (61 Connection refused)
(Background on this error at: http://sqlalche.me/e/14/rvf5)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

## Database status

In [6]:
%sql select class, count(*) from entities group by class

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [7]:
%%sql

select name,the_value from nattributes where the_type='nome-chines'

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [8]:
%sql select the_value, count(*) n  from attributes where the_type='jesuita-entrada' group by the_value  order by n desc

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [9]:
%sql select entradas.the_value,nacionalidades.the_value from attributes entradas left join attributes nacionalidades on (entradas.entity=nacionalidades.entity and nacionalidades.the_type='nacionalidade' and entradas.the_type='jesuita-entrada' and entradas.the_value='?')

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])