# Database overview notebook

> First time use: follow instructions in the README.md file in this directory.

In [8]:
from timelink.notebooks import TimelinkNotebook

tlnb = TimelinkNotebook()
tlnb.print_info()

WARNING:root:Reusing existing container mystifying_beaver

Timelink version: 1.1.25
Project name: dehergne
Project home: /Users/jrc/mhk-home/sources/dehergne
Database type: sqlite
Database name: dehergne
Kleio image: timelinkserver/kleio-server
Kleio server token: Ww6W5...
Kleio server URL: http://127.0.0.1:8090
Kleio server home: /Users/jrc/mhk-home/sources/dehergne
Kleio server container: mystifying_beaver
Kleio version requested: latest
Kleio server version: 12.8.593 (2025-03-16 21:55:53)
SQLite directory: /Users/jrc/mhk-home/sources/dehergne/database/sqlite
Database version: 6ccf1ef385a6
Call print_info(show_token=True) to show the Kleio Server token
Call print_info(show_password=True) to show the Postgres password
TimelinkNotebook(project_name=dehergne, project_home=/Users/jrc/mhk-home/sources/dehergne, db_type=sqlite, db_name=dehergne, kleio_image=timelinkserver/kleio-server, kleio_version=latest, postgres_image=postgres, postgres_version=latest)

## Ligar à base de dados

---

## Connect to database

In [9]:
from timelink.api.database import TimelinkDatabase

# to connect to a postgresql database
# do: db_type='postgresql' and db_name='timelink' and db_user='postgres' and db_password='postgres' and db_host='localhost'

db: TimelinkDatabase = tlnb.db

## Database status

In [10]:
tlnb.table_row_count_df()

               table  count
0               acts     29
1    alembic_version      1
2         aregisters      1
3         attributes  26742
4             blinks    200
5   class_attributes     70
6            classes     14
7           entities  32950
8        geoentities    359
9              goods      0
10        kleiofiles     59
11             links     99
12           objects      0
13           persons   2132
14         relations   3532
15         rentities    111
16      rgeoentities      0
17          robjects      0
18          rpersons     65
19           sources     30
20            syslog      0
21            syspar      0

## Recent sources

In [12]:
number_of_sources = 100

Source = db.get_model('source')

with db.session() as session:
    sources = session.query(Source).order_by(Source.updated.desc()).all()
    for source in sources[:number_of_sources]:
        print(f"{source.id:32} {source.updated:%Y-%m-%d %H:%M:%S} {source.kleiofile}")

dehergne-z                       2025-05-10 03:53:41 /kleio-home/sources/dehergne-z.cli
dehergne-y                       2025-05-10 03:53:38 /kleio-home/sources/dehergne-y.cli
dehergne-x                       2025-05-10 03:53:33 /kleio-home/sources/dehergne-x.cli
dehergne-w                       2025-05-10 03:53:31 /kleio-home/sources/dehergne-w.cli
dehergne-v                       2025-05-10 03:53:20 /kleio-home/sources/dehergne-v.cli
dehergne-u                       2025-05-10 03:53:17 /kleio-home/sources/dehergne-u.cli
dehergne-t                       2025-05-10 03:53:06 /kleio-home/sources/dehergne-t.cli
dehergne-s                       2025-05-10 03:52:52 /kleio-home/sources/dehergne-s.cli
dehergne-r                       2025-05-10 03:52:40 /kleio-home/sources/dehergne-r.cli
dehergne-q                       2025-05-10 03:52:37 /kleio-home/sources/dehergne-q.cli
dehergne-p                       2025-05-10 03:52:30 /kleio-home/sources/dehergne-p.cli
dehergne-o                       2025-05-10 03:52:26 /kleio-home/sources/dehergne-o.cli
dehergne-n                       2025-05-10 03:52:23 /kleio-home/sources/dehergne-n.cli
dehergne-m                       2025-05-10 03:52:14 /kleio-home/sources/dehergne-m.cli
dehergne-locations-1701          2025-05-10 03:52:09 /kleio-home/sources/dehergne-locations-1701.cli
dehergne-locations-1644          2025-05-10 03:52:06 /kleio-home/sources/dehergne-locations-1644.cli
dehergne-l                       2025-05-10 03:51:58 /kleio-home/sources/dehergne-l.cli
dehergne-k                       2025-05-10 03:51:54 /kleio-home/sources/dehergne-k.cli
dehergne-j                       2025-05-10 03:51:52 /kleio-home/sources/dehergne-j.cli
dehergne-i                       2025-05-10 03:51:50 /kleio-home/sources/dehergne-i.cli
dehergne-h                       2025-05-10 03:51:47 /kleio-home/sources/dehergne-h.cli
dehergne-g                       2025-05-10 03:51:40 /kleio-home/sources/dehergne-g.cli
dehergne-f                       2025-05-10 03:51:32 /kleio-home/sources/dehergne-f.cli
dehergne-e                       2025-05-10 03:51:29 /kleio-home/sources/dehergne-e.cli
dehergne-d                       2025-05-10 03:51:25 /kleio-home/sources/dehergne-d.cli
dehergne-c                       2025-05-10 03:51:13 /kleio-home/sources/dehergne-c.cli
dehergne-b                       2025-05-10 03:51:04 /kleio-home/sources/dehergne-b.cli
dehergne-a                       2025-05-10 03:50:56 /kleio-home/sources/dehergne-a.cli
dehergne-0-abrev                 2025-05-10 03:50:53 /kleio-home/sources/dehergne-0-abrev.cli
dehergne-other                   2025-01-05 16:35:38 /kleio-home/sources/dehergne-other.cli

### Tipos de attributos

---

### Attribute types

In [17]:
import pandas as pd

from sqlalchemy import func
from sqlalchemy import select


pd.set_option('display.max_rows', 500)

attr_table = tlnb.db.get_table('attributes')
tlnb.db.describe('attributes', show=True)
print()
stmt = select(
    attr_table.c.the_type,
    func.count().label('count'),
    func.count(func.distinct(attr_table.c.the_value)).label('distinct_value')
    ).group_by('the_type')
print(stmt)
print()

with tlnb.db.session() as session:
    # nml2 = session.query(Attribute.the_type,func.count().label('tot')).group_by(Attribute.the_type).all()
    nml = session.execute(stmt)
    attribute_df = pd.DataFrame(nml)

attribute_df

attributes (model_table)
id                   entities             VARCHAR
class                entities             VARCHAR
inside               entities             VARCHAR    {ForeignKey('entities.id')}
the_source           entities             VARCHAR
the_order            entities             INTEGER
the_level            entities             INTEGER
the_line             entities             INTEGER
groupname            entities             VARCHAR
extra_info           entities             JSON
updated              entities             DATETIME
indexed              entities             DATETIME
id                   attributes           VARCHAR    {ForeignKey('entities.id')}
entity               attributes           VARCHAR    {ForeignKey('entities.id')}
the_type             attributes           VARCHAR
the_value            attributes           VARCHAR
the_date             attributes           VARCHAR
obs                  attributes           VARCHAR

SELECT attributes.the_type, count(*) AS count, count(distinct(attributes.the_value)) AS distinct_value
FROM attributes GROUP BY attributes.the_type

                            the_type  count  distinct_value
0                             activa    286               3
1                   alternative-name      4               4
2          alternative-name@wikidata      3               3
3                          baptizado     28              28
4                 baptizado@wikidata     26              26
5                       bibliografia      9               9
6                              cargo    356             225
7                            chegada    487              71
8                   chegada@wikidata    420              61
9                           dehergne   1464            1211
10                  dehergne@archive      3               3
11                                ec    210               1
12                          embarque    781              92
13                 embarque@wikidata      3               2
14                           estadia   3636             690
15                         estadia-x     13               5
16                estadia-x@wikidata     11               6
17                  estadia@wikidata   3557             383
18                          estatuto     17              11
19           geoentity:name@dehergne      3               3
20           geoentity:name@geonames      3               3
21           geoentity:name@wikidata    304             228
22           geoentity:type@wikidata      2               2
23                    grau-academico     63               7
24                  grau-academico-x      1               1
25     historical-source:id@dehergne      1               1
26                             idade     20              11
27                     jesuita-cargo    876             236
28                   jesuita-entrada    962              67
29          jesuita-entrada@wikidata    463              66
30    jesuita-entradaLisboa, Arroios      1               1
31                  jesuita-estatuto   1327              16
32                  jesuita-fundador      3               1
33         jesuita-fundador@wikidata      3               2
34           jesuita-ordenacao-padre    419              48
35  jesuita-ordenacao-padre@wikidata    125              49
36                    jesuita-tarefa    360             251
37                  jesuita-tarefa-x      6               6
38                     jesuita-votos    613              14
39               jesuita-votos-local    516             256
40      jesuita-votos-local@wikidata    466             150
41                             morte    886             295
42                    morte@wikidata    703             189
43                     nacionalidade   1120              30
44            nacionalidade@wikidata      9               2
45                        nascimento   1012             577
46               nascimento@wikidata    897             496
47                              nome    990             975
48                       nome-chines    711             667
49                      nome-japones      2               2
50                              nota     10               7
51                     nota@wikidata      1               1
52                              note      1               1
53                           partida    249              54
54                         partida-x      3               3
55                partida-x@wikidata      1               1
56                  partida@wikidata    247              46
57              person:id@bdcconline      1               1
58                         profissao    261              62
59                        pseudonimo     10              10
60                        residencia     28              20
61                 residencia-missao    105              10
62                 residencia-missão      8               4
63               residencia@wikidata     25              17
64                        residência      3               1
65               residência@wikidata      3               1
66                            tarefa    212             145
67                            titulo    253              70
68                              todo      2               2
69                           trajeto      1               1
70                  trajeto@wikidata      1               1
71                             wicky    554             549
72                      wicky-viagem    582             136

## Vocabulary of attributes

In [16]:
from timelink.pandas import attribute_values

df_totals = attribute_values('jesuita-fundador',db=tlnb.db)
df_totals

       count  date_min  date_max
value
Paris      3  15340815  15340815

## Mostrar uma fonte

---

## Show a source

In [7]:
id = 'dehergne-locations-1644'
with db.session() as session:
    source = session.get(Source,id)
    print(source.to_kleio())

fonte$dehergne-locations-1644/0/type=geoinformation/ref=None/loc=None/kleiofile="/kleio-home/sources/dehergne-locations-1644.cli""/replaces=None/obs="""
      Planche: Carte des Chrétientés Chinoises de la fin des Ming (1644).p. 353

      _Diocèse_
      Depuis 1514, l'évêché de Funchal (île de Madère)
      s'étend jusqu'aux extrémi-
      tés de l'Asie. Depuis le 3 nov. 1534 est
      créé l'évêché de Goa, dont est déta-
      ché, le 23 janv. 1576, le diocèse de
      Macao, qui sera amputé, 14 février
      1588, du Japon (évêché de Funai):
      l'évêché de Macao comprend théori-
      quement tout l'empire de Chine.

      _Provinces Jésuites_

      la vice-province du Japon (province en
      1611); en 1623, la vice-province de Chine
      indépendante du Japon en est déta-
      chée; mais un visiteur jésuite contrôle
      l'une et l'autre.

      La Chine impériale distingue dans chaque province civile les _fou_, préfec-
      tures ou villes de premier ordre, dont dépendent les _tcheou_ et les _hien_. D'au-
      tres agglomérations importantes comme Tientsin (alors wei) ou encore Amoy
      et Fatshan n'ont pas reçu le titre de hien. Dans notre tableau, les villes autres
      que les fou sont mises en italiques, et la capitale de chaque province, en
      majuscule. Sur la carte, nous mettons en lettres majuscules les seuls fou et
      tcheou possédant une chrétienté (pour les tcheou, majuscules penchées); les
      hien, en lettres ordinaires, et nous n'inscrivons (en petites lettres) que les
      bourgs et demeures chrétiennes antérieures à la persécution de 1615.
         Pour les jésuites de l'époque, le mot collège désigne une résidence prin-
      cipale d'où dépendent (d'un point de vue économique beaucoup plus que juri-
      dique), un certain nombre de petites résidences qui lui sont rattachées. La
      carte, qui accompagne ces pages comme celle des résidences en 1701, est due au
      Père Pierre Moreau, SJ., et nous lui exprimons ici nos remerciements.
         Une résidence est une maison propriété de la mission: elle est soit occupée
      par un ou plusieurs missionnaire (ici: R) ou cette anné-là, sans prêtre
      à demeure (R'); tandis que le mot église s'applique à une chapelle, un oratoire
      ou un temple plus important ; d'autres fois, le prêtre dit la messe chez des fidè-
      les, dans leur propre maison. Toute résidence possède une église ou oratoire.
      Sur la carte, les Résidences sont marquées par un cercle. Résidences et chré-
      tientés sont, à l'époque, presque toutes aux Jésuites. Dans le cas contraire,
      nous faisons suivre le nom de la localité de la mention de l'Ordre qui les pos-
      sède: (OP), Dominicains; (OFM), Franciscains; (OESA), Augustins.
         On observera que le cours du Fleuve Jaune n'était pas le même qu'actuel-
      lement, et que les chrétientés se sont développées le long des grandes routes
      (le fait est frappant pour la région du Kiangnan). Pour les chrétientés an-
      ciennes des Ming voir aussi MS XVI, 1957 (avec carte en couleurs).

      N.B. N.B. Pour compléter ce tableau des antiquités chrétiennes de la Chine, rap-
      pelons qu'en Mongolie à Olon-Sume, ancienne capitale des Ongiit nestoriens,
      il y eut, outre une église nestorienne, une église catholique de Giovanni de Mon-
      tecorvino (1247-1328) « le plus ancien exemple de sanctuaire catholique en Ex-
      trême-Orient » Egami, Namio dans Journal Asiatique, CCXL 1952, 155-167 cf NZM
      1954, p. 56); du même, Découverte 'l'église romaine' établie au XIII' siècle
      en Mongolie, Conferenze, Rome, 1955, 41-55; cf BernahdC-Maitrb], Henri, La dé-
      couverte des Nestoriens Mongols aux Ordos et l'Histoire ancienne du Christia-
      nisme en Extrême-Orient, Tientsin, 1935. — Les ruines de l'église franciscaine
      de Nankin au XIV* siècle ont été décrites par Prip-Molleb dans la revue
      danoise Artes; résumé dans Chinese Recorder, 1935, 654-656 et hors-texte 641.
      Etc.

      NOTA TRANSCRIÇÃO

      "geo1$ = Provincia"
      "geo2$ = fou (perfeitura ou cidade de 1ª ordem)"
      "geo3$ = tcheou-hien"

      Em cada entrada o formato é

         "geoN$Nome geográfico/Tipo (província, fou, tcheou-hien)/id=deh-r1644-nome"

      Exº
         "geo1$Chekiang#Zhejiang/província/deh-r1644-chekiang"
         "geo2$Hangchou#Hangzhou/capital provincial/deh-r1644-hangzhou"
         "geo3$Fuyang/tchou-hien/deh-r1644-fuyang"

      Nos locais onde há presença de missionários:

         "atr$residencia-missao/Jesuíta/16110000 (onde aparece R)"
         "atr$residencia-missao/Dominicanos%OP/16560000"
                        (quando passa a residência de outra ordem
                         ver abreviaturas na legenda do mapa, exº p.354 em Kinhua)
         "atr$activa/sim/16110000"         (onde só aparece uma data)

      edited by Skye
      and Joaquim Carvalho
      and Alicia
      """
  atr$historical-source:id@dehergne/"https://archive.org/details/bhsi37/page/n396/mode/1up"#@dehergne:396%396/
  geodesc$deh-chre-1644/16440000/type=geodesc/ref=None/loc=None
    geo1$Chekiang#Tche-kiang, hoje:Zhejiang, 浙江, @wikidata:Q16967 @dehergne:396/geo1
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q16967"#Tche-kiang, hoje:Zhejiang, 浙江, @wikidata:Q16967 @dehergne:396%Q16967/1644
      atr$geoentity:name@dehergne/"https://archive.org/details/bhsi37/page/n396/mode/1up"#Tche-kiang, hoje:Zhejiang, 浙江, @wikidata:Q16967 @dehergne:396%396/1644
    geo1$Fukien#Fou-kien, hoje: Fujian, 福建, @wikidata:Q41705 @dehergne:397/geo1
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q41705"#Fou-kien, hoje: Fujian, 福建, @wikidata:Q41705 @dehergne:397%Q41705/1644
      atr$geoentity:name@dehergne/"https://archive.org/details/bhsi37/page/n397/mode/1up"#Fou-kien, hoje: Fujian, 福建, @wikidata:Q41705 @dehergne:397%397/1644
    geo1$Honan#hoje:Henan, 河南, @wikidata:Q43684/geo1/obs=(12 ou 13 chrétientés en 1641)
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q43684"#hoje:Henan, 河南, @wikidata:Q43684%Q43684/1644
    geo1$Hukwang#Huguang?, Hou-Quang, hoje:Huguang,湖广, @wikidata:Q2235155/geo1/obs=Former province of China, corresponding to modern-day Hubei and Hunan provinces
      <rel$geografica/pertence região/Hukwang/deh-r1644-hukwang/1644
      <rel$geografica/pertence região/Hunan/deh-r1644-hunan/1644
      <rel$geografica/pertence região/Hukwang/deh-r1644-hukwang/1644
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q2235155"#Huguang?, Hou-Quang, hoje:Huguang,湖广, @wikidata:Q2235155%Q2235155/1644
      atr$alternative-name@wikidata/"https://www.wikidata.org/wiki/Q46862"%Houpeh/1644
      atr$alternative-name/Houpeh#Hou-pe, hoje:Hubei,湖北， @wikidata:Q46862/1644
    geo1$Hunan#Hou-nan, hoje:Hunan, 湖南, @wikidata:Q45761/geo1
      rel$geografica/pertence região/Hukwang/deh-r1644-hunan/1644
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q45761"#Hou-nan, hoje:Hunan, 湖南, @wikidata:Q45761%Q45761/1644
    geo1$Kiangnan#Jiangnan?hoje:Jiangnan, 江南, @wikidata:Q11133842, former province of China, corresponding to modern-day Jiangsu and Anhui provinces%KIANGNAN ou NANKING/geo1
      <rel$geografica/pertence região/Anhwei/deh-r1644-anhwei/1644
      <rel$geografica/pertence região/Kiangsu/deh-r1644-kiangsu/1644
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q11133842"#Jiangnan?hoje:Jiangnan, 江南, @wikidata:Q11133842, former province of China, corresponding to modern-day Jiangsu and Anhui provinces%Q11133842/1644
    geo1$Anhwei#Anhui, Ngon-hoei, hoje:Anhui, 安徽, @wikidata:Q40956/geo1
      rel$geografica/pertence região/Kiangnan/deh-r1644-anhwei/1644
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q40956"#Anhui, Ngon-hoei, hoje:Anhui, 安徽, @wikidata:Q40956%Q40956/1644
    geo1$Kiangsu#Jiangju, hoje: Jiangsu, 江苏, @wikidata:Q16963/geo1
      rel$geografica/pertence região/Kiangnan/deh-r1644-kiangsu/1644
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q16963"#Jiangju, hoje: Jiangsu, 江苏, @wikidata:Q16963%Q16963/1644
    geo1$Kiangsi#Jiangxi, Kiang-si, hoje: Jiangxi, 江西, @wikidata: Q57052/geo1
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q57052"#Jiangxi, Kiang-si, hoje: Jiangxi, 江西, @wikidata: Q57052%Q57052/1644
    geo1$Kwangsi#Guangxi, Koang-si, hoje: Guangxi, 广西, @wikidata: Q15176/geo1
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q15176"#Guangxi, Koang-si, hoje: Guangxi, 广西, @wikidata: Q15176%Q15176/1644
    geo1$Kwangtung#Guangdong, hoje:Guangdong, 广东, @wikidata: Q15175/geo1
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q15175"#Guangdong, hoje:Guangdong, 广东, @wikidata: Q15175%Q15175/1644
    geo1$Kwichow#Koei-Tcheou, hoje: Guizhou, 贵州, @wikidata: Q47097/geo1/obs=nada
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q47097"#Koei-Tcheou, hoje: Guizhou, 贵州, @wikidata: Q47097%Q47097/1644
    geo1$Pequim#@wikidata: Q956/geo1
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q956"#@wikidata: Q956%Q956/1644
    geo1$Shansi#Chan-si, hoje: Shanxi, 山西, @wikidata: Q46913/geo1
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q46913"#Chan-si, hoje: Shanxi, 山西, @wikidata: Q46913%Q46913/1644
    geo1$Shangtung#Chan-tong, Shandong, 山东, @wikidata: Q43407/geo1
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q43407"#Chan-tong, Shandong, 山东, @wikidata: Q43407%Q43407/1644
    geo1$Shensi#Chen-si @wikidata:Q47974, hoje: Shaanxi @dehergne:399/geo1
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q47974"#Chen-si @wikidata:Q47974, hoje: Shaanxi @dehergne:399%Q47974/1644
      atr$geoentity:name@dehergne/"https://archive.org/details/bhsi37/page/n399/mode/1up"#Chen-si @wikidata:Q47974, hoje: Shaanxi @dehergne:399%399/1644
    geo1$Szechwan#Se-tch'oan, hoje: Sichuan, 四川, @wikidata:Q19770/geo1
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q19770"#Se-tch'oan, hoje: Sichuan, 四川, @wikidata:Q19770%Q19770/1644
    geo1$Yunnan#hoje: Yunnan, 云南, @wikidata: Q43194/geo1
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q43194"#hoje: Yunnan, 云南, @wikidata: Q43194%Q43194/1644
      atr$activa/sim/<1638#antes desta data havia lá cristãos

## Obter modelos para acesso aos dados

---

## Obtain models for data access

In [8]:
db.get_models_ids()

['entity',
 'attribute',
 'relation',
 'act',
 'source',
 'aregister',
 'person',
 'object',
 'geoentity',
 'rentity',
 'class']

In [9]:
Model = db.get_model('geoentity')

with db.session() as session:
    entities = session.query(Model).all()
    for entity in entities[:10]:
        print(entity.to_kleio())
        print()

geo1$Chekiang#Tche-kiang, hoje:Zhejiang, 浙江, @wikidata:Q16967 @dehergne:396/geo1
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q16967"#Tche-kiang, hoje:Zhejiang, 浙江, @wikidata:Q16967 @dehergne:396%Q16967/1644
  atr$geoentity:name@dehergne/"https://archive.org/details/bhsi37/page/n396/mode/1up"#Tche-kiang, hoje:Zhejiang, 浙江, @wikidata:Q16967 @dehergne:396%396/1644

geo2$Hangchou#Hang-tcheou, hoje: Hangzhou, 杭州, @wikidata:Q4970/geo2
  atr$activa/sim/1611
  atr$residencia-missao/Jesuíta/1611
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q4970"#Hang-tcheou, hoje: Hangzhou, 杭州, @wikidata:Q4970%Q4970/1644

geo3$Fuyang#Fou-yang, hoje:Fuyang, 富阳, @wikidata:Q1011103/geo3
  atr$activa/sim/1642
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q1011103"#Fou-yang, hoje:Fuyang, 富阳, @wikidata:Q1011103%Q1011103/1644

geo3$Jenho#Jen-houo, hoje: Renhe, 仁和县, Historical county name. coordinate: 30.448897N, 120.307504E/geo3/obs=no wikidata.
  atr$activa/sim/1608

geo2$Chüchow#"""K'iu-tcheou, hoje:Quzhou, 衢州, @wikidata:Q58235, in the Chinese translation it is recognized as “遂州”, which is wrong, both phonetically and geographically. In Dehergne(1957), it is noted as "衢州"."""/geo2/obs="""      in the Chinese translation it is recognized as “遂州”, which is wrong, both
  phonetically and geographically. In Dehergne(1957), it is noted as "衢州".
  """
  atr$activa/sim/1613
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q58235"#"""K'iu-tcheou, hoje:Quzhou, 衢州, @wikidata:Q58235, in the Chinese translation it is recognized as “遂州”, which is wrong, both phonetically and geographically. In Dehergne(1957), it is noted as "衢州"."""%Q58235/1644

geo2$Huchow#Hou-tcheou, hoje: Huzhou, 湖州, @wikidata:Q42664/geo2
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q42664"#Hou-tcheou, hoje: Huzhou, 湖州, @wikidata:Q42664%Q42664/1644

geo3$Tehtsing%""""Tehtsing du Huchow, Té-ts'ing;Teching, hoje: Deqing, 德清, @wikidata:Q1191987""""/geo3
  atr$activa/sim/1620

geo2$Kashing#Kia-hing, hoje:Jiaxing, 嘉兴, @wikidata:Q58178/geo2
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q58178"#Kia-hing, hoje:Jiaxing, 嘉兴, @wikidata:Q58178%Q58178/1644

geo3$Kashan#Kia-chan, hoje: Jiashan, 嘉善, @wikidata:Q1361347%Kaosham/geo3/obs="""
               The place name in the book Dehergne(1973) is "Kaoshan", and in the Chinese translation it is recognized as “高山”. But this place cannot be found. According to Dehergne(1957), it probably shoud be "Kashan 嘉善", which means in the 1973 book, this place is wrongly spelled by mistake."""
  atr$activa/sim/1640
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q1361347"#Kia-chan, hoje: Jiashan, 嘉善, @wikidata:Q1361347%Q1361347/1644

geo3$Tangsi#""""T'ang-k'i Tangchi", hoje:Tangqi, 塘栖 @wikidata:Q10931032, in the Chinese translation it is recognized as “塘拪”"""/geo3
  atr$activa/sim/1642
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q10931032"#"T'ang-k'i Tangchi", hoje:Tangqi, 塘栖 @wikidata:Q10931032, in the Chinese translation it is recognized as “塘拪”%Q10931032/1644