> First time use: follow instructions in the README.md file in this directory.

# Network analysis of the Jesuit Mission in China

## First time usage

In the VSCode Terminal type

> pip install networkx[all]

This will install the network analysis and visualization packages used bellow.

In [4]:
import os
from dotenv import dotenv_values
import pandas
import ipywidgets as widgets

home_dir=os.getenv('HOME')
print("home  : "+home_dir)
mhk_env = dotenv_values(home_dir+"/.mhk")
mhk_home_dir=mhk_env['HOST_MHK_HOME']
app_env = dotenv_values(mhk_home_dir+'/app/.env')
pwd = app_env['MYSQL_ROOT_PASSWORD']

home  : /Users/joaquimcarvalho

In [5]:
%load_ext sql

In [6]:
connection_string = "mysql+mysqlconnector://root:{pwd}@localhost:3307/mysql".format(pwd=pwd)
%sql $connection_string
databases = %sql SELECT table_schema FROM information_schema.tables WHERE  table_name = 're';
databases

 * mysql+mysqlconnector://root:***@localhost:3307/mysql
4 rows affected.

[('ilhavo',), ('mhk',), ('soure_editor',), ('toliveira_china',)]

In [9]:
db = "toliveira_china"
connection_string = "mysql+mysqlconnector://root:{pwd}@localhost:3307/{db}".format(pwd=pwd,db=db)
%sql $connection_string
%config SqlMagic.displaycon=False

In [10]:
%sql select class, count(*) from entities group by class

9 rows affected.

[('act', 33),
 ('attribute', 19115),
 ('carta', 5),
 ('class', 17),
 ('evento', 45),
 ('person', 2253),
 ('relation', 3362),
 ('rperson', 65),
 ('source', 30)]